@import './variable';

// Input common
input[type]:not(
    [type='checkbox'],
    [type='color'],
    [type='radio'],
    [type='file']
  ),
textarea {
  width: 100%;
  color: #333;
  border: none;
  outline: none;
  align-items: center;
  padding: 10px;
  background: #e7e9ef;
  border-radius: 6px;
}

.input-group {
  .form-control {
    width: auto !important;
  }
}

.input-disabled {
  cursor: not-allowed;
  opacity: 0.7 !important;
}

input.custom-input-color {
  width: 100%;
  height: 40px;
}

.custom-input-search {
  border: none;
  padding: 0 10px;
  height: 100%;
  border-radius: 6px;
  background: #e7e9ef;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Form
.custom-form {
  &.disabled {
    .form-control {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}

//button
button:disabled,
button[disabled] {
  cursor: not-allowed !important;
}

.btn-primary {
  border: none !important;
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-default-color {
  color: $neutral;
  background: unset;
  border-radius: 8px;
  border: 1px solid $neutral;
  padding: 5px 10px;

  &:hover {
    color: $neutral;
  }
}

.btn-outline-blue {
  color: var(--bs-blue);
  border: 1px solid var(--bs-blue);
  border-radius: 6px;
  background-color: #4277ff1a;
  font-weight: 500;

  &:hover {
    color: var(--bs-blue);
    border: 1px solid var(--bs-blue);
    border-radius: 6px;
    background-color: #4277ff1a;
    font-weight: 500;
  }
}

.btn-outline-neutral {
  color: var(--bs-neutral);
  border: 1px solid var(--bs-neutral);
  border-radius: 6px;
  font-weight: 500;

  &:hover {
    color: var(--bs-neutral);
    border: 1px solid var(--bs-neutral);
    border-radius: 6px;
    background-color: #171c4e3f;
    font-weight: 500;
  }
}

.button-sync {
  button {
    color: $neutral !important;
    background-color: #e7e9ef !important;

    &:hover {
      background-color: #e7e9ef !important;
    }

    height: 40px;
  }
}

.button-add-new {
  border-radius: 6px;
  background-color: #2e77fa;
  color: #fff;
  border: none;
  padding: 5px 10px;
}

.button-import-excel {
  border-radius: 6px;
  background-color: #dedede;
  color: $neutral;
  border: none;
  padding: 5px 10px;
}

.button-download {
  border: 1px solid #dedede;

  &:hover {
    border: 1px solid #dedede;
  }
}

.btn-action-table {
  padding: 6px;
  cursor: pointer;
  color: $neutral-300;
  i {
    color: $neutral-300;
  }
}

.btn-modal.button-delete {
  color: #f24e1e;
  border-radius: 6px;
  border: 1px solid #f24e1e;
}

.disable-button {
  cursor: not-allowed !important;
  opacity: 0.6;

  .ng-select-container {
    cursor: not-allowed !important;
  }
}

.input-size-lg {
  height: 40px;
}

.input-size-sm {
  height: 35px;
}

// icon
.icon-help {
  color: #999;
}

//ng-select
//.ng-select ::ng-deep .ng-arrow-wrapper {
//  .ng-arrow {
//    display: none;
//  }
//
//  height: 14px;
//  width: 14px;
//  background-image: url('/assets/images/icon-caret-down.svg') !important;
//  background-repeat: no-repeat;
//  margin-right: 12px;
//  margin-left: 10px;
//  margin-top: 5px;
//}
//.ng-select.ng-select-multiple
//  .ng-select-container
//  .ng-value-container
//  .ng-value {
//  //background-color: unset !important;
//}

.ng-select {
  .ng-arrow-wrapper {
    //padding-right: 10px;
    padding-bottom: 3px;
  }
  .ng-arrow {
    border-color: inherit !important;
    border-width: 0 !important;
    font-size: 16px;
    top: 0 !important;
    left: -6px;
    color: inherit;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: 8px 12px;
    transition: transform 0.2s ease;
    &:before {
      content: url('../../assets/images/icon-caret-down.svg') !important;
    }
  }

  &.ng-select-opened {
    .ng-arrow {
      transform: rotate(180deg);
      top: 1px !important;
      left: -8px !important;
    }
  }
}

.ng-select .ng-optgroup {
  font-weight: 500;
  color: #000 !important;
}

.ng-select .sub-option {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.8em;
  line-height: 1.8em;
  font-style: italic;
  font-size: 14px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 100%;
  border: none;
  background: #e7e9ef;
  border-radius: 6px;
}

.ng-select.ng-select-multiple .ng-select-container,
.ng-select.ng-select-single .ng-select-container {
  height: 100%;
  border: none;
  background: #e7e9ef;
  border-radius: 6px;
  min-height: 36px;
}

.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected
  .ng-option-label,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked
  .ng-option-label {
  font-weight: 500;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: $input-placeholder-color;
  top: unset !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: unset !important;
}

.ng-select-custom,
.ng-select-custom.ng-select-single,
.ng-select-custom.ng-select-multiple {
  width: auto;
  max-width: 500px;
  min-width: 150px;
  height: 41px;
  border-radius: 6px;

  .ng-select-container {
    min-height: 35px;
    color: var(--bs-body-color);
    background: $gray-400;
    border-radius: 6px;
  }

  &.h-lg {
    .ng-select-container {
      min-height: 36px;
      height: 40px;

      .ng-input {
        top: 10px;
      }
    }
  }

  &.has-error {
    .ng-select-container {
      border-color: #dc3545;
      // .ng-placeholder {
      //   color: #dc3545;
      // }
    }
  }
}

.ng-select-custom.ng-select-opened {
  .ng-select-container {
    background: #e7e9ef;
    border-radius: 6px;
  }
}

.ng-select-to-icon {
  .ng-arrow-wrapper {
    display: none;
  }
}

.ng-select-custom.ng-select-opened {
  .ng-select-container {
    background: #e7e9ef;
    border-radius: 6px;
  }
}
.ng-select-disabled {
  opacity: 0.6;

  .ng-select-container,
  input,
  .ng-placeholder {
    cursor: not-allowed !important;
  }
}

.ng-select-custom.ng-select-disabled {
  .ng-select-container,
  input,
  .ng-placeholder {
    cursor: not-allowed !important;
  }
}

.ng-select-custom.option-white-space-unset
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option {
  white-space: unset;
}

.ng-select-custom.ng-select-multiple .ng-select-container .ng-value-container {
  .ng-value {
    background-color: $gray-400;
    border-radius: 16px;

    .ng-value-icon.left {
      border-right: 1px solid $gray-400;
    }

    .ng-value-label div {
      color: var(--bs-body-color);
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.ng-select-custom.bg-white {
  .ng-select-container {
    background-color: $white;
  }
}

.select-action-filter {
  .ng-select-container {
    background: #e7e9ef;
    border-radius: 6px;
    border: none;
    width: 120px !important;
  }
}

.ng-select-filter {
  .ng-select-container {
    background: $white !important;
    min-width: 150px;
  }
}

.select-non-back {
  .ng-select-container {
    background: $white !important;

    &:hover {
      border-color: unset !important;
      box-shadow: none !important;
    }
  }

  &.ng-select.ng-select-focused > .ng-select-container {
    border-color: unset !important;
    box-shadow: none !important;
  }
}

ng-select.custom-input-multiple {
  .ng-select-container {
    .ng-value-container {
      .ng-value {
        display: flex;
        align-items: center;
        background-color: #fff !important;
        border: 1px solid #d8d8d8 !important;
        border-radius: 4px !important;
        padding: 1px 8px !important;
        overflow: hidden;

        .label {
          max-width: 200px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .ng-value-icon {
          padding: 0 5px !important;
          border: none !important;

          &:hover {
            background-color: #dedede !important;
          }

          display: none !important;
        }

        &:hover {
          .ng-value-icon {
            display: unset !important;
          }
        }
      }
    }
  }
  &.disabled {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          .ng-value-icon {
            display: none !important;
          }
          &:hover {
            .ng-value-icon {
              display: none !important;
            }
          }
        }
      }
      .ng-arrow-wrapper {
        display: none;
      }
    }
  }
}

ng-select.custom-input-multiple-round {
  .ng-select-container {
    .ng-value-container {
      // border: 1px solid red;
      display: flex !important;
      max-height: 40px;
      flex-wrap: nowrap !important;
      overflow: hidden;
      .ng-value {
        display: flex;
        align-items: center;
        background-color: #fff !important;
        border: none !important;
        border-radius: 100px !important;
        padding: 2px 4px !important;
        overflow: hidden;
        flex-shrink: 0;
        .label {
          max-width: 200px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .ng-value-icon {
          padding: 0 5px !important;
          border: none !important;
          background-color: $neutral-400;
          color: $white;
          // border: 1px solid red !important;
          // background-color: none;
          // color: red;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          display: flex !important;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: $neutral-400 !important;
          }
        }
      }
    }
  }
  &.disabled,
  &.ng-select-disabled {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          .ng-value-icon {
            display: none !important;
          }
          &:hover {
            .ng-value-icon {
              display: none !important;
            }
          }
        }
      }
      .ng-arrow-wrapper {
        display: none;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(240, 240, 240);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    padding: 5px 0px;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
}

ng-select.custom-input-tag {
  .ng-select-container {
    width: 300px;
    .ng-value-container {
      .ng-value {
        background-color: unset !important;

        .ng-value-icon {
          border: none !important;

          &:hover {
            background-color: #dedede !important;
          }
        }

        &:hover {
          .ng-value-icon {
            display: unset !important;
          }
        }
      }
    }
  }
  &.full-width {
    .ng-select-container {
      width: 100%;
    }
  }
}

ng-select.custom-input-number {
  .ng-select-container {
    .ng-value-container {
      .ng-value {
        background-color: #fff !important;

        .ng-value-icon {
          border: none !important;

          &:hover {
            background-color: #fff !important;
          }

          display: none !important;
        }

        &:hover {
          .ng-value-icon {
            display: unset !important;
          }
        }
      }
    }
  }
}

.ng-select .ng-clear-wrapper {
  margin-left: 10px;
}

.ng-select.dropdown-large {
  .ng-dropdown-panel {
    width: 200% !important;
  }
}

.ng-select.dropdown-auto-width {
  .ng-dropdown-panel {
    min-width: 100%;
    width: auto !important;
  }
}

.ng-dropdown-panel {
  border: none !important;
  box-shadow: 0 4px 12px 0 #0000001a !important;
}

// end ng-select

// custom select search input
.custom-select-input-search {
  background: #e7e9ef;
  border-radius: 6px;
  padding-left: 15px;

  ng-select {
    width: 100%;
    height: 39px;

    .ng-select-container {
      min-height: 39px !important;
      height: 39px;
    }
  }
}

ng-select.select-search-icon {
  ng-dropdown-panel {
    width: calc(100% + 37px) !important;
    left: -37px !important;
  }

  &.ng-select.ng-select-focused > .ng-select-container {
    /* border-color: #007eff; */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 3px rgba(0,126,255,0.1); */
    border-color: unset !important;
    box-shadow: unset !important;
  }
}

.popover-change-histories {
  white-space: wrap !important;
  .table-change-histories {
    .column-note {
      width: 150px;
      div {
        @include limit-text-row(3);
      }
    }
  }
}

.popover {
  white-space: nowrap;
  max-width: 100%;

  &.custom-popover-tab {
    // z-index of bs-dropdown-menu is 1040
    z-index: 1039;
    .popover-body {
      width: 250px;
      padding: 10px;
    }
    // .popover-arrow {
    //   display: none;
    // }
    .list-tab {
      max-height: 500px;
      .tab-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: $radius-s;
        cursor: pointer;
        &-title {
          max-width: 150px;
          @include limit-text-row(1);
        }
        &.active {
          background-color: $neutral-100;
        }
        &:hover {
          background-color: $neutral-100;
        }
      }
      @extend .custom-scrollbar;
    }
  }
  &.custom-popover-dropdown {
    // z-index of bs-dropdown-menu is 1040
    margin-right: 180px;

    .popover-body {
      width: fit-content;
      padding: 0px 10px;
    }

    .tab-item {
      padding: 10px;
      white-space: pre-wrap;
      font-weight: 500;
      cursor: pointer;
      &.active {
        background-color: $neutral-100;
      }
      &:hover {
        background-color: $neutral-100;
      }
    }
  }

  &.filter-advance-popover-tab {
    margin-right: 180px;
    position: relative;
    z-index: 998;
    .button-close {
      position: absolute;
      top: -10px;
      right: -10px;
      cursor: pointer;
      background: $neutral-200;
      border-radius: 50%;
      width: 25px !important;
      height: 25px !important;
      padding: 0;
    }
    .popover-body {
      width: 800px;
    }

    .ng-select.ng-select-multiple
      .ng-select-container
      .ng-value-container
      .ng-value {
      white-space: pre-wrap;
    }
  }
}

// Card body
.card-body {
  background-color: $white !important;
  border-radius: 6px !important;
}

// progress bar
@keyframes widthScale {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  50% {
    margin-left: -50%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes sizeScale {
  0% {
    scale: 0.1;
  }
  50% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}

progressbar.custom-progress {
  height: 12px !important;
  border-radius: 8px !important;

  bar {
    border-radius: 8px !important;
    margin-left: 0;
    opacity: 1;
    animation: widthScale linear 0.6s;

    .metrics {
      animation:
        widthScale linear 0.6s,
        sizeScale linear 0.6s;
    }
  }
}

.good {
  bar {
    background-color: #7dc066 !important;
  }
}

.normal {
  bar {
    background-color: #eed781 !important;
  }
}

.bad {
  bar {
    background-color: #ef6a6a !important;
  }
}

// table
.table-responsive {
  .col-resizable th::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 15px;
    width: 2px; /* Adjust the handle width as needed */
    cursor: col-resize;
    background: transparent;
    z-index: 1;
  }

  .col-resizable th:hover::after {
    background-color: #f0f0f0;
  }
  &.thin-table {
    table {
      th {
        padding: 8px;
      }
    }
  }
  table {
    background-color: $white !important;
    //min-width: 1500px !important;

    td {
      background-color: $white !important;
    }

    th,
    td {
      // background-color: $white !important;
      max-width: 350px;

      &.separate-row {
        background-color: $neutral-50 !important;
        border-radius: $radius-s;
        height: 36px;
        padding: 0 10px;
      }
    }

    tr:first-child {
      &:hover {
        .resize-holder {
          display: block;
        }
      }
    }

    th {
      position: relative;
    }

    .resize-holder {
      cursor: col-resize;
      width: 20px;
      height: 80%;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: none;

      &::before {
        position: absolute;
        right: 10px;
        content: '';
        width: 1px;
        height: 100%;
        background-color: #dedede;
      }
    }
  }
}

table {
  th,
  td {
    background-color: $white !important;
    max-width: 350px;
  }

  .th-allow-sort {
    cursor: pointer;

    .icon-sort {
    }
  }

  .footer-total {
    position: sticky;
    bottom: 0;
    box-shadow: 0px -2px 10px 0px rgba(196, 188, 188, 0.38);
    -webkit-box-shadow: 0px -2px 10px 0px rgba(196, 188, 188, 0.38);
    -moz-box-shadow: 0px -2px 10px 0px rgba(196, 188, 188, 0.38);

    td {
      border-top: 1px solid var(--bs-gray-200);
    }
  }
}

.table-borderless {
  tr,
  th,
  td {
    border: none !important;
  }
}

// tooltip

.ng-tooltip {
  position: absolute;
  max-width: 270px;
  font-size: 12px;
  text-align: center;
  padding: 16px;
  z-index: 1000;
  opacity: 0;
  background: $white;
  border-radius: 6px;
  color: $neutral;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
}

.ng-tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
}

.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: $white transparent transparent transparent;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.1);
}

.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent $white transparent;
}

.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent $white;
}

.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent $white transparent transparent;
}

.ng-tooltip-show {
  opacity: 1;
  z-index: 1000000;
}

// more
span.required {
  color: #e70c0c;
  margin-right: 3px;
}

// Tab
.custom-tab-basic {
  .nav-tabs {
    padding: 0;
    overflow: hidden;

    //border-bottom: none;
    .nav-link {
      border: none;
      color: #afb2bd !important;
      border-radius: unset !important;

      &:hover {
        border: none;
      }

      &.active {
        background-color: unset !important;
        border: none;
        color: $neutral !important;
        border-bottom: 3px solid $neutral;
      }
    }
  }

  .nav-item {
    .nav-link {
      position: relative !important;

      &:hover {
        .button-edit-tab {
          display: unset;
        }
      }
    }
  }
}

.custom-tab-basic.custom-tab-segment {
  .nav-tabs {
    gap: 5px;

    .nav-item {
      background-color: $white;
    }

    .nav-link {
      width: 100%;
      height: 100%;
      padding: 0 !important;

      .content-header-tab {
        width: 100%;
        height: 100%;
        padding: 8px 20px;
      }
    }
  }
}

.header-filter {
  position: relative;
  .button-previous {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #fff 58%, rgba(rgb(245, 246, 247), 0));
    &.hide {
      position: unset;
      display: none !important;
    }
  }
  .button-next {
    z-index: 1;
    // position: absolute;
    // right: 180px;
    // top: 0;
    width: 50px;
    background: linear-gradient(270deg, #fff 58%, rgba(rgb(245, 246, 247), 0));
    &.hide {
      display: none !important;
    }
  }
  .list-button-header {
    //background-color: $white;
    height: 36px;
    width: 180px;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid $neutral-100;
    .button-edit-tab {
      border: none;
      background: none;
      position: absolute;
      display: none;
    }

    .button-all-view {
      background-color: unset;
      border: none;
      padding: 5px;
      height: 30px;
    }

    .button-scroll-tab {
      background-color: unset;
      border: none;
      padding: 5px;
      width: 30px;
      height: 30px;
      border-radius: $radius-s;

      &:hover {
        background-color: $neutral-100;
      }

      &.previous {
        transform: rotate(180deg);
      }
    }
    .separate {
      width: 1px;
      height: 20px;
      background-color: $neutral-200;
      transform: translateY(5px);
      margin: 0 5px;
    }
    .button-add-tab {
    }
    &.left {
      justify-content: flex-start !important;
      width: 50px;
    }
    &.right {
      width: 50px;
      justify-content: flex-end;
    }
  }
  // .content-tab-filter {
  //   width: calc(100% - 700px);
  // }
}

bs-tooltip-container.custom-tooltip-tab-filter {
  top: 6px !important;
}

.custom-tab-basic.tab-filter-data {
  .nav-tabs {
    max-width: 100%;
    //height: $input-medium;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;

    .nav-item {
      flex: 0 0 auto;
    }

    //border-bottom: none;
    .nav-link {
      display: flex;
      align-items: center;
      border: none;
      color: #afb2bd !important;
      border-radius: unset !important;
      padding: 5px 20px;
      height: 36px;
      .button-edit-tab {
        display: none;
      }

      .tab-name {
        max-width: 250px;
        @include limit-text-row(1);
      }

      .control-change {
        //display: flex;
        align-items: center;
        margin-left: 5px;
        background-color: $orange-500;
        color: $white;
        padding: 2px 10px;
        border-radius: 12px;
        cursor: default;
        height: 24px;
        overflow: hidden;
        //width: 145px;
        width: 0;
        //visibility: hidden;
        display: none;
        div {
          font-weight: 400;
          font-size: 12px;
          width: 70px;
          @include limit-text-row(1);
        }
        i {
          cursor: pointer;
          &.fa-check:hover {
            color: $green-500;
          }
          &.fa-times:hover {
            color: $red-500;
          }
        }
        &.show {
          animation: showChange 0.2s forwards;
          display: flex;
        }
        &.hide {
          animation: hideChange 0.2s forwards;
          display: none;
        }
      }

      @keyframes showChange {
        0% {
          display: none;
          width: 0;
        }
        10% {
          display: none !important;
          width: 15px;
        }
        20% {
          display: none !important;
          width: 30px;
        }
        30% {
          display: flex !important;
          width: 50px;
        }
        50% {
          display: flex !important;
          width: 70px;
        }
        60% {
          display: flex !important;
          width: 100px;
        }
        80% {
          display: flex !important;
          width: 120px;
        }
        100% {
          display: flex !important;
          width: 145px;
        }
      }

      @keyframes hideChange {
        0% {
          display: flex;
          width: 145px;
        }
        50% {
          display: flex;
          width: 70px;
        }
        80% {
          display: flex;
          width: 30px;
        }
        100% {
          display: none;
          width: 0;
        }
      }

      &:hover {
        border: none;
      }

      &.active {
        padding: 5px 10px 5px 20px;
        background-color: unset !important;
        border: none;
        color: $secondary-500 !important;
        border-bottom: 3px solid $secondary-500;
        .button-edit-tab {
          display: flex;
        }
      }
    }
  }

  .button-edit-tab {
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    background-color: $white;
    border: none;
    i {
      font-size: 10px;
    }
  }
  .input-edit-tab {
    width: 120px;
    border: 1px solid #4277ff;
    border-radius: $radius-s;
    &:focus {
      border-color: #4277ff !important;
      outline: none !important;
    }
    &:hover {
      border-color: #4277ff !important;
      outline: none !important;
    }
    &:active {
      border-color: #4277ff !important;
      outline: none !important;
    }
  }
}

//custom-accordion
accordion.custom-accordion {
  .panel-heading {
    padding: 0;

    .btn-block {
      border: none;
      background-color: $white;
      padding: 0;

      &:active {
        border: none !important;
        //background-color: unset;
      }
    }

    all: unset !important;
  }

  .panel-body {
    padding: 0;
  }
}

accordion.accordion-white {
  accordion-group.panel {
    border: 1px solid $neutral-100;
    border-radius: $radius-s;
    overflow: hidden;
    & + accordion-group.panel {
      margin-top: 10px;
    }
  }
  .panel {
    .card-header {
      background-color: $white;
    }
  }
  &.header-gray {
    .panel {
      border-radius: 9px;
      .card-header {
        background-color: $neutral-100;
      }
    }
  }
}

// Other
.sort-none {
  color: #dadada;
}

.text-link {
  color: $secondary-500;
}

// Tag style

$price-tag-color: $white;
$price-tag-height: 20px;
$price-tag-corner: 4px;
$price-tag-dot-radius: 6px;
$price-tag-dot-background: $white;

.tag-item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  height: $price-tag-height;
  margin-left: 10px;
  padding: 0 5px 0 10px;
  color: $price-tag-color;
  border-radius: $price-tag-corner;
  line-height: 1;
  justify-content: center;
  text-shadow: 0 0 1px #999;
  font-size: 12px;
  background-color: #000;

  span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    left: -7px;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    border-radius: $price-tag-corner;
    background-color: inherit;
  }

  &::after {
    z-index: 1;
    top: 50%;
    left: -10px;
    width: $price-tag-dot-radius;
    height: $price-tag-dot-radius;
    transform: translate(-50%, -50%) translateX(10px);
    border-radius: 3px;
    background-color: $price-tag-dot-background;
  }

  span {
    position: relative;
    z-index: 1;
  }

  &.tag-nameless {
    height: 14px;

    &::before {
      left: -5px;
      width: 12px;
      height: 12px;
    }

    &::after {
      width: 4px;
      height: 4px;
    }
  }
}

.modal-supper-large {
  width: 90vw !important;
  height: auto;
  max-height: 90vh;
  max-width: unset !important;
}

i {
  &.button-edit {
    color: #4ecb71;
  }

  &.button-redirect {
    color: #699bf7;
  }

  &.button-delete {
    color: #f24e1e;
  }
}

.badge-status {
  text-align: center;
  display: inline-block;
  padding: 4px 8px;
  color: #fff;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.helpText {
  font-size: 12px;
  color: #afb2bd;
  margin-top: 5px;
  font-style: italic;
}

// Custom scrollbar
.custom-scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: auto;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;

    &:hover {
      background: #f1f1f1;
    }
  }

  &::-webkit-scrollbar-thumb {
    cursor: auto;
    background: #8c8c8c;
    border-radius: 5px;
    display: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      display: block;
    }
  }
}

.modal-content {
  background: #fff;
}

.image-product-radius {
  border-radius: 8px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.form-switch {
  cursor: pointer;
  .form-check-input {
    cursor: pointer;
  }
  .form-check-input:checked {
    background-color: #7ec964;
    border-color: #7ec964;
  }
}

.dropdown-menu-custom {
  transform: translateY(-9px) !important;
  .dropdown-item {
    padding: 10px 15px;
    &:hover {
      background-color: $secondary-100 !important;
    }
    &:active {
      color: $neutral;
    }
    img {
      width: 16px;
      height: 16px;
      object-fit: cover;
    }
  }
}

.popover {
  background-color: white;
  color: $neutral-500;
}

.popover > .arrow:after {
  border-right-color: white;
}

// TREE_SELECT
.custom-tree-select {
  display: flex;
  align-items: center;
  border: none;
  background-color: #e7e9ef;
  .p-overlay {
    z-index: 1052 !important;
  }

  .p-treeselect-label.p-placeholder {
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    color: #979aa6;
  }

  .p-treeselect-label {
    font-size: 14px;
  }

  .p-placeholder {
    font-size: 13px;
  }

  .p-treenode-label {
    font-family: Roboto;
  }

  .p-treeselect-items-wrapper {
    .p-tree-selectable {
      padding: 10px;

      .p-treenode-content {
        font-size: 14px;
        padding: 0;
      }

      .p-treenode-children {
        padding-left: 10px;
      }
    }
  }

  &.show-in-above {
    .p-treeselect-items-wrapper {
      height: 200px !important;
    }
    .p-overlay.p-component.ng-star-inserted {
      top: -200px !important;
    }
  }

  &.is-invalid {
    .p-inputwrapper {
      border: 1px solid #dc3545;
    }
  }

  &.fw-normal {
    .p-treeselect-label {
      font-size: 12px;
    }

    .p-placeholder {
      font-size: 12px;
    }
  }
}

// COMMON STYLE
//.modal-open .modal {
//  background: #00000077;
//}
//.modal.fade {
//  background: rgba(0, 0, 0, 0.5);
//}
//
//.modal-backdrop.fade {
//  opacity: 0;
//}
//.modal + .modal {
//  background: rgba(0, 0, 0, 0.6);
//}
.spinner-custom {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-custom 1s infinite linear;

  &:before,
  &:after {
    content: '';
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }

  &:before {
    border-color: $neutral-600 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }

  &:after {
    border-color: #0000 $neutral-600;
  }
}

@keyframes spinner-custom {
  100% {
    transform: rotate(1turn);
  }
}
.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-table-icon {
  color: $neutral-300;
  i {
    color: $neutral-300;
  }
}
.button-submit-modal {
  background: $secondary-500 !important;
  color: $white !important;
  padding: 0 16px 0 16px !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
}
.button-sub-primary-modal {
  background: $secondary-100 !important;
  color: $secondary-500 !important;
  padding: 0 16px 0 16px !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
}
.button-default-modal {
  border: 1px solid $neutral-100 !important;
  color: $neutral-400 !important;
  background-color: $white !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  padding: 0 16px 0 16px !important;
}
.button-outline-modal {
  @extend .button-default-modal;
  color: $secondary-500 !important;
  border-color: $secondary-500 !important;
}
.button-delete-modal {
  border: 1px solid $red-500 !important;
  color: $red-500 !important;
  background-color: $white !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  padding: 0 16px 0 16px !important;
}

.state-warning {
  border: 1px solid $orange-300;
  background: $orange-100;
  color: $orange-500;
  border-radius: $radius-s;
  padding: 12px;
}

.state-error {
  border: 1px solid $red-300;
  background: $red-100;
  color: $red-500;
  border-radius: $radius-s;
  padding: 12px;
}
