@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin calculateSize(
  $property,
  $minuend: '0px',
  $subtrahend1: '0px',
  $subtrahend2: '0px',
  $subtrahend3: '0px',
  $subtrahend4: '0px'
) {
  #{$property}: calc(
    #{$minuend} - #{$subtrahend1} - #{$subtrahend2} - #{$subtrahend3} - #{$subtrahend4}
  );
}

@mixin box-shadow($top, $left, $blur, $color, $inset: '') {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin limit-text-row($number) {
  overflow: hidden;
  line-clamp: $number;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

@mixin imageCircle($size) {
  width: $size;
  height: $size;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin font-source($size: false, $colour: false, $weight: false, $lh: false) {
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
}

@mixin pseudo(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $pos: absolute,
  $content: ''
) {
  content: $content;
  display: $display;
  position: $pos;
  @include box($width, $height);
}

@mixin custom-scrollbar() {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: auto;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;

    &:hover {
      background: #f1f1f1;
    }
  }

  &::-webkit-scrollbar-thumb {
    cursor: auto;
    background: #8c8c8c;
    border-radius: 5px;
    display: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      display: block;
    }
  }
}

@mixin flexBox($align: flex-start, $justify: flex-start, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin flexGap($gap_y, $gap_x) {
  gap: $gap_y $gap_x;
}

@mixin textDecoration($fs, $fw, $lh, $color: #141415) {
  font-size: $fs;
  font-weight: $fw;
  line-height: 20px;
  color: $color;
}
@mixin decorateText($fs, $fw, $color: #141415) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

@mixin imageConfig($w, $h, $objectFit) {
  width: $w;
  height: $h;
  object-fit: $objectFit;
}

@mixin overText($w, $line: 1) {
  max-width: $w;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin overTextMultiLine($w, $line: 1) {
  display: -webkit-box;
  max-width: $w;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin positionAbsoluteConfig(
  $w: 100%,
  $h: 100%,
  $top: 0,
  $left: 0,
  $zIndex: 0
) {
  position: absolute;
  width: $w;
  height: $h;
  top: $top;
  left: $left;
  z-index: $zIndex;
}

@mixin positionAbsoluteConfigWithRight(
  $w: 100%,
  $h: 100%,
  $top: 0,
  $right: 0,
  $zIndex: 0
) {
  position: absolute;
  width: $w;
  height: $h;
  top: $top;
  right: $right;
  z-index: $zIndex;
}

@mixin changeColorSVG($color) {
  svg path {
    &:where([stroke]) {
      stroke: $color;
    }
    &:where([fill]) {
      fill: $color;
    }
  }
}

@mixin changeSizeSVG($size) {
  svg {
    width: $size;
    height: $size;
  }
}
