// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .nav {
    //display: block !important;
    overflow-x: auto;
  }
  .navigation-list-tab {
    flex-wrap: wrap;
    //gap: 5px;
    & > div {
      flex: 50%;
      padding-top: 10px;
    }
  }
}

@media (max-width: 767.98px) {
  .config-site {
    .card-item {
      width: 100% !important;
    }
  }

  .list-customer-site {
    .list-button-header {
      height: 39px;
    }

    .custom-tab-basic.tab-customer {
      .nav-tabs {
        width: calc(100% - 98px);
      }
    }
  }
  .summary-site {
    .side.side-left {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .list-customer-site {
    .header-filter {
      height: 100px !important;

      .custom-input-search {
        height: 40px;
      }
    }
  }
}

@media (max-width: 867px) {
  .ng-select-container {
    height: 40px !important;
  }
  .custom-date-picker {
    height: 40px !important;
  }
  .smax-dropdown {
    height: 40px;
  }
  .bs-datepicker-custom-range {
    display: none;
  }
  .list-customer-site {
    .header-filter {
      height: unset !important;
      //height: 100px !important;
      .custom-input-search {
        height: 40px;
      }
    }
  }
  .marketer-site {
  }
  .config-site {
    .list-config {
      flex-direction: column-reverse;

      .columns {
        width: 100%;
      }
    }
  }

  .setting-site {
    height: unset !important;

    .list-config {
      flex-direction: column;

      .columns {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 867px) {
  bs-daterangepicker-container {
    left: 10% !important;
  }
}

//@media (min-width: 867px) {
//  bs-daterangepicker-container {
//    left: -10% !important;
//  }
//}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (max-width: 992px) {
  .summary-site {
    flex-direction: column;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .marketer-site,
  .product-site {
    .button-toggle-side {
      display: none;
    }

    .side-left {
      padding: 20px;
      width: 80% !important;
    }

    .side-right-bar {
      position: unset !important;
      width: 20% !important;
    }
  }
}
