<ng-container *transloco="let tc; read: 'common'">
  <div>
    <div
      [ngClass]="{'is-invalid': error.fromTo}"
      class="input-range-number d-flex w-100 px-2"
    >
      <div class="input-number d-flex align-items-center w-45">
        <div>{{ tc('message.from') }}:</div>
        <app-input-mask
          id="from"
          [isQuantity]="true"
          [value]="valueRangeNumber[0]"
          (changeValue)="handleChangeValueRangeNumber($event, 0)"
          (input)="handleChange($event, 0)"
        ></app-input-mask>
      </div>
      <div class="icon w-15 d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-arrow-right-long px-2"></i>
      </div>
      <div class="input-number d-flex align-items-center w-45">
        <div>{{ tc('message.to') }}:</div>
        <app-input-mask
          id="to"
          [isQuantity]="true"
          [value]="valueRangeNumber[1]"
          (changeValue)="handleChangeValueRangeNumber($event, 1)"
          (input)="handleChange($event, 1)"
        ></app-input-mask>
      </div>
    </div>
    <div *ngIf="error.fromTo" class="non-form-invalid-feedback">
      <div>{{ tc('validateMessage.fromTo') }}</div>
    </div>
  </div>
</ng-container>
