.source {
  position: relative;
  display: none;
  line-height: 18px;

  .dropdown-item {
    padding: 0;
    &.active {
      background-color: #eef0f3;
      color: var(--bs-body-color);
    }
  }
  &__header {
    padding: 11px 16px;
  }

  &__list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    width: 200px;
    .item {
      cursor: pointer;
    }

    .source {
      &__list {
        overflow-x: hidden;
        top: 0;
        right: 100%;
        max-height: 400px;
        &::before {
          position: absolute;
          top: 10px;
          content: '';
          right: -10px;
          border: 5px solid transparent;
          border-left-color: white;
        }
      }
    }
  }

  &.show {
    > .source__list {
      display: block;
    }
  }
}
