<div
  class="source d-flex align-items-center flex-wrap"
  (mouseover)="mouseover()"
  [ngClass]="{show: isHover}"
>
  <ng-container *ngIf="values.length; else noneValue">
    <div class="d-flex flex-wrap cursor-pointer">
      <ng-container *ngFor="let value of values">
        <a
          *ngIf="value.link"
          href="{{ value.link }}"
          target="_blank"
          [tooltip]="value.name"
          class="ms-2 py-2"
        >
          <img
            src="{{ value.picture || './assets/images/default-product.png' }}"
            height="24px"
            width="24px"
            class="rounded-circle"
            alt=""
          />
        </a>
        <div *ngIf="!value.link" [tooltip]="value.name" class="ms-2 py-2">
          <img
            src="{{ value.picture || './assets/images/default-product.png' }}"
            height="24px"
            width="24px"
            class="rounded-circle"
            alt=""
          />
        </div>
      </ng-container>
      <div class="d-flex align-items-center" tooltip="Nguồn đơn">
        <i class="fa-solid fa-chevron-down me-2"></i>
      </div>
    </div>
  </ng-container>
  <ng-template #noneValue>
    <div class="source__header cursor-pointer">
      Nguồn đơn
      <i class="fa-solid fa-chevron-down ms-1"></i>
    </div>
  </ng-template>

  <div class="source__list dropdown-menu">
    <div
      class="item dropdown-item"
      *ngFor="let item of listTypeSource"
      [ngClass]="{active: valueIds.includes(item.id)}"
    >
      <div
        class="source d-flex align-items-center flex-wrap"
        (mouseover)="mouseover(item)"
        [ngClass]="{show: item.isHover}"
      >
        <div class="source__header w-100" (click)="onSelect(item)">
          <img
            *ngIf="item.picture"
            src="{{ item.picture }}"
            class="rounded me-2"
            height="28px"
            width="28px"
            alt=""
          />
          <span class="fw-500 text-truncate">{{ item.name }}</span>
        </div>
        <div
          class="source__list dropdown-menu custom-scrollbar"
          *ngIf="item.rows.length"
        >
          <div
            class="item dropdown-item"
            *ngFor="let row of item.rows"
            [ngClass]="{active: valueIds.includes(row.id)}"
          >
            <div class="source__header" (click)="onSelect(item, row)">
              <img
                *ngIf="row.picture"
                src="{{ row.picture }}"
                class="rounded me-2"
                height="28px"
                width="28px"
                alt=""
              />
              <span class="fw-500 text-truncate">{{ row.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="btn-group" dropdown [autoClose]="false" placement="bottom right">
  <div id="button-nested" dropdownToggle class="btn dropdown-toggle"
          aria-controls="dropdown-nested">
          Nguồn đơn <span class="caret"></span>
  </div>
  <ul id="dropdown-nested" *dropdownMenu class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-nested">
    <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Action</a></li>

    <li role="menuitem" dropdown triggers="mouseover" placement="bottom right" >
      <a dropdownToggle class="dropdown-item dropdown-toggle"
         (click)="false">Hover me for nested dropdown <span class="caret"></span></a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Action1</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Action2</a></li>
      </ul>
    </li>

    <li role="menuitem" dropdown triggers="mouseover" placement="bottom right" >
      <a dropdownToggle class="dropdown-item dropdown-toggle"
         (click)="false">Hover me for nested dropdown <span class="caret"></span></a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Action1</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Action2</a></li>
      </ul>
    </li>

    <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" routerLink="." fragment="nested-dropdowns">Separated link</a></li>
  </ul>
</div> -->

<!-- <div class="btn-group" dropdown placement="bottom right">
  <div id="button-alignment" class="btn dropdown-toggle h-lg" tooltip="Nguồn đơn" dropdownToggle>

    Nguồn đơn
  </div>
  <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right custom-scrollbar" role="menu"
    aria-labelledby="button-alignment">
    <li role="menuitem" *ngFor="let item of listTypeSource">
      <div class="dropdown-item cursor-pointer">
        <img *ngIf="item.picture" src="{{item.picture}}" class="rounded me-2" height="28px" width="28px" alt="">
        <span class="fw-500 text-truncate">{{item.label}}</span>
      </div>
    </li>
  </ul>
</div> -->
