<div class="activity-log">
  <div class="activity-log-content">
    @if (loading) {
      <div class="text-center p-4">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading</span>
        </div>
        <div>Đang tải...</div>
      </div>
    } @else if (groupedActivities.length === 0) {
      <div class="text-center p-4 text-muted">Chưa có hoạt động nào</div>
    } @else {
      @for (group of groupedActivities; track group.title) {
        <div class="activity-log-section">
          <div class="d-flex align-items-center gap-2 mb-3">
            <div class="p-1">
              <img
                [src]="'./assets/icons/' + group.icon + '.svg'"
                width="16"
                height="16"
              />
            </div>
            <span class="activity-log-section-title">
              {{ group.title }}
            </span>
          </div>

          @for (
            activity of group.activities;
            track activity.id;
            let i = $index
          ) {
            <div class="activity-log-item">
              @if (hasConnectorLine(group, i)) {
                <div class="activity-log-item-icon-wrapper">
                  <div class="p-1 bg-white z-1">
                    <img
                      [src]="
                        activity.actionBy?.picture || './assets/icons/logo.svg'
                      "
                      width="16"
                      height="16"
                      class="rounded-circle"
                    />
                  </div>
                  <div class="activity-log-connector-line"></div>
                </div>
              } @else {
                <div class="p-1 bg-white z-1">
                  <img
                    [src]="
                      activity.actionBy?.picture || './assets/icons/logo.svg'
                    "
                    width="16"
                    height="16"
                    class="rounded-circle"
                  />
                </div>
              }
              <div class="activity-log-item-content">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="activity-log-item-name">
                    {{ activity.actionBy?.name || 'Hệ Thống' }}
                  </div>
                  <div class="activity-log-item-time">
                    {{ formatDateTime(activity.createdAt) }}
                  </div>
                </div>
                <div class="activity-log-item-description">
                  {{ getActivityDescription(activity) }}
                </div>
              </div>
            </div>
          }
        </div>

        @if (!$last) {
          <div class="divider"></div>
        }
      }
    }
  </div>
</div>
