<form [formGroup]="formItem">
  <div class="detail-item">
    <div
      class="table-responsive thin-table tableFixHead custom-scrollbar table-borderless"
    >
      <table class="table">
        <thead>
          <tr>
            <th class="column-timer">Hẹn giờ/Thời gian thực hiện</th>
            <th class="columns-action-main">Hành động</th>
            <th class="column-take-action">Thực hiện hành động</th>
            <th class="column-result">Kết quả & Nguyên nhân</th>
            <th class="column-next-step">Bước tiếp theo</th>
            <th class="columns-desc">Ghi chú</th>
            <th
              *ngIf="f['status'].value !== ETaskChainType.CLOSED"
              class="columns-action"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngIf="!f['taskChainResults'].value?.length">
            <td colspan="12">
              <div>Không có dữ liệu</div>
            </td>
          </tr>
          <ng-container formArrayName="taskChainResults">
            <ng-container
              *ngFor="
                let taskChainResult of formTaskChainResults().controls;
                let taskChainResultIndex = index
              "
            >
              <tr [formGroupName]="taskChainResultIndex">
                <td class="column-timer">
                  <div *ngIf="taskChainResult.value?.executedDate">
                    {{
                      taskChainResult.value?.executedDate
                        | date: 'dd/MM/yyyy HH:mm'
                    }}
                  </div>
                  <div
                    class="timer fw-500"
                    [popover]="
                      f['status'].value !== ETaskChainType.CLOSED &&
                      !taskChainResult.value?.result?.id
                        ? popTemplate
                        : ''
                    "
                    placement="right"
                    [outsideClick]="true"
                    *ngIf="
                      !taskChainResult.value?.executedDate &&
                      taskChainResult.value?.deadlineDate
                    "
                    [ngClass]="{
                      'text-danger':
                        taskChainResult.value?.typeOverDeadline === 'over'
                    }"
                  >
                    <ng-container
                      [ngSwitch]="taskChainResult.value?.typeOverDeadline"
                    >
                      <span *ngSwitchCase="'over'">Quá:</span>
                      <span *ngSwitchCase="'notOver'">Còn:</span>
                      <span *ngSwitchCase="'now'">Ngay lập tức</span>
                    </ng-container>
                    <div
                      *ngIf="taskChainResult.value?.typeOverDeadline !== 'now'"
                    >
                      {{
                        renderDeadline(
                          taskChainResult.value?.deadlineDate,
                          taskChainResult.value?.executedDate
                        )
                      }}
                    </div>
                  </div>
                  <ng-template #popTemplate>
                    <div
                      class="popover-timer align-items-center"
                      style="width: 350px"
                    >
                      <label
                        class="form-control-label d-flex align-items-center gap-2 mb-2"
                      >
                        <i class="fa-solid fa-clock"></i>
                        <div class="fw-500">Thời gian hẹn giờ</div>
                      </label>
                      <div class="d-flex gap-2">
                        <input
                          (input)="handleChangeDeadline(taskChainResultIndex)"
                          mask="000"
                          [allowNegativeNumbers]="false"
                          name="between_from"
                          class="form-control text-right"
                          placeholder="Ngày (0-999)"
                          formControlName="deadlineDay"
                        />
                        <input
                          (input)="handleChangeDeadline(taskChainResultIndex)"
                          mask="Hh"
                          name="between_from"
                          class="form-control text-right"
                          placeholder="Giờ (0-23)"
                          formControlName="deadlineHour"
                        />
                        <input
                          (input)="handleChangeDeadline(taskChainResultIndex)"
                          mask="m0"
                          name="between_from"
                          class="form-control text-right"
                          placeholder="Phút (0-59)"
                          formControlName="deadlineMinute"
                        />
                      </div>
                    </div>
                  </ng-template>
                </td>
                <td class="columns-action-main">
                  {{ taskChainResult.value.action?.name || '-' }}
                </td>
                <td class="column-take-action">
                  <div>
                    <ng-container
                      [ngSwitch]="taskChainResult?.value.action?.type"
                    >
                      <ng-container *ngSwitchCase="EActionType.CALL">
                        <div>
                          Gọi điện
                          <i
                            class="fa-solid fa-phone-volume ms-2 cursor-pointer"
                            style="color: #53b27f"
                          ></i>
                        </div>
                      </ng-container>
                      <ng-container
                        *ngSwitchCase="EActionType.SEND_BLOCK_AUTOMATION"
                      >
                        <div>
                          Gửi Block Automation
                          <i
                            class="fa-solid fa-robot ms-2 cursor-pointer"
                            style="color: #53b27f"
                          ></i>
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="EActionType.OTHER">
                        <div>Khác</div>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <div>-</div>
                      </ng-container>
                    </ng-container>
                  </div>
                </td>
                <td class="column-result">
                  <div
                    *ngIf="
                      f['status'].value !== ETaskChainType.CLOSED &&
                      !taskChainResult.value.executedDate
                    "
                  >
                    <div formGroupName="result">
                      <ng-select
                        [placeholder]="'Chọn kết quả'"
                        [searchable]="true"
                        [items]="taskChainResult.value?.results || []"
                        formControlName="id"
                        (change)="
                          handleChangeTaskChainResult(
                            taskChainResultIndex,
                            $event
                          )
                        "
                        class="ng-select-custom dropdown-auto-width bg-white borderless input-medium"
                        bindLabel="result.name"
                        bindValue="result.id"
                        appendTo=".modal-update-task"
                      ></ng-select>
                    </div>
                    <div formGroupName="reason">
                      <ng-select
                        [placeholder]="'Chọn nguyên nhân'"
                        [searchable]="true"
                        [items]="taskChainResult.value?.action?.reasons || []"
                        (change)="
                          handleChangeTaskChainReason(
                            taskChainResultIndex,
                            $event
                          )
                        "
                        formControlName="id"
                        class="ng-select-custom dropdown-auto-width bg-white borderless input-medium"
                        bindLabel="name"
                        bindValue="id"
                        appendTo=".modal-update-task"
                      ></ng-select>
                    </div>
                  </div>
                  <div
                    *ngIf="
                      taskChainResult.value.executedDate ||
                      f['status'].value === ETaskChainType.CLOSED
                    "
                    class="d-flex flex-column gap-2 data-result-reason"
                  >
                    <div class="result">
                      {{ taskChainResult.value?.result.name || '-' }}
                    </div>
                    <div class="reason">
                      {{ taskChainResult.value?.reason.name }}
                    </div>
                  </div>
                </td>
                <td
                  class="column-next-step"
                  [class.dontEdit]="
                    taskChainResult.value.executedDate ||
                    f['status'].value === ETaskChainType.CLOSED
                  "
                >
                  <div>
                    <ng-container
                      *ngFor="
                        let nextStep of formNextSteps(taskChainResultIndex)
                          .controls;
                        let nextStepIndex = index
                      "
                    >
                      <div
                        class="next-step-item d-flex gap-2 align-items-center"
                      >
                        <span
                          [innerHTML]="renderNextStepData(nextStep.value)"
                        ></span>
                        <span
                          (click)="
                            handleUpdateNextStep(taskChainResultIndex, nextStep)
                          "
                          class="d-flex align-items-center button-edit-next-step"
                        >
                          <img src="./assets/images/icon/edit.svg" alt="" />
                        </span>
                      </div>
                    </ng-container>
                    <div
                      [style.width]="'150px'"
                      class="d-flex align-items-center gap-2 button-add-step-action text-link"
                      (click)="handleUpdateNextStep(taskChainResultIndex)"
                    >
                      <i class="fa-solid fa-plus me-1"></i>
                      <span>Thêm hành động</span>
                    </div>
                  </div>
                </td>
                <td class="columns-desc">
                  <div>
                    <app-textarea
                      inputClass="bg-white border-0"
                      placeholder="Nhập ghi chú..."
                      [value]="taskChainResult.value.note || ''"
                      (valueChange)="taskChainResult.patchValue({note: $event})"
                    ></app-textarea>
                  </div>
                </td>
                <td
                  *ngIf="f['status'].value !== ETaskChainType.CLOSED"
                  class="columns-action"
                >
                  <div class="d-flex">
                    <button
                      type="button"
                      class="btn button-medium button-fill secondary-color"
                      (click)="
                        handleSaveTaskChainResult(
                          taskChainResultIndex,
                          taskChainResult.value
                        )
                      "
                    >
                      Lưu
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</form>
