<form [formGroup]="formItem">
  <div class="detail-item">
    <div
      class="table-responsive thin-table tableFixHead custom-scrollbar table-borderless"
    >
      <table class="table">
        <thead>
          <tr>
            <th class="column-timer">Thực hiện</th>
            <th class="columns-action-main">Hành động</th>
            <th class="column-take-action">Thực hiện hành động</th>
            <th class="column-result">Kết quả & Nguyên nhân</th>
            <th class="column-next-step">Bước tiếp theo</th>
            <th class="columns-desc">Ghi chú</th>
            @if (f['status'].value !== ETaskChainType.CLOSED) {
              <th class="columns-action"></th>
            }
          </tr>
        </thead>
        <tbody>
          @if (!f['taskChainResults'].value?.length) {
            <tr class="text-center">
              <td colspan="12">
                <div>Không có dữ liệu</div>
              </td>
            </tr>
          }
          <ng-container formArrayName="taskChainResults">
            @for (
              taskChainResult of formTaskChainResults().controls;
              track taskChainResultIndex;
              let taskChainResultIndex = $index
            ) {
              <ng-container>
                <tr [formGroupName]="taskChainResultIndex">
                  <td class="column-timer">
                    <div class="d-flex gap-2 align-items-center">
                      @if (taskChainResult.value?.executedDate) {
                        <div class="done-time">
                          {{
                            taskChainResult.value?.executedDate
                              | date: 'dd/MM/yyyy HH:mm'
                          }}
                        </div>
                      }
                      @else if (
                        f['status'].value === ETaskChainType.CLOSED
                        && taskChainResult.value?.status !== ETaskChainResultType.COMPLETED
                      ) {
                        <span>-</span>
                      }
                      @else if (
                        !taskChainResult.value?.executedDate &&
                        taskChainResult.value?.deadlineDate
                      ) {
                        <div
                          class="timer fw-500"
                          [popover]="
                            !!staticDataChainItem?.taskChainResults?.[
                              taskChainResultIndex
                            ]?.['isEdit'] &&
                            handleCheckIsAllowEdit(
                              'timer',
                              taskChainResult.value,
                              taskChainResultIndex
                            )
                              ? popTemplate
                              : ''
                          "
                          placement="right"
                          [outsideClick]="true"
                          [ngClass]="{
                            'text-danger':
                              taskChainResult.value?.typeOverDeadline ===
                              'over',
                            editable:
                              !!staticDataChainItem?.taskChainResults?.[
                                taskChainResultIndex
                              ]?.['isEdit']
                          }"
                        >
                          @switch (taskChainResult.value?.typeOverDeadline) {
                            @case ('over') {
                              <span>
                                <i
                                  class="fa-solid fa-triangle-exclamation"
                                  style="color: #ef6a6a"
                                ></i>
                              </span>
                            }
                            @case ('notOver') {
                              <span>
                                <i
                                  class="fa-solid fa-stopwatch"
                                  style="color: #4277ff"
                                ></i>
                              </span>
                            }
                            @case ('now') {
                              <span>Ngay lập tức</span>
                            }
                          }
                          @if (
                            taskChainResult.value?.typeOverDeadline !== 'now'
                          ) {
                            <span>
                              {{
                                renderDeadline(
                                  taskChainResult.value?.deadlineDate,
                                  taskChainResult.value?.executedDate
                                )
                              }}
                            </span>
                          }
                        </div>
                        <ng-template #popTemplate>
                          <div
                            class="popover-timer align-items-center"
                            style="width: 350px"
                          >
                            <label
                              class="form-control-label d-flex align-items-center gap-2 mb-2"
                            >
                              <i class="fa-solid fa-clock"></i>
                              <div class="fw-500">
                                Chỉnh sửa thời gian hẹn giờ
                              </div>
                            </label>
                            <div class="d-flex gap-2">
                              <input
                                (input)="
                                  handleChangeDeadline(taskChainResultIndex)
                                "
                                mask="000"
                                [allowNegativeNumbers]="false"
                                name="between_from"
                                class="form-control text-right"
                                placeholder="Ngày (0-999)"
                                formControlName="deadlineDay"
                              />
                              <input
                                (input)="
                                  handleChangeDeadline(taskChainResultIndex)
                                "
                                mask="Hh"
                                name="between_from"
                                class="form-control text-right"
                                placeholder="Giờ (0-23)"
                                formControlName="deadlineHour"
                              />
                              <input
                                (input)="
                                  handleChangeDeadline(taskChainResultIndex)
                                "
                                mask="m0"
                                name="between_from"
                                class="form-control text-right"
                                placeholder="Phút (0-59)"
                                formControlName="deadlineMinute"
                              />
                            </div>
                            <div class="mt-2" formGroupName="reasonEditedDate">
                              <textarea
                                name="note-for-time"
                                placeholder="Ghi chú/Lí do chỉnh sửa"
                                formControlName="reason"
                              ></textarea>
                            </div>
                          </div>
                        </ng-template>
                      }
                      @else {
                        <span>-</span>
                      }
                      @if (taskChainResult.value?.reasonEditedDates?.length) {
                        <i
                          [popover]="changeHistoriesPop"
                          placement="right"
                          [outsideClick]="true"
                          class="fa-solid fa-circle-exclamation warning-change-time"
                          container=".modal"
                          [tooltip]="'Lịch sử chỉnh sửa thời gian'"
                        ></i>
                        <ng-template #changeHistoriesPop>
                          <div
                            class="popover-change-histories align-items-center"
                          >
                            <div class="headline mb-2">
                              Lịch sử chỉnh sửa thời gian
                            </div>
                            <div
                              class="table-responsive tableFixHead custom-scrollbar"
                              [style.max-height]="'300px'"
                            >
                              <table class="table table-change-histories">
                                <thead>
                                  <tr>
                                    <th>Thời gian chỉnh sửa</th>
                                    <th>Trước khi chỉnh sửa</th>
                                    <th>Sau khi chỉnh sửa</th>
                                    <th>Người sửa</th>
                                    <th>Ghi chú</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  @for (
                                    reasonEditedDate of taskChainResult.value
                                      ?.reasonEditedDates;
                                    track reasonEditedDateIndex;
                                    let reasonEditedDateIndex = $index
                                  ) {
                                    <tr>
                                      <td>
                                        {{
                                          reasonEditedDate?.editedDate
                                            | date: 'dd/MM/yyyy HH:mm'
                                        }}
                                      </td>
                                      <td>
                                        <div
                                          *ngLet="
                                            reasonEditedDate?.deadDate <
                                            reasonEditedDate?.editedDate as outOfDeadline
                                          "
                                        >
                                          <div
                                            class="{{
                                              outOfDeadline
                                                ? 'text-danger'
                                                : 'text-primary'
                                            }}"
                                          >
                                            {{ outOfDeadline ? 'Trễ' : 'Còn' }}
                                            {{
                                              reasonEditedDate?.deadDate
                                                | calculateDeadline
                                                  : reasonEditedDate?.editedDate
                                            }}
                                          </div>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="text-primary">
                                          Còn
                                          {{
                                            reasonEditedDate?.newDate
                                              | calculateDeadline
                                                : reasonEditedDate?.editedDate
                                          }}
                                        </div>
                                      </td>
                                      <td>
                                        <div
                                          class="d-flex gap-2 align-items-center"
                                        >
                                          <img
                                            class="avatar"
                                            src="{{
                                              reasonEditedDate?.editedBy
                                                ?.picture
                                            }}"
                                            alt=""
                                          />
                                          <span class="fw-500">
                                            {{
                                              reasonEditedDate?.editedBy?.name
                                            }}
                                          </span>
                                        </div>
                                      </td>
                                      <td class="column-note">
                                        <div>
                                          {{ reasonEditedDate?.reason || '-' }}
                                        </div>
                                      </td>
                                    </tr>
                                  }
                                  <tr></tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </ng-template>
                      }
                    </div>
                  </td>

                  <!--Tên hành động -->
                  <td class="columns-action-main">
                    {{ taskChainResult.value.action?.name || '-' }}
                  </td>

                  <!-- Thực hiện hành động -->
                  <td class="column-take-action">
                    <div class="d-flex flex-column mb-3" formGroupName="action">
                      @switch (taskChainResult?.value.action?.type) {
                        @case (EActionType.CALL) {
                          <button
                            (click)="handleCall()"
                            type="button"
                            class="btn button-medium button-sub-primary secondary-color"
                            [disabled]="
                              !handleCheckIsAllowEdit(
                                'actionButton',
                                taskChainResult.value,
                                taskChainResultIndex
                              )
                            "
                          >
                            Gọi điện
                            <i class="fa-solid fa-phone ms-2"></i>
                          </button>
                        }
                        @case (EActionType.SEND_BLOCK_AUTOMATION) {
                          <button
                            (click)="handleSendBlock(taskChainResult.value)"
                            type="button"
                            class="btn button-medium button-sub-primary secondary-color"
                            [disabled]="
                              !!staticDataChainItem?.taskChainResults?.[
                                taskChainResultIndex
                              ]?.['isEdit'] ||
                              !handleCheckIsAllowEdit(
                                'actionButton',
                                taskChainResult.value,
                                taskChainResultIndex
                              ) ||
                              loading.sendBlock
                            "
                          >
                            Gửi Block Automation
                            @if (!loading.sendBlock) {
                              <i
                                class="fa-solid fa-robot ms-2 cursor-pointer"
                              ></i>
                            } @else {
                              <span
                                class="spinner-border spinner-border-sm ms-2"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            }
                          </button>
                          @if (
                            f['status'].value !== ETaskChainType.CLOSED &&
                            !taskChainResult.value.executedDate
                          ) {
                            <div
                              class="mt-2"
                              formGroupName="callBlockAutomation"
                            >
                              <ng-container>
                                <ng-select
                                  [readonly]="
                                    !staticDataChainItem?.taskChainResults?.[
                                      taskChainResultIndex
                                    ]?.['isEdit'] ||
                                    !handleCheckIsAllowEdit(
                                      'block',
                                      taskChainResult.value,
                                      taskChainResultIndex
                                    )
                                  "
                                  formControlName="blockId"
                                  [placeholder]="'Chọn Block'"
                                  [searchable]="true"
                                  [items]="blocks"
                                  [loading]="loadingData.blocks"
                                  [clearable]="false"
                                  class="ng-select-custom dropdown-auto-width input-medium"
                                  bindLabel="name"
                                  bindValue="id"
                                  appendTo=".modal-update-task"
                                ></ng-select>
                              </ng-container>
                            </div>
                          }
                        }
                        @case (EActionType.OTHER) {
                          <div>Khác</div>
                        }
                        @default {
                          <div>-</div>
                        }
                      }
                    </div>

                    @if ((taskChainResult.value?.subActions || []).length > 0) {
                      @for (
                        subAction of taskChainResult.value?.subActions || [];
                        track subActionIndex;
                        let subActionIndex = $index
                      ) {
                        <div class="d-flex flex-column mb-2 ms-2">
                          @switch (subAction.type) {
                            @case (EActionType.FEEDBACK) {
                              <div
                                *ngIf="
                                  getSubActionFeedback(
                                    taskChainResult.value?.feedbacks,
                                    subAction.id
                                  ) as feedback;
                                  else noFeedback
                                "
                              >
                                <b>Đánh giá:</b>
                                <span>
                                  {{ feedback.comment }}
                                </span>

                                <div class="d-inline-flex align-items-center">
                                  <span>{{ feedback.rate }}⭐</span>
                                  <div
                                    class="fst-italic text-primary fs-7 cursor-pointer"
                                    (click)="handleViewFeedback(feedback.id)"
                                  >
                                    Xem đánh giá
                                  </div>
                                </div>
                              </div>

                              <ng-template #noFeedback>
                                <button
                                  (click)="
                                    handleFeedback(
                                      taskChainResult.value,
                                      taskChainResultIndex,
                                      subAction.id
                                    )
                                  "
                                  type="button"
                                  class="btn button-small button-sub-primary secondary-color d-flex align-items-center justify-content-center"
                                  [disabled]="
                                    !handleCheckIsAllowEdit(
                                      'actionButton',
                                      taskChainResult.value,
                                      taskChainResultIndex
                                    ) || !hasPermitFeedback
                                  "
                                >
                                  Đánh giá
                                  <i class="fa-solid fa-comment ms-2"></i>
                                </button>
                              </ng-template>
                            }
                            @case (EActionType.MANUAL_CREATE_ORDER) {
                              <div
                                *ngIf="
                                  getSubActionOrder(
                                    taskChainResult.value?.orders,
                                    subAction.id
                                  ) as order;
                                  else noOrder
                                "
                              >
                                <b>Đơn hàng:</b>
                                <span
                                  class="text-primary fs-7 fst-italic"
                                  style="cursor: pointer"
                                  (click)="
                                    handleCreateOrder(
                                      taskChainResult.value,
                                      taskChainResultIndex,
                                      subAction.id,
                                      order?.id
                                    )
                                  "
                                >
                                  {{ order?.code || order?.id }}
                                </span>
                              </div>

                              <ng-template #noOrder>
                                <button
                                  (click)="
                                    handleCreateOrder(
                                      taskChainResult.value,
                                      taskChainResultIndex,
                                      subAction.id
                                    )
                                  "
                                  type="button"
                                  class="btn button-small button-sub-primary secondary-color d-flex align-items-center justify-content-center"
                                  [disabled]="
                                    !handleCheckIsAllowEdit(
                                      'actionButton',
                                      taskChainResult.value,
                                      taskChainResultIndex
                                    )
                                  "
                                >
                                  Tạo đơn hàng
                                  <i class="fa-solid fa-cart-shopping ms-2"></i>
                                </button>
                              </ng-template>
                            }
                            @case (EActionType.BOOKING) {
                              <div
                                *ngIf="
                                  getSubActionBooking(
                                    taskChainResult.value?.bookings,
                                    subAction.id
                                  ) as booking;
                                  else noBooking
                                "
                                class="d-flex align-items-center"
                              >
                                <b>Lịch hẹn:</b>
                                <span
                                  class="text-primary fs-7 fst-italic ms-1"
                                  style="
                                    cursor: pointer;
                                    display: inline-block;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    max-width: 100px;
                                  "
                                  (click)="handleViewBooking(booking?.id!)"
                                >
                                  {{ booking?.title }}
                                </span>
                              </div>

                              <ng-template #noBooking>
                                <button
                                  (click)="
                                    handleCreateBooking(
                                      taskChainResult.value,
                                      taskChainResultIndex,
                                      subAction.id
                                    )
                                  "
                                  type="button"
                                  class="btn button-small button-sub-primary secondary-color d-flex align-items-center justify-content-center"
                                  [disabled]="
                                    !handleCheckIsAllowEdit(
                                      'actionButton',
                                      taskChainResult.value,
                                      taskChainResultIndex
                                    )
                                  "
                                >
                                  Tạo booking
                                  <i class="fa-solid fa-calendar ms-2"></i>
                                </button>
                              </ng-template>
                            }
                            @case (EActionType.OTHER) {
                              <div>Khác</div>
                            }
                            @default {
                              <div>-</div>
                            }
                          }
                        </div>
                      }
                    }
                  </td>

                  <!-- Kết quả hành động -->
                  <td class="column-result">
                    @if (
                      !!staticDataChainItem?.taskChainResults?.[
                        taskChainResultIndex
                      ]?.['isEdit'] &&
                      handleCheckIsAllowEdit(
                        'result',
                        taskChainResult.value,
                        taskChainResultIndex
                      )
                    ) {
                      <div>
                        <div formGroupName="result">
                          <ng-select
                            [placeholder]="'Chọn kết quả'"
                            [searchable]="true"
                            [items]="taskChainResult.value?.results || []"
                            formControlName="id"
                            (change)="
                              handleChangeTaskChainResult(
                                taskChainResultIndex,
                                $event
                              )
                            "
                            class="ng-select-custom dropdown-auto-width input-medium"
                            bindLabel="result.name"
                            bindValue="result.id"
                            appendTo=".modal-update-task"
                          ></ng-select>
                        </div>
                        <div class="mt-2" formGroupName="reason">
                          <ng-select
                            [placeholder]="'Chọn nguyên nhân'"
                            [searchable]="true"
                            [items]="
                              taskChainResult.value?.action?.reasons || []
                            "
                            (change)="
                              handleChangeTaskChainReason(
                                taskChainResultIndex,
                                $event
                              )
                            "
                            formControlName="id"
                            class="ng-select-custom dropdown-auto-width input-medium"
                            bindLabel="name"
                            bindValue="id"
                            appendTo=".modal-update-task"
                          ></ng-select>
                        </div>
                      </div>
                    }
                    @if (
                      !handleCheckIsAllowEdit(
                        'result',
                        taskChainResult.value,
                        taskChainResultIndex
                      )
                    ) {
                      <div class="d-flex flex-column gap-2 data-result-reason">
                        <div class="result">
                          {{ taskChainResult.value?.result.name || '-' }}
                        </div>
                        <div class="reason">
                          {{ taskChainResult.value?.reason.name }}
                        </div>
                      </div>
                    }
                  </td>

                  <!-- Bước tiếp theo -->
                  <td
                    class="column-next-step"
                    [class.dontEdit]="
                      taskChainResult.value.executedDate ||
                      f['status'].value === ETaskChainType.CLOSED
                    "
                  >
                    <div>
                      @for (
                        nextStep of formNextSteps(taskChainResultIndex)
                          .controls;
                        track nextStepIndex;
                        let nextStepIndex = $index
                      ) {
                        <ng-container>
                          <div
                            class="next-step-item d-flex gap-2 align-items-center"
                          >
                            @switch (nextStep.value.status) {
                              @case (ETaskChainResultType.COMPLETED) {
                                <img
                                  width="10"
                                  height="10"
                                  alt=""
                                  src="assets/images/icon/check.svg"
                                />
                              }
                              @case (ETaskChainResultType.CANCELED) {
                                <img
                                  width="10"
                                  height="10"
                                  alt=""
                                  src="assets/images/icon/not-check.svg"
                                />
                              }
                              @default {
                                <div style="width: 10px; height: 10px"></div>
                              }
                            }
                            <span
                              [innerHTML]="renderNextStepData(nextStep.value)"
                            ></span>
                            <span
                              (click)="
                                handleUpdateNextStep(
                                  taskChainResultIndex,
                                  nextStepIndex,
                                  nextStep.value
                                )
                              "
                              class="d-flex align-items-center button-edit-next-step"
                            >
                              <img src="./assets/images/icon/edit.svg" alt="" />
                            </span>
                          </div>
                        </ng-container>
                      }
                      @if (taskChainResult.value?.result?.id) {
                        <div
                          [style.width]="'150px'"
                          class="d-flex align-items-center gap-2 button-add-step-action text-link"
                          (click)="handleUpdateNextStep(taskChainResultIndex)"
                        >
                          <i class="fa-solid fa-plus me-1"></i>
                          <span>Thêm hành động</span>
                        </div>
                      }
                    </div>
                  </td>

                  <!-- Ghi chú -->
                  <td class="columns-desc">
                    @if (
                      staticDataChainItem?.taskChainResults?.[
                        taskChainResultIndex
                      ]?.['isEdit']
                    ) {
                      <div>
                        <app-textarea
                          [readonly]="
                            f['status'].value === ETaskChainType.CLOSED
                          "
                          inputClass="border-0"
                          placeholder="Nhập ghi chú..."
                          [value]="taskChainResult.value.note || ''"
                          (valueChange)="
                            taskChainResult.patchValue({note: $event})
                          "
                        ></app-textarea>
                      </div>
                    } @else {
                      <div>
                        {{ taskChainResult.value?.note || '-' }}
                      </div>
                    }
                  </td>

                  @if (f['status'].value !== ETaskChainType.CLOSED) {
                    <td class="columns-action">
                      @if (
                        !staticDataChainItem?.taskChainResults?.[
                          taskChainResultIndex
                        ]?.['isEdit'] &&
                        (permissions.canEditAction ||
                          permissions.canEditDeadline)
                      ) {
                        <div>
                          <button
                            style="width: 56px"
                            type="button"
                            (click)="
                              staticDataChainItem!.taskChainResults[
                                taskChainResultIndex
                              ]['isEdit'] = true
                            "
                            class="btn d-flex align-items-center btn-action-table"
                          >
                            <img src="./assets/images/icon/edit.svg" alt="" />
                          </button>
                        </div>
                      }
                      @if (
                        staticDataChainItem?.taskChainResults?.[
                          taskChainResultIndex
                        ]?.['isEdit']
                      ) {
                        <div class="d-flex flex-column">
                          <button
                            type="button"
                            class="btn button-medium button-fill secondary-color"
                            (click)="
                              handleSaveTaskChainResult(
                                taskChainResultIndex,
                                taskChainResult.value
                              )
                            "
                            [disabled]="loading.submit"
                          >
                            Lưu
                          </button>
                          <button
                            type="button"
                            class="btn button-medium button-outline mt-2"
                            (click)="
                              handleCancelSave(
                                taskChainResultIndex,
                                taskChainResult.value
                              )
                            "
                          >
                            Hủy
                          </button>
                        </div>
                      }
                    </td>
                  }
                </tr>
              </ng-container>
            }
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</form>

<bs-modal-backdrop
  *ngIf="showModal"
  class="modal-backdrop fade in show"
></bs-modal-backdrop>
