<form [formGroup]="formItem">
  <div class="detail-item">
    <div
      class="table-responsive thin-table tableFixHead custom-scrollbar table-borderless"
    >
      <table class="table">
        <thead>
          <tr>
            <th class="column-timer">Hẹn giờ</th>
            <th class="columns-action-main">Hành động</th>
            <th class="column-take-action">Thực hiện hành động</th>
            <th class="column-result">Kết quả & Nguyên nhân</th>
            <th class="column-next-step">Bước tiếp theo</th>
            <th class="columns-desc">Ghi chú</th>
            <th class="columns-action"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngIf="!f['taskChainResults'].value?.length">
            <td colspan="12">
              <div>Không có dữ liệu</div>
            </td>
          </tr>
          <ng-container formArrayName="taskChainResults">
            <ng-container
              *ngFor="
                let taskChainResult of formTaskChainResults().controls;
                let taskChainResultIndex = index
              "
            >
              <tr [formGroupName]="taskChainResultIndex">
                <td class="column-timer">
                  <div
                    class="timer fw-500"
                    [popover]="popTemplate"
                    placement="right"
                    [outsideClick]="true"
                    *ngIf="taskChainResult.value?.deadlineDate"
                    [ngClass]="{
                      'text-danger': taskChainResult.value?.isOverDeadline
                    }"
                  >
                    {{
                      taskChainResult.value?.isOverDeadline
                        ? 'Quá hạn:'
                        : 'Còn:'
                    }}
                    {{ renderDeadline(taskChainResult.value?.deadlineDate) }}
                  </div>
                  <ng-template #popTemplate>
                    <div
                      class="popover-timer align-items-center"
                      style="width: 350px"
                    >
                      <label
                        class="form-control-label d-flex align-items-center gap-2 mb-2"
                      >
                        <i class="fa-solid fa-clock"></i>
                        <div class="fw-500">Thời gian hẹn giờ</div>
                      </label>
                      <div class="d-flex gap-2">
                        <input
                          mask="000"
                          [allowNegativeNumbers]="false"
                          name="between_from"
                          class="form-control text-right"
                          placeholder="Ngày (0-999)"
                          formControlName="deadlineDay"
                        />
                        <input
                          mask="Hh"
                          name="between_from"
                          class="form-control text-right"
                          placeholder="Giờ (0-23)"
                          formControlName="deadlineHour"
                        />
                        <input
                          mask="m0"
                          name="between_from"
                          class="form-control text-right"
                          placeholder="Phút (0-59)"
                          formControlName="deadlineMinute"
                        />
                      </div>
                    </div>
                  </ng-template>
                </td>
                <td class="columns-action-main">
                  {{ taskChainResult.value.action?.name || '-' }}
                </td>
                <td class="column-take-action">
                  <div>
                    <ng-container
                      [ngSwitch]="taskChainResult?.value.action?.type"
                    >
                      <ng-container *ngSwitchCase="EActionType.CALL">
                        <div>
                          Gọi điện
                          <i
                            class="fa-solid fa-phone-volume ms-2 cursor-pointer"
                            style="color: #53b27f"
                          ></i>
                        </div>
                      </ng-container>
                      <ng-container
                        *ngSwitchCase="EActionType.SEND_BLOCK_AUTOMATION"
                      >
                        <div>
                          Gửi Block Automation
                          <i
                            class="fa-solid fa-robot ms-2 cursor-pointer"
                            style="color: #53b27f"
                          ></i>
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="EActionType.OTHER">
                        <div>Khác</div>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <div>-</div>
                      </ng-container>
                    </ng-container>
                  </div>
                </td>
                <td class="column-result">
                  <div>
                    <ng-select
                      [placeholder]="'Chọn kết quả'"
                      [searchable]="true"
                      [items]="taskChainResult.value.results"
                      class="ng-select-custom dropdown-auto-width bg-white borderless input-medium"
                      bindLabel="result.name"
                      bindValue="result.id"
                      appendTo=".modal-update-task"
                    ></ng-select>
                    <ng-select
                      [placeholder]="'Chọn nguyên nhân'"
                      [searchable]="true"
                      [items]="taskChainResult.value.action.reasons || []"
                      class="ng-select-custom dropdown-auto-width bg-white borderless input-medium"
                      bindLabel="name"
                      bindValue="id"
                      appendTo=".modal-update-task"
                    ></ng-select>
                  </div>
                </td>
                <td class="column-next-step">
                  <div>-</div>
                </td>
                <td class="columns-desc">
                  <div>
                    <app-textarea
                      inputClass="bg-white border-0"
                      placeholder="Nhập ghi chú..."
                      [value]="taskChainResult.value.note || ''"
                      (valueChange)="taskChainResult.patchValue({note: $event})"
                    ></app-textarea>
                  </div>
                </td>
                <td class="columns-action">
                  <div class="d-flex">
                    <button
                      type="button"
                      class="btn button-medium button-fill secondary-color"
                    >
                      Lưu
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</form>
