<form [formGroup]="form" [ngClass]="{'was-validated': submitted}">
  <div class="custom-modal modal-default">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Tạo đánh giá mới</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="hideModal()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    @if (!loading.getConfig) {
      <div class="modal-body">
        <div class="card p-0">
          <div class="card-body bg-white">
            <ng-container *ngIf="templates.length > 0; else noTemplate">
              <div class="mb-2">
                <label class="form-control-label" for="templateId">
                  Chọn template
                </label>
                <ng-select
                  id="templateId"
                  [placeholder]="'Chọn template'"
                  [clearable]="false"
                  formControlName="templateId"
                  class="custom-select-icon"
                  (change)="handleChangeTemplate($event)"
                  [virtualScroll]="true"
                >
                  <ng-option *ngFor="let item of templates" [value]="item.id">
                    <div>
                      <div class="d-flex align-items-center">
                        <img
                          *ngIf="item.picture"
                          [src]="item.picture"
                          alt=""
                          class="avatar me-1"
                          width="24"
                          height="24"
                          [ngClass]="{
                            'rounded-circle': true
                          }"
                        />
                        <div class="label">
                          {{ item.name }}
                        </div>
                      </div>
                    </div>
                  </ng-option>
                </ng-select>
              </div>

              <div class="mb-2" *ngIf="form.value.templateId">
                <label class="form-control-label">Tiêu chí đánh giá</label>
                <div class="criteria-container" formArrayName="criterias">
                  <div
                    *ngFor="
                      let criteria of criteriaArray.controls;
                      let i = index
                    "
                    class="d-flex align-items-center justify-content-between mb-2"
                    [formGroupName]="i"
                  >
                    <div class="criteria-info">
                      <label class="form-control-label">
                        {{ criteria.get('name')?.value }}
                      </label>
                    </div>

                    <ng-container
                      *ngIf="criteria.get('type')?.value === 'rating_star'"
                    >
                      <div class="criteria-rating">
                        <ngx-stars
                          [readonly]="false"
                          [size]="2"
                          [maxStars]="5"
                          [color]="'#FFD700'"
                          [initialStars]="criteria.get('rating')?.value || 0"
                          (ratingOutput)="
                            criteria.get('rating')?.setValue($event)
                          "
                        ></ngx-stars>
                      </div>
                    </ng-container>

                    <ng-container
                      *ngIf="criteria.get('type')?.value === 'rating_text'"
                    >
                      <ng-select
                        class="ng-select-custom bg-white"
                        [placeholder]="'Chọn đánh giá'"
                        [clearable]="false"
                        [multiple]="getIsMultiSelect(i)"
                        (change)="onRatingChange($event, i)"
                        [formControlName]="'answer'"
                        [virtualScroll]="true"
                      >
                        <ng-option
                          *ngFor="let option of getConfigRating(i)"
                          [value]="option.star"
                        >
                          <div class="d-flex align-items-center gap-1">
                            <span>{{ option.text }}</span>
                          </div>
                        </ng-option>
                      </ng-select>
                    </ng-container>
                  </div>

                  <div class="d-flex align-items-baseline gap-2">
                    <label class="form-control-label">Điểm trung bình:</label>
                    <div class="d-flex align-items-center gap-2">
                      {{ getAverageRating() | number: '1.1-1' }} / 5
                      <ngx-stars
                        [readonly]="true"
                        [size]="1"
                        [maxStars]="1"
                        [color]="'#FFD700'"
                        [initialStars]="1"
                      ></ngx-stars>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Comment Section -->
            <div class="mb-2">
              <label class="form-control-label fw-bold mb-2" for="feedback">
                Mô tả đánh giá
              </label>
              <textarea
                id="feedback"
                name="customerFeedback"
                placeholder="Chi tiết đánh giá"
                formControlName="comment"
                rows="3"
              ></textarea>
              <div
                class="invalid-feedback d-block"
                *ngIf="isFieldInvalid('comment')"
              >
                Vui lòng nhập chi tiết đánh giá
              </div>
            </div>

            <!-- Images Section -->
            <div>
              <label class="form-control-label fw-bold mb-2">Hình ảnh</label>
              <div id="media">
                <app-input-upload-preview
                  [immediateUpload]="true"
                  [multiple]="true"
                  [width]="80"
                  [height]="80"
                  [showButtonRight]="false"
                  [urls]="f['pictures'].value"
                  (filesChanges)="handleChangeMedia($event)"
                  (urlsChanges)="handleUrlMediaChanges($event)"
                  [loadingUpload]="loading.upload"
                ></app-input-upload-preview>
              </div>
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="modal-body">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
          [style.height]="'200px'"
        >
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading</span>
          </div>
          <div>Loading</div>
        </div>
      </div>
    }

    <div class="modal-footer one-side-buttons">
      <button class="btn button-default-modal" (click)="hideModal()">
        Đóng
      </button>
      <button
        [disabled]="loading.submit"
        class="btn button-submit-modal"
        (click)="onSubmit()"
      >
        <i class="fas fa-spinner fa-spin" *ngIf="loading.submit"></i>
        Gửi đánh giá
      </button>
    </div>
  </div>
</form>

<ng-template #noTemplate>
  <div class="mb-2">
    <div>
      <label class="form-control-label">Đánh giá</label>
    </div>
    <div class="ng-select-container ng-has-value">
      <div class="ng-value-container">
        <div style="display: flex; align-items: center">
          <ngx-stars
            [readonly]="false"
            [size]="2"
            [maxStars]="5"
            [initialStars]="form.value.rate || 0"
            [color]="'#FFD700'"
            (ratingOutput)="
              form.get('rate')?.setValue($event);
              form.get('templateId')?.setValue(null);
              form.get('criterias')?.setValue([])
            "
          ></ngx-stars>
        </div>
        <div class="invalid-feedback d-block" *ngIf="isFieldInvalid('rate')">
          Vui lòng đánh giá sản phẩm
        </div>
      </div>
    </div>
  </div>
</ng-template>
