<div class="source-site">
  <div class="card">
    <div class="card-body">
      <div class="content-site">
        <div
          class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-4"
        >
          <button
            class="btn btn-light text-secondary"
            (click)="getItems()"
            [disabled]="loading.table"
          >
            <img src="./assets/images/icon/sync.svg" alt="plus" />
            <span class="ms-2">
              Reload
              <i class="fas fa-spinner fa-spin" *ngIf="loading.table"></i>
            </span>
          </button>
          <button class="btn btn-primary ms-1 text-white" (click)="showModal()">
            <img src="./assets/images/icon/plus.svg" alt="plus" />
            <span class="ms-2">Thêm Nguồn dữ liệu</span>
          </button>
        </div>
        <div class="accordion" id="accordionExample">
          <div
            class="accordion-item"
            *ngFor="let item of listTypeSource; let index = index"
          >
            <h2 class="accordion-header" id="heading{{ index }}">
              <button
                class="accordion-button collapsed bg-white"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + index"
                aria-expanded="false"
                [attr.aria-controls]="'collapse' + index"
              >
                <img
                  *ngIf="item.picture"
                  src="{{ item.picture }}"
                  class="rounded me-2"
                  height="28px"
                  width="28px"
                  alt=""
                />
                <span class="fw-500">{{ item.label }} ({{ item.count }})</span>
              </button>
            </h2>
            <div
              id="collapse{{ index }}"
              class="accordion-collapse collapse"
              [attr.aria-labelledby]="'heading' + index"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body bg-white">
                <div class="table-responsive tableFixHead custom-scrollbar">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="column-name">#</th>
                        <th class="column-name th-allow-sort">Tên</th>
                        <th class="column-name">Mô tả</th>
                        <th class="column-name">Trạng thái</th>
                        <th class="column-name"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="!item.rows.length">
                        <tr>
                          <td colspan="5" class="text-center text-secondary">
                            Chưa có nguồn đơn!
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container
                        *ngFor="let row of item.rows; let index = index"
                      >
                        <tr cdkDrag cdkDragLockAxis="y">
                          <td>{{ index + 1 }}</td>
                          <td>
                            <div class="d-flex align-items-center">
                              <img
                                *ngIf="row.picture"
                                src="{{ row.picture }}"
                                class="rounded me-1"
                                height="28px"
                                width="28px"
                                alt=""
                              />
                              <div>
                                <div>{{ row.name }}</div>
                                <div class="fs-7 text-secondary">
                                  <!-- ID nền tảng: {{ row.platformId }} -->
                                </div>
                                <div class="fs-7 text-secondary">
                                  ID hệ thống: {{ row.id }}
                                </div>
                              </div>
                            </div>
                          </td>
                          <td style="max-width: 400px">
                            <div class="text-clamp-3">
                              <!-- {{ row.desc }} -->
                            </div>
                          </td>
                          <td class="text-center">
                            <!-- <img
                          src="./assets/images/icon/{{
                            row.isActive ? 'check' : 'not-check'
                          }}.svg"
                          alt=""
                        /> -->
                          </td>
                          <td>
                            <div class="d-flex justify-content-end">
                              <div class="btn" (click)="showModal(row)">
                                <img
                                  src="./assets/images/icon/edit.svg"
                                  alt=""
                                />
                              </div>
                              <div class="btn" (click)="delItem(row)">
                                <img
                                  src="./assets/images/icon/remove.svg"
                                  alt=""
                                />
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                      <tr class="text-center" *ngIf="loading.table">
                        <td colspan="5">
                          <div class="spinner-grow text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                          <div>Loading...</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #itemModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name2"
>
  <div class="modal-dialog modal-xs">
    <div class="modal-content" *ngIf="form">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">
          {{ form.value.id ? 'Cập nhật' : 'Thêm' }}
        </h4>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="itemModal.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="form"
          class="offcanvas-body__form needs-validation"
          [ngClass]="{'was-validated': formSubmitAttempt}"
        >
          <div class="mb-3">
            <label for="form-name">Tên</label>
            <input
              id="form-name"
              formControlName="name"
              class="form-control"
              placeholder="Tên"
              maxlength="64"
              required
            />
            <div class="invalid-feedback">Vui lòng nhập tên</div>
          </div>
          <div class="mb-3">
            <label>Nền tảng</label>
            <ng-select
              class="ng-select-custom"
              [clearable]="false"
              formControlName="platform"
              [ngClass]="{
                'has-error': isFieldValid({control: form, field: 'platform'})
              }"
            >
              <ng-option
                *ngFor="let item of listTypeSource"
                [value]="item.value"
              >
                <img
                  *ngIf="item.picture"
                  src="{{ item.picture }}"
                  class="rounded me-2"
                  height="28px"
                  width="28px"
                  alt=""
                />
                <span>{{ item.label }}</span>
              </ng-option>
            </ng-select>
            <div
              class="invalid-feedback d-block"
              *ngIf="isFieldValid({control: form, field: 'platform'})"
            >
              Vui lòng chọn nền tảng
            </div>
          </div>
          <div class="mb-3">
            <label for="form-code">Avatar</label>
            <app-input-upload
              [url]="form.value.picture"
              (urlChange)="form.get('picture')?.setValue($event)"
            ></app-input-upload>
          </div>
          <div class="mb-3">
            <label for="form-code">
              ID nền tảng ( ID Fanpage, ID Ladipage, ID Shoppee,... )
            </label>
            <input
              id="form-code"
              formControlName="platformId"
              class="form-control"
              maxlength="64"
              [ngClass]="{
                'has-error': isFieldValid({control: form, field: 'platformId'})
              }"
              placeholder="Mã"
            />
          </div>

          <div class="mb-3">
            <label for="form-desc">Mô tả</label>
            <textarea
              id="form-desc"
              class="form-control"
              formControlName="desc"
              placeholder="Mô tả"
            ></textarea>
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="form-isActive"
                formControlName="isActive"
              />
              <label class="form-check-label" for="form-isActive">
                Kích hoạt
              </label>
            </div>
          </div>
          <div class="d-grid">
            <button
              class="btn btn-primary text-white"
              [disabled]="loading.submit"
              (click)="onSubmit()"
            >
              <i class="fas fa-spinner fa-spin" *ngIf="loading.submit"></i>
              {{ form.value.id ? 'Cập nhật' : 'Thêm' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
