<div class="setting-permissions-site">
  <div class="card">
    <div class="card-body">
      <tabset class="custom-tab-basic">
        <tab
          *ngFor="let tab of tabs"
          [active]="tab.key === activeTab"
          (selectTab)="selectTab(tab.key)"
        >
          <ng-template tabHeading>
            <div class="title-tab">
              <span>{{ tab.name }}</span>
            </div>
          </ng-template>
        </tab>
      </tabset>
      <div class="content-site mt-3">
        <ng-container [ngSwitch]="activeTab">
          <ng-container *ngSwitchCase="ETabPermissions.EMPLOYEE">
            <app-employee></app-employee>
          </ng-container>
          <ng-container *ngSwitchCase="ETabPermissions.ROLE">
            <app-roles></app-roles>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
