<div *ngIf="tabs.length" class="header-filter d-flex align-items-center mb-2">
  <div class="list-button-header left button-previous">
    <div class="list-button-header d-flex align-items-center">
      <button
        type="button"
        class="button-scroll-tab"
        (click)="handleScrollTab('prev')"
      >
        <i class="fa-solid fa-caret-left"></i>
      </button>
    </div>
  </div>
  <div class="content-tab-filter d-flex align-items-center">
    <tabset class="custom-tab-basic tab-filter-data" #staticTabs>
      <tab
        *ngFor="
          let tabz of tabs;
          let last = last;
          let index = index;
          trackBy: trackByMethod
        "
        [active]="tabz.isActive"
        (selectTab)="tabz.isActive = true; handleChangeActive(tabz, index)"
        (deselect)="tabz.isActive = false"
        class="tab-custom"
        id="view-mode-id-{{ tabz.id }}"
      >
        <ng-template tabHeading>
          <div
            tooltip="{{ tabz.name && tabz.name.length >= 20 ? tabz.name : '' }}"
            [delay]="500"
            placement="bottom"
            container="body"
            containerClass="custom-tooltip-tab-filter"
            class="tab-name fw-500 d-flex align-items-start gap-2"
            *ngIf="!tabz.isEdit"
          >
            <i
              class="fa-solid fa-home"
              *ngIf="tabz.isDefault"
              [ngStyle]="{color: tabz.isActive ? '#4277FF' : '#afb2bd'}"
            ></i>
            {{ tabz.name }} {{tabz.isActive ? '(' + (quantity || 0) + ')' : ''}}
          </div>
          <div *ngIf="tabz.isEdit">
            <input
              (keydown)="handleKeyDown($event, tabz)"
              (blur)="handleUpdateTab(tabz)"
              [(ngModel)]="tabz.name"
              class="input-edit-tab"
              [placeholder]="'Nhập..'"
              [id]="'input-edit-tab-' + index"
            />
          </div>
          <div *ngIf="!tabz.isEdit" class="ms-1" container="body" dropdown>
            <div
              id="button-alignment"
              aria-controls="dropdown-alignment"
              dropdownToggle
              class="button-edit-tab justify-content-center align-items-center"
            >
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <ul
              id="dropdown-alignment"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-alignment"
            >
              <li role="menuitem" *ngIf="currentUser?.role === 'OWNER'">
                <div
                  (click)="handleSettingsViewMode(tabz)"
                  class="dropdown-item d-flex align-items-center gap-2"
                >
                  <img src="./assets/images/icon/setting.svg" alt="" />
                  Cài đặt chế độ xem
                </div>
              </li>
              <li role="menuitem" *ngIf="tabz.ownerId === currentUser?.id">
                <div
                  (click)="handleEditTab(tabz, $event, index)"
                  class="dropdown-item d-flex align-items-center gap-2"
                >
                  <img src="./assets/images/icon/edit.svg" alt="" />
                  Đổi tên chế độ xem
                </div>
              </li>
              <li role="menuitem">
                <div
                  (click)="handleCloneTab(tabz, $event)"
                  class="dropdown-item d-flex align-items-center gap-2"
                >
                  <img src="./assets/images/icon/copy.svg" alt="" />
                  Sao chép chế độ xem
                </div>
              </li>
              <li
                *ngIf="!tabz.isDefault && tabz.ownerId === currentUser?.id"
                role="menuitem"
              >
                <div
                  (click)="handleDeleteViewMode(tabz)"
                  class="dropdown-item d-flex align-items-center gap-2 text-danger"
                >
                  <img src="./assets/images/icon/remove.svg" alt="" />
                  Xóa chế độ xem
                </div>
              </li>
            </ul>
          </div>
          <div
            *ngIf="tabz.isActive"
            class="control-change"
            [ngClass]="{show: tabz.hasChanged, hide: !tabz.hasChanged}"
          >
            <div>Đã chỉnh sửa</div>
            <ng-container *ngIf="loading">
              <i class="fas fa-spinner fa-spin mx-3"></i>
            </ng-container>
            <ng-container *ngIf="!loading">
              <i
                class="fa-solid fa-check mx-3"
                (click)="handleSave(tabz, true)"
              ></i>
              <i
                class="fa-solid fa-times"
                (click)="handleSave(tabz, false)"
              ></i>
            </ng-container>
          </div>
          <div *ngIf="last" class="spacing"></div>
        </ng-template>
      </tab>
    </tabset>
  </div>
  <div class="list-button-header right button-next">
    <div class="list-button-header right d-flex align-items-center">
      <button
        type="button"
        class="button-scroll-tab"
        (click)="handleScrollTab('next')"
      >
        <i class="fa-solid fa-caret-right"></i>
      </button>
    </div>
  </div>

  <div
    type="button"
    class="button-scroll-tab button-add-tab ms-3"
    (click)="!loading && addNewTab()"
    [tooltip]="'Thêm chế độ xem'"
  >
    <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
    <i *ngIf="!loading" class="fa-solid fa-plus"></i>
  </div>
  <!-- <div class="list-button-header d-flex align-items-center">
      <div class="d-flex me-2">
        <button
          type="button"
          class="button-all-view fw-500"
          (click)="handleOpenPopover($event)"
          [popover]="!loading ? popTemplate : ''"
          [outsideClick]="true"
          [placement]="'bottom right'"
          containerClass="custom-popover-tab"
        >
          Tất cả chế độ xem
        </button>
        <div class="separate"></div>
        <button
          type="button"
          class="button-scroll-tab button-add-tab"
          (click)="!loading && addNewTab()"
        >
          <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
          <i *ngIf="!loading" class="fa-solid fa-plus"></i>
        </button>
        <ng-template #popTemplate>
          <div class="popover-tab">
            <custom-input-search
              [className]="'input-medium'"
              [placeholder]="'Search...'"
              (searchEvent)="onSearch($event)"
            ></custom-input-search>
            <div class="list-tab mt-2">
              <div class="text-center" *ngIf="!filteredTabs.length">
                Không có dữ liệu
              </div>
              <div
                class="tab-item d-flex align-items-center"
                *ngFor="let tabz of filteredTabs; let index = index"
                (click)="handleChangeActive(tabz, index, true)"
              >
                <div class="tab-item-title">{{ tabz.name }}</div>
                <div class="tab-item-action">
                  <div class="d-flex gap">
                    <div class="ms-1">
                      <div
                        class="px-2"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                      </div>
                      <ul
                        id="dropdown-alignment2"
                        class="dropdown-menu"
                        role="menu"
                      >
                        <li role="menuitem">
                          <div
                            (click)="handleEditTab(tabz, $event, index)"
                            class="dropdown-item d-flex align-items-center gap-2"
                          >
                            <img src="./assets/images/icon/edit.svg" alt="" />
                            Đổi tên chế độ xem
                          </div>
                        </li>
                        <li role="menuitem">
                          <div
                            (click)="handleCloneTab(tabz, $event)"
                            class="dropdown-item d-flex align-items-center gap-2"
                          >
                            <img src="./assets/images/icon/copy.svg" alt="" />
                            Sao chép chế độ xem
                          </div>
                        </li>
                        <li *ngIf="!tabz.isDefault" role="menuitem">
                          <div
                            (click)="handleDeleteViewMode(tabz)"
                            class="dropdown-item d-flex align-items-center gap-2 text-danger"
                          >
                            <img src="./assets/images/icon/remove.svg" alt="" />
                            Xóa chế độ xem
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div> -->
</div>

<ng-template #viewSettingsModal>
  <app-custom-modal
    (submitModal)="saveViewSettings()"
    (hideModal)="modalRef?.hide()"
    *ngIf="selectedTab"
  >
    <ng-container modalTitle>Cài đặt chế độ xem</ng-container>

    <ng-container modalBody>
      <div class="mb-3">
        <label class="form-label">Phạm vi hiển thị</label>
        <div class="d-flex flex-column gap-2">
          <div class="form-check" *ngFor="let modeType of modeTypes">
            <ng-container
              *ngIf="!modeType.role || modeType.role === currentUser?.role"
            >
              <input
                class="form-check-input"
                type="radio"
                name="viewScope"
                [id]="modeType.value"
                [value]="modeType.value"
                [(ngModel)]="selectedTab.type"
              />
              <label class="form-check-label" [htmlFor]="modeType.value">
                {{ modeType.label }}
              </label>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="mt-3" *ngIf="selectedTab.type === 'position'">
        <label class="form-label">Chọn chi nhánh</label>
        <p-treeSelect
          [filter]="true"
          [options]="units"
          [(ngModel)]="selectedUnits"
          (onNodeSelect)="handleChangeUnits($event)"
          (onNodeUnselect)="handleChangeUnits($event)"
          [metaKeySelection]="false"
          selectionMode="checkbox"
          class="w-100"
          containerStyleClass="w-100 input-medium custom-tree-select fw-normal show-in-above"
          placeholder="Chọn Chi nhánh..."
        >
          <ng-template pTemplate="value" let-selectedNodes>
            <ng-container *ngIf="selectedNodes?.length">
              {{ getSelectedSummary(selectedNodes) }}
            </ng-container>
            <ng-container *ngIf="!selectedNodes?.length">
              Chọn Chi nhánh...
            </ng-container>
          </ng-template>
        </p-treeSelect>
      </div>

      <div class="mt-3" *ngIf="selectedTab.type === 'role'">
        <label class="form-label">Chọn vai trò</label>
        <div class="action-roles">
          <ng-select
            id="role"
            [items]="roles"
            bindLabel="name"
            bindValue="id"
            placeholder="Chọn vai trò"
            [multiple]="true"
            [closeOnSelect]="false"
            [clearable]="true"
            class=""
            appendTo=".modal"
            [(ngModel)]="selectedTab.roleIds"
          >
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <span class="ng-value-icon" (click)="clear(item)">×</span>
              <div class="ng-value-label">
                <i class="fa-solid" *ngIf="item.icon" [ngClass]="item.icon"></i>
                <span class="ms-2">{{ item.name }}</span>
              </div>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              <div class="ng-value-label">
                <i class="fa-solid" *ngIf="item.icon" [ngClass]="item.icon"></i>
                <span class="ms-2">{{ item.name }}</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <div class="mt-3" *ngIf="selectedTab.type === 'personal'">
        <label class="form-label">Chọn nhân viên</label>
        <ng-select
          [items]="bizUsers | filterData: selectedUserIds : ['id']"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          [closeOnSelect]="false"
          [placeholder]="'Chọn nhân viên'"
          [notFoundText]="'Không có nhân viên'"
          #ngSelect
          (change)="handleChooseUser($event); ngSelect?.handleClearClick()"
          appendTo=".modal"
        >
          <ng-template ng-option-tmp let-item="item">
            <div
              class="person-info d-flex justify-content-between align-items-center p-1"
            >
              <div class="d-flex justify-content-between align-items-center">
                <img
                  class="avatar"
                  alt=""
                  fallback="./assets/images/avatar.svg"
                  src="{{ item?.picture }}"
                />
                <div class="d-flex flex-column mx-3">
                  <span class="account-name fw-500">
                    {{ item?.name }}
                  </span>
                  <span class="account-phone">
                    {{ item?.phone }}
                  </span>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-select>

        <div class="user-list-header d-flex" *ngIf="selectedUsers.length">
          <span class="form-control-label m-0 flex-grow-1">Nhân viên</span>
        </div>

        <div class="user-list-container">
          <div
            class="d-flex align-items-center gap-3"
            *ngFor="let user of selectedUsers; let i = index"
          >
            <div class="d-flex align-items-center flex-grow-1">
              <div class="me-2">
                <img
                  [src]="user.picture || './assets/images/avatar.svg'"
                  alt="Avatar"
                  class="img-fluid rounded-circle"
                  style="width: 32px; height: 32px"
                />
              </div>
              <div>
                <div class="fw-bold">
                  {{ user.name }}
                </div>
                <div class="text-muted small">
                  {{ user.email }}
                </div>
              </div>
            </div>

            <div>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="handleRemoveUser(user)"
                style="border: 1px solid #dc3545"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </app-custom-modal>
</ng-template>
