.view-settings-container {
  position: relative;
  
  .view-settings-menu {
    position: absolute;
    top: 10px;
    left: 100%;
    width: 180px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1050;
    display: none;
  }
  
  &:hover > .view-settings-menu {
    display: block;
  }
  
  .view-setting-option {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    
    &:hover {
      background-color: #f5f5f5;
    }
  }
  
  .department-container {
    position: relative;
    
    .departments-menu {
      position: absolute;
      top: 0;
      left: 100%;
      width: 200px;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1051;
      display: none;
      max-height: 300px;
      overflow-y: auto;
    }
    
    &:hover > .departments-menu {
      display: block;
    }
    
    .department-option {
      padding: 8px 12px;
      cursor: pointer;
      
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #495057;
  text-transform: uppercase;
  object-fit: cover;
}


.user-list-container {
  max-height: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-list-header {
  color: #979aa6;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  vertical-align: middle;
  background-color: #f4f6fa !important;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.popover-tab {
  .tab-item {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    
    &:hover {
      background-color: rgba(66, 119, 255, 0.05);
    }
    
    &.active-tab {
      background-color: rgba(66, 119, 255, 0.1);
      
      .tab-item-title {
        color: #4277FF;
        font-weight: 500;
      }
    }
  }
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.nav-box:last-child {
  border: none;
}

.nav-list.cdk-drop-list-dragging .nav-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .custom-tab-basic.tab-filter-data {
  .nav-tabs {
    .nav-link {
      margin-right: 4px ;
    }
  }
}

::ng-deep.header-filter .list-button-header.btn-all-and-create-view {
  min-width: 105px;
  width: auto;
}

//HD 
@media (min-width: 1280px) and (max-width: 1359px) {
  ::ng-deep .custom-tab-basic.tab-filter-data {
    .nav-tabs {
      max-width: 1015px;
    }
  }
}

/* 1366 × 768 */
@media (min-width: 1366px) and (max-width: 1919.98px) {
  ::ng-deep .custom-tab-basic.tab-filter-data {
    .nav-tabs {
      max-width: 1100px;
    }
  }
}

.color-picker-container {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    z-index: 1051;
    display: none;
  }

  &::before {
    right: 100%;
  }
  &::after {
    left: 100%;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }
  
  .color-picker-menu {
    position: absolute;
    top: 0;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 1052;
    display: none;
    padding: 16px;
  }

  .color-picker-menu.right {
    left: calc(100% + 4px);
  }

  .color-picker-menu.left {
    right: calc(100% + 4px);
  }
  
  &:hover .color-picker-menu {
    display: block !important;
  }
  
  .color-grid {
    display: grid;
    grid-template-columns: repeat(7, 18px);
    gap: 10px;
  }
  
  .color-option {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    img{
      width: 18px;
      height: 18px;
    }
  }
}
