<div class="modal-call">
  <form [formGroup]="form">
    <app-custom-modal
      [isSubmitting]="loading.submit"
      (submitModal)="onSubmit()"
      [textOk]="'Gọi'"
    >
      <ng-container modalTitle>Gọi điện</ng-container>
      <ng-container modalBody>
        <div class="mb-2">
          <label class="form-control-label" for="platform">
            Platform
            <span class="required">*</span>
          </label>
          <ng-select
            [ngClass]="{
              'is-invalid': submitted && f['platform'].errors
            }"
            [placeholder]="'Chọn Platform'"
            [searchable]="true"
            [items]="callPlatforms.rows"
            (change)="handleChangePlatform()"
            [loading]="callPlatforms.loading"
            appearance="outline"
            formControlName="platform"
            id="platform"
            appendTo=".modal-call"
            bindLabel="name"
            bindValue="id"
          ></ng-select>
          <div
            *ngIf="submitted && f['platform'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['platform'].errors?.['required']">
              Platform không được bỏ trống
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-control-label" for="phone">
            Số điện thoại
            <span class="required">*</span>
          </label>
          <ng-select
            [ngClass]="{
              'is-invalid': submitted && f['phone'].errors
            }"
            [placeholder]="'Chọn Số điện thoại'"
            [searchable]="true"
            [items]="phones.rows"
            [loading]="phones.loading"
            class="dropdown-auto-width"
            appearance="outline"
            formControlName="phone"
            id="phone"
            appendTo=".modal-call"
            bindLabel="name"
            bindValue="id"
          ></ng-select>
          <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
            <div *ngIf="f['phone'].errors?.['required']">
              Số điện thoại không được bỏ trống
            </div>
          </div>
        </div>
        <div class="mt-5">
          <div>
            <textarea
              id="accessTokenArea"
              rows="6"
              cols="50"
              style="height: 130px; width: 600px; resize: none"
            >
YOUR ACCESS TOKEN</textarea
            >
            <br />
            <br />
            <button id="loginBtn">Login</button>
            Logged in:
            <span id="loggedUserId" style="color: red">Not logged</span>
          </div>

          <div>
            <br />
            Make call from:
            <input
              id="fromNumber"
              type="text"
              name="fromNumber"
              style="width: 650px"
              placeholder="Enter the phone number purchased from Stringee here to make an App-to-Phone call"
              value=""
            />

            <br />
            <br />
            Make call to:
            <input
              id="callTo"
              type="text"
              name="toUsername"
              style="width: 200px"
              placeholder="userId or number"
              value=""
            />

            <button disabled="" id="callBtn" onclick="testMakeCall()">
              Call
            </button>
            <button disabled="" id="hangupBtn" onclick="testHangupCall()">
              Hangup
            </button>
          </div>

          <div id="incoming-call-div">
            Incoming call from:
            <span id="incoming_call_from"></span>
            <button id="answerBtn" onclick="testAnswerCall()">Answer</button>
            <button id="rejectBtn" onclick="testRejectCall()">Reject</button>
          </div>

          <div>
            <br />
            Call status:
            <span id="callStatus" style="color: red">Not started</span>
            | Call type:
            <span id="callType" style="color: red">...</span>
          </div>

          <div>
            <video
              id="remoteVideo"
              playsinline
              autoplay
              style="width: 350px"
            ></video>
          </div>
        </div>
      </ng-container>
    </app-custom-modal>
  </form>
</div>
