<div class="modal-call">
  <form [formGroup]="form">
    <app-custom-modal (hideModal)="handleHangup()">
      <ng-container modalTitle>Gọi điện</ng-container>
      <ng-container modalBody>
        <div class="mb-2">
          <label class="form-control-label" for="platform">
            Platform
            <span class="required">*</span>
          </label>
          <ng-select
            [ngClass]="{
              'is-invalid': submitted && f['platform'].errors
            }"
            [placeholder]="'Chọn Platform'"
            [searchable]="true"
            [items]="callPlatforms.rows"
            (change)="handleChangePlatform($event)"
            [loading]="callPlatforms.loading"
            appearance="outline"
            formControlName="platform"
            id="platform"
            appendTo=".modal-call"
            bindLabel="name"
            bindValue="id"
          ></ng-select>
          <div
            *ngIf="submitted && f['platform'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['platform'].errors?.['required']">
              Platform không được bỏ trống
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-control-label" for="phone">
            Số điện thoại
            <span class="required">*</span>
          </label>
          <ng-select
            [ngClass]="{
              'is-invalid': submitted && f['phone'].errors
            }"
            [placeholder]="'Chọn Số điện thoại'"
            [searchable]="true"
            [items]="phones.rows"
            [loading]="phones.loading"
            class="dropdown-auto-width"
            appearance="outline"
            formControlName="phone"
            id="phone"
            appendTo=".modal-call"
            bindLabel="name"
            bindValue="id"
          ></ng-select>
          <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
            <div *ngIf="f['phone'].errors?.['required']">
              Số điện thoại không được bỏ trống
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-control-label" for="toPhone">
            Gọi đến
            <span class="required">*</span>
          </label>
          <input
            [readonly]="true"
            type="text"
            class="form-control"
            formControlName="toPhone"
            id="toPhone"
            [ngClass]="{
              'is-invalid': submitted && f['toPhone'].errors
            }"
          />
          <div
            *ngIf="submitted && f['toPhone'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['toPhone'].errors?.['required']">
              Số điện thoại không được bỏ trống
            </div>
          </div>
        </div>
        <div class="mb-5">
          <div id="incomingCallDiv" [style.display]="'none'">
            Incoming call from:
            <span id="incomingCallFrom"></span>
            <button (click)="handleAnswer()" id="answerBtn">Trả lời</button>
            <button (click)="handleReject()" id="rejectBtn">Từ chối</button>
          </div>
          <div>
            <br />
            <p>
              Trạng thái cuộc gọi:
              <span id="callStatus" style="color: red">Not started</span>
            </p>
            <p>
              Loại cuộc gọi:
              <span id="callType" style="color: red">...</span>
            </p>
            <p>
              Thời gian cuộc gọi:
              <span *ngIf="displayCallTime" id="callTIme" class="fw-500">
                {{ displayCallTime }} giây
              </span>
            </p>
          </div>
        </div>
        <div style="display: none" class="mb-5">
          <video id="remoteVideo" playsinline autoplay></video>
        </div>
      </ng-container>
      <div
        modalFooter
        class="d-flex justify-content-end align-items-center gap-2"
      >
        <button
          (click)="handleHangup(); hideModal()"
          class="btn button-default-modal"
          type="button"
        >
          Hủy
        </button>
        <button
          (click)="handleHangup()"
          class="btn button-default-modal"
          type="button"
          id="hangupBtn"
          [style.display]="callStatus === 'connected' ? 'block' : 'none'"
        >
          Kết thúc
        </button>
        <div [style.display]="callStatus === 'none' ? 'block' : 'none'">
          <custom-button-loading
            [isLoading]="loading.submit"
            [isDisabled]="loading.submit"
            (action)="onSubmit()"
            [type]="'button'"
            [textButton]="'Gọi'"
            [className]="'button-submit-modal'"
          ></custom-button-loading>
        </div>
      </div>
    </app-custom-modal>
  </form>
</div>
