<div class="chain-detail-site">
  <div class="card">
    <div class="card-body">
      <div
        class="header-site d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center gap-5">
          <span class="fw-bold">{{ detailChain?.name || '-' }}</span>
          <div class="form-check form-switch mb-0">
            <input
              checked="{{ detailChain?.isActive ? 'checked' : null }}"
              (change)="handleUpdateChain($event)"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="isActiveChain"
            />
            <label
              class="form-check-label form-control-label mb-0"
              for="isActiveChain"
            >
              Trạng thái kich hoạt
            </label>
          </div>
          <div
            *ngIf="!!detailChain"
            class="d-flex justify-content-center align-items-center gap-2"
          >
            <label class="form-control-label mb-0">
              Độ trễ chuỗi
              <i
                class="fa-regular fa-circle-question ms-1"
                tooltip="Sau bao lâu thực hiện hành động đầu tiên của chuỗi"
                placement="right"
              ></i>
            </label>
            <ng-select
              [style.width]="'130px'"
              [placeholder]="'Chọn loại'"
              [(ngModel)]="fistActionDelay.delayType"
              (change)="fistActionDelay.delayValue = undefined"
              [ngClass]="{
                'is-invalid':
                  submitted && fistActionDelay.delayType === undefined
              }"
              [clearable]="false"
              [searchable]="false"
              class="dropdown-auto-width"
              id="delayType-first-action"
              appendTo="body"
            >
              <ng-option [value]="EDelayType.NOW">Ngay lập tức</ng-option>
              <ng-option [value]="EDelayType.MINUTE">Phút</ng-option>
              <ng-option [value]="EDelayType.HOUR">Giờ</ng-option>
              <ng-option [value]="EDelayType.DAY">Ngày</ng-option>
            </ng-select>
            <div
              *ngIf="
                ![undefined, EDelayType.NOW].includes(fistActionDelay.delayType)
              "
              [style.width]="'150px'"
            >
              <input
                [ngClass]="{
                  'is-invalid':
                    submitted &&
                    (fistActionDelay.delayValue === undefined ||
                      fistActionDelay.delayValue === null)
                }"
                placeholder="Nhập số nguyên"
                class="input-medium"
                type="number"
                [(ngModel)]="fistActionDelay.delayValue"
              />
            </div>
          </div>
        </div>
        <div>
          <app-filter-top-table
            [configButtons]="configButtons"
            (clickButtonEvent)="handleAction($event)"
          ></app-filter-top-table>
        </div>
      </div>
      <div class="table-responsive tableFixHead custom-scrollbar mt-3">
        <table class="table table-none-border table-medium-head">
          <thead>
            <tr>
              <th class="columns-index">Thứ tự</th>
              <th class="columns-action">Hành động</th>
              <th class="columns-step-or-center"></th>
              <th class="columns-result">Kết quả</th>
              <th class="columns-step-center"></th>
              <th class="columns-next-action">Bước tiếp theo</th>
              <th class="columns-duration">
                Độ trễ
                <i
                  class="fa-regular fa-circle-question ms-1"
                  tooltip="Khoảng thời gian thực hiện hành động kế"
                  placement="right"
                ></i>
              </th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="dropRow($event)">
            <tr
              class="text-center"
              *ngIf="!detailChain?.actionResults?.length && !loading.detail"
            >
              <td colspan="12">
                <div class="mt-3">Không có dữ liệu</div>
                <div class="mt-3">
                  Kiểm tra và thêm hành động vào chuỗi
                  <span
                    (click)="handleNavigate('?tab=chain_action')"
                    class="text-link cursor-pointer fw-500"
                  >
                    tại đây
                  </span>
                </div>
              </td>
            </tr>
            <tr class="text-center" *ngIf="loading.detail">
              <td colspan="12">
                <div class="spinner-grow text-primary" role="status">
                  <span class="visually-hidden">Loading</span>
                </div>
                <div>Loading</div>
              </td>
            </tr>
            <ng-container
              *ngFor="
                let item of detailChain?.actionResults;
                index as i;
                let lastAction = last
              "
            >
              <tr cdkDrag cdkDragLockAxis="y" class="rootRow">
                <td class="" colspan="1">
                  <div class="d-flex align-items-center">
                    <span class="fw-500">#{{ i + 1 }}</span>
                  </div>
                </td>
                <td class="columns-action">
                  <div class="d-flex gap-2">
                    <div
                      cdkDragHandle
                      (click)="$event.preventDefault()"
                      class="d-flex align-items-center cursor-pointer button-more-option"
                    >
                      <img src="./assets/images/icon/dragDrop.svg" alt="" />
                    </div>
                    <ng-select
                      [style.width]="'95%'"
                      [placeholder]="'Chọn hành động'"
                      [searchable]="false"
                      (open)="!actions.rows.length && getAction()"
                      [loading]="actions.loading"
                      (scrollToEnd)="handleLoadMore('action')"
                      (change)="handleChangeAction($event, i, item)"
                      [(ngModel)]="item.actionId"
                      [ngClass]="{
                        'is-invalid': submitted && !item.actionId
                      }"
                      [clearable]="false"
                      class="dropdown-auto-width"
                      id="actions-{{ i }}"
                      appendTo="body"
                    >
                      <ng-option
                        *ngFor="let action of actions.rows"
                        [value]="action.id"
                        [disabled]="getActionIds().includes(action.id)"
                      >
                        {{ action.name }}
                      </ng-option>
                    </ng-select>
                    <div
                      style="width: 30px"
                      class="button-more-option d-flex justify-content-center align-items-center"
                    >
                      <div
                        class="dropdown"
                        dropdown
                        container="body"
                        placement="right"
                      >
                        <button dropdownToggle type="button">
                          <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <div
                          *dropdownMenu
                          class="dropdown-menu dropdown-menu-right dropdown-menu-custom"
                          aria-labelledby="my-dropdown"
                        >
                          <button
                            class="dropdown-item"
                            type="button"
                            (click)="handleAddAction(i)"
                          >
                            <div class="d-flex align-items-center">
                              <i class="fa-solid fa-plus me-2"></i>
                              <span>Thêm hành động lên trên</span>
                            </div>
                          </button>
                          <button
                            class="dropdown-item"
                            type="button"
                            (click)="handleAddAction(i + 1)"
                          >
                            <div class="d-flex align-items-center">
                              <i class="fa-solid fa-plus me-2"></i>
                              <span>Thêm hành động xuống dưới</span>
                            </div>
                          </button>
                          <button
                            class="dropdown-item text-danger"
                            type="button"
                            (click)="handleRemoveAction(i, item)"
                          >
                            <div class="d-flex align-items-center">
                              <i
                                style="color: #ef6a6a"
                                class="fa-solid fa-trash-can me-2"
                              ></i>
                              <span>Xóa hành động</span>
                            </div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="columns-step-or-center content">
                  <div
                    [class.mt-2]="!firstResult"
                    *ngFor="
                      let result of item.results;
                      let resultIndex = index;
                      let firstResult = first;
                      let lastResult = last
                    "
                  >
                    <div
                      [ngClass]="{
                        'columns-step-item--first':
                          item.results.length !== 1 && firstResult,
                        'columns-step-item--last':
                          item.results.length !== 1 && lastResult,
                        'columns-step-item--one': item.results.length === 1,
                        'columns-step-item--center':
                          !firstResult &&
                          !lastResult &&
                          item.results.length !== 1
                      }"
                      class="columns-step-item"
                    ></div>
                    <div
                      *ngFor="
                        let nextAction of result['nextActions'];
                        let nextActionIndex = index;
                        let firstAction = first;
                        let lastNextAction = last
                      "
                    >
                      <div
                        *ngIf="!firstAction"
                        [class.padding-temp]="!lastResult"
                      ></div>
                    </div>
                    <div [class.padding-button-temp]="!lastResult"></div>
                  </div>
                </td>
                <td
                  cdkDropList
                  (cdkDropListDropped)="dropResultRow($event, item.results)"
                  class="columns-result group-data"
                >
                  <div
                    [class.mt-2]="!firstResult"
                    *ngFor="
                      let result of item.results;
                      let resultIndex = index;
                      let firstResult = first;
                      let lastResult = last
                    "
                  >
                    <div cdkDrag cdkDragLockAxis="y" class="row result-item">
                      <div class="d-flex align-items-center">
                        <div
                          cdkDragHandle
                          (click)="$event.preventDefault()"
                          class="d-flex align-items-center cursor-pointer me-2 button-more-option"
                        >
                          <img src="./assets/images/icon/dragDrop.svg" alt="" />
                        </div>
                        <ng-select
                          [style.width]="'95%'"
                          [placeholder]="'Chọn kết quả'"
                          [searchable]="false"
                          [items]="results.rows"
                          (open)="!results.rows.length && getResult()"
                          [loading]="results.loading"
                          (scrollToEnd)="handleLoadMore('result')"
                          [(ngModel)]="result.resultId"
                          [ngClass]="{
                            'is-invalid': submitted && !result.resultId
                          }"
                          [clearable]="false"
                          class="ng-select-custom dropdown-auto-width input-medium"
                          id="results-{{ resultIndex }}"
                          bindLabel="name"
                          bindValue="id"
                          appendTo="body"
                        ></ng-select>
                        <div
                          style="width: 30px"
                          class="button-more-option d-flex justify-content-center align-items-center"
                        >
                          <div
                            class="dropdown"
                            container="body"
                            dropdown
                            placement="right"
                          >
                            <button dropdownToggle type="button">
                              <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <div
                              *dropdownMenu
                              class="dropdown-menu dropdown-menu-right dropdown-menu-custom"
                              aria-labelledby="my-dropdown"
                            >
                              <button
                                class="dropdown-item"
                                type="button"
                                (click)="handleAddResult(item, i, resultIndex)"
                              >
                                <div class="d-flex align-items-center">
                                  <i class="fa-solid fa-plus me-2"></i>
                                  <span>Thêm kết quả lên trên</span>
                                </div>
                              </button>
                              <button
                                class="dropdown-item"
                                type="button"
                                (click)="
                                  handleAddResult(item, i, resultIndex + 1)
                                "
                              >
                                <div class="d-flex align-items-center">
                                  <i class="fa-solid fa-plus me-2"></i>
                                  <span>Thêm kết quả xuống dưới</span>
                                </div>
                              </button>
                              <button
                                class="dropdown-item text-danger"
                                type="button"
                                (click)="handleRemoveResult(i, resultIndex)"
                              >
                                <div class="d-flex align-items-center">
                                  <i
                                    style="color: #ef6a6a"
                                    class="fa-solid fa-trash-can me-2"
                                  ></i>
                                  <span>Xóa kết quả</span>
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngFor="
                        let nextAction of result['nextActions'];
                        let nextActionIndex = index;
                        let firstAction = first
                      "
                    >
                      <div
                        *ngIf="!firstAction"
                        class=""
                        [class.padding-temp]="!lastResult"
                      ></div>
                    </div>
                    <div
                      class=""
                      [class.padding-button-temp]="!lastResult"
                    ></div>
                  </div>
                  <div>
                    <button
                      type="button"
                      class="btn button-add-row text-link w-100 mt-2"
                      (click)="handleAddResult(item, i)"
                    >
                      <i class="fa-solid fa-plus me-1"></i>
                      Thêm kết quả
                    </button>
                  </div>
                </td>
                <td class="columns-step-center content">
                  <div
                    [class.mt-2]="!firstResult"
                    *ngFor="
                      let result of item.results;
                      let resultIndex = index;
                      let firstResult = first;
                      let lastResult = last
                    "
                  >
                    <div
                      class="columns-step-item"
                      *ngFor="
                        let nextAction of result['nextActions'];
                        let nextActionIndex = index;
                        let firstAction = first;
                        let lastNextAction = last
                      "
                      [class.mt-2]="!firstAction"
                      [ngClass]="{
                        'columns-step-item--first':
                          result['nextActions'].length !== 1 && firstAction,
                        'columns-step-item--last':
                          result['nextActions'].length !== 1 && lastNextAction,
                        'columns-step-item--one':
                          result['nextActions'].length === 1,
                        'columns-step-item--center':
                          !firstAction &&
                          !lastNextAction &&
                          result['nextActions'].length !== 1
                      }"
                    ></div>
                    <div
                      *ngIf="!result['nextActions'].length"
                      [style.height]="'36px'"
                    ></div>
                    <div class="padding-button-temp"></div>
                  </div>
                </td>
                <td class="columns-next-action">
                  <div
                    class="group-data"
                    [class.mt-2]="!firstResult"
                    *ngFor="
                      let result of item.results;
                      let resultIndex = index;
                      let firstResult = first
                    "
                    cdkDropList
                    (cdkDropListDropped)="
                      dropResultRow($event, result['nextActions'])
                    "
                  >
                    <div
                      class="data-item"
                      *ngFor="
                        let nextAction of result['nextActions'];
                        let nextActionIndex = index;
                        let firstAction = first;
                        let lastNextAction = last
                      "
                    >
                      <div
                        cdkDrag
                        cdkDragLockAxis="y"
                        class="d-flex align-items-center"
                      >
                        <div
                          cdkDragHandle
                          (click)="$event.preventDefault()"
                          class="d-flex align-items-center cursor-pointer me-2 button-more-option"
                        >
                          <img src="./assets/images/icon/dragDrop.svg" alt="" />
                        </div>
                        <div
                          style="width: 95%"
                          class="row result-item gx-2"
                          [class.mt-2]="!firstAction"
                        >
                          <div class="col">
                            <ng-select
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  ((result.resultId &&
                                    nextAction.nextAction === undefined) ||
                                    !result.resultId)
                              }"
                              [placeholder]="'Chọn hành động'"
                              [searchable]="false"
                              [items]="nextStepTypes"
                              [(ngModel)]="nextAction.nextAction"
                              (change)="handleChangeNextAction(nextAction)"
                              [clearable]="false"
                              class="dropdown-auto-width"
                              id="action-{{ nextActionIndex }}-{{
                                resultIndex
                              }}"
                              bindLabel="label"
                              bindValue="value"
                              appendTo="body"
                            ></ng-select>
                          </div>
                          <div
                            *ngIf="
                              nextAction.nextAction &&
                              [
                                ENextStepType.CALL_BLOCK_AUTOMATION,
                                ENextStepType.CONTINUE_TO_NEXT_ACTION,
                                ENextStepType.ADD_CHAIN
                              ].includes(nextAction.nextAction)
                            "
                            class="col"
                          >
                            <div
                              *ngIf="
                                nextAction.nextAction ===
                                ENextStepType.CALL_BLOCK_AUTOMATION
                              "
                            >
                              <ng-select
                                [ngClass]="{
                                  'is-invalid':
                                    submitted &&
                                    ((result.resultId &&
                                      nextAction.callToBlockId === undefined) ||
                                      !result.resultId)
                                }"
                                [(ngModel)]="nextAction.callToBlockId"
                                [placeholder]="'Chọn Block'"
                                [searchable]="true"
                                [items]="blocks.rows"
                                [loading]="blocks.loading"
                                [clearable]="false"
                                class="dropdown-auto-width"
                                id="block-{{ nextActionIndex }}-{{
                                  resultIndex
                                }}"
                                bindLabel="name"
                                bindValue="id"
                                appendTo="body"
                              ></ng-select>
                            </div>
                            <div
                              *ngIf="
                                nextAction.nextAction ===
                                ENextStepType.ADD_CHAIN
                              "
                            >
                              <ng-select
                                [ngClass]="{
                                  'is-invalid':
                                    submitted &&
                                    ((result.resultId &&
                                      nextAction.addNewChainActId ===
                                        undefined) ||
                                      !result.resultId)
                                }"
                                [(ngModel)]="nextAction.addNewChainActId"
                                (change)="
                                  handleChangeActionFromNewChain(
                                    $event,
                                    nextAction
                                  )
                                "
                                [placeholder]="'Chọn HĐ từ chuỗi khác'"
                                [searchable]="true"
                                [items]="
                                  actionChains.rows
                                    | filterData: [detailChain?.id] : ['id']
                                "
                                [loading]="actionChains.loading"
                                [clearable]="false"
                                class="dropdown-auto-width"
                                id="actionChain-{{ nextActionIndex }}-{{
                                  resultIndex
                                }}"
                                bindLabel="name"
                                bindValue="id"
                                groupBy="actionResults"
                                appendTo="body"
                              >
                                <ng-template ng-optgroup-tmp let-item="item">
                                  {{ item?.name || '-' }}
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item">
                                  {{ item?.action?.name || '-' }}
                                </ng-template>
                                <ng-template ng-label-tmp let-item="item">
                                  {{ item?.action?.name || '-' }}&nbsp;
                                  <span class="fw-500">
                                    (
                                    {{ item?.chainAct?.name || '-' }}
                                    )
                                  </span>
                                </ng-template>
                              </ng-select>
                            </div>
                            <div
                              *ngIf="
                                nextAction.nextAction ===
                                ENextStepType.CONTINUE_TO_NEXT_ACTION
                              "
                            >
                              <ng-select
                                [ngClass]="{
                                  'is-invalid':
                                    submitted &&
                                    ((result.resultId &&
                                      !nextAction.moveToActionId) ||
                                      !result.resultId)
                                }"
                                [(ngModel)]="nextAction.moveToActionId"
                                [placeholder]="'Chọn Hành động'"
                                [searchable]="false"
                                [clearable]="false"
                                class="dropdown-auto-width"
                                id="block-{{ nextActionIndex }}-{{
                                  resultIndex
                                }}"
                                appendTo="body"
                              >
                                <ng-option
                                  *ngFor="
                                    let option of filterActionResults(item.id)
                                  "
                                  [value]="option.id"
                                >
                                  {{ option.action?.name || '-' }}
                                </ng-option>
                              </ng-select>
                            </div>
                          </div>
                          <div class="col-2">
                            <ng-select
                              [ngClass]="{
                                'is-invalid':
                                  submitted &&
                                  ((result.resultId &&
                                    nextAction.type === undefined) ||
                                    !result.resultId)
                              }"
                              [placeholder]="'Chọn loại'"
                              (scrollToEnd)="handleLoadMore('action')"
                              [(ngModel)]="nextAction.type"
                              [clearable]="false"
                              class="dropdown-auto-width"
                              id="typeAction-{{ nextActionIndex }}-{{
                                resultIndex
                              }}"
                              appendTo="body"
                            >
                              <ng-option [value]="EChainNextActType.AUTO">
                                Tự động
                              </ng-option>
                              <ng-option [value]="EChainNextActType.MANUAL">
                                Thủ công
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div
                          class="button-more-option d-flex justify-content-center align-items-center"
                        >
                          <div
                            class="dropdown"
                            container="body"
                            dropdown
                            placement="right"
                          >
                            <button dropdownToggle class="btn" type="button">
                              <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                            <div
                              *dropdownMenu
                              class="dropdown-menu dropdown-menu-right dropdown-menu-custom"
                              aria-labelledby="my-dropdown"
                            >
                              <button
                                class="dropdown-item"
                                type="button"
                                (click)="
                                  handleAddNextAction(
                                    item,
                                    i,
                                    resultIndex,
                                    nextActionIndex
                                  )
                                "
                              >
                                <div class="d-flex align-items-center">
                                  <i class="fa-solid fa-plus me-2"></i>
                                  <span>Thêm hành động lên trên</span>
                                </div>
                              </button>
                              <button
                                class="dropdown-item"
                                type="button"
                                (click)="
                                  handleAddNextAction(
                                    item,
                                    i,
                                    resultIndex,
                                    nextActionIndex + 1
                                  )
                                "
                              >
                                <div class="d-flex align-items-center">
                                  <i class="fa-solid fa-plus me-2"></i>
                                  <span>Thêm hành động xuống dưới</span>
                                </div>
                              </button>
                              <button
                                class="dropdown-item text-danger"
                                type="button"
                                (click)="
                                  removeNextAction(result, nextActionIndex)
                                "
                              >
                                <div class="d-flex align-items-center">
                                  <i
                                    style="color: #ef6a6a"
                                    class="fa-solid fa-trash-can me-2"
                                  ></i>
                                  <span>Xóa hành động</span>
                                </div>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="!result['nextActions'].length"
                      [style.height]="'36px'"
                    ></div>
                    <div>
                      <button
                        *ngIf="item.results.length"
                        type="button"
                        class="btn button-add-row text-link w-100 mt-2"
                        (click)="handleAddNextAction(item, i, resultIndex)"
                      >
                        <i class="fa-solid fa-plus me-1"></i>
                        Thêm hành động kế
                      </button>
                    </div>
                  </div>
                </td>
                <!--                <div-->
                <!--                  *cdkDragPreview-->
                <!--                  matchSize="true"-->
                <!--                  class="container dragdrop-placeholder"-->
                <!--                >-->
                <!--                  {{ item.action?.name || '-' }}-->
                <!--                </div>-->
                <td class="columns-duration">
                  <div
                    [class.mt-2]="!firstResult"
                    *ngFor="
                      let result of item.results;
                      let resultIndex = index;
                      let firstResult = first
                    "
                  >
                    <div
                      *ngFor="
                        let nextAction of result['nextActions'];
                        let nextActionIndex = index;
                        let firstAction = first
                      "
                    >
                      <div class="row gx-2" [class.mt-2]="!firstAction">
                        <div class="col">
                          <ng-select
                            [ngClass]="{
                              'is-invalid':
                                submitted &&
                                ((result.resultId &&
                                  nextAction.delayType === undefined) ||
                                  !result.resultId)
                            }"
                            [placeholder]="'Chọn loại'"
                            [(ngModel)]="nextAction.delayType"
                            [clearable]="false"
                            [searchable]="false"
                            class="dropdown-auto-width"
                            id="delayType-{{ nextActionIndex }}-{{
                              resultIndex
                            }}"
                            appendTo="body"
                          >
                            <ng-option [value]="EDelayType.NOW">
                              Ngay lập tức
                            </ng-option>
                            <ng-option [value]="EDelayType.MINUTE">
                              Phút
                            </ng-option>
                            <ng-option [value]="EDelayType.HOUR">Giờ</ng-option>
                            <ng-option [value]="EDelayType.DAY">Ngày</ng-option>
                          </ng-select>
                        </div>
                        <div
                          *ngIf="
                            ![undefined, EDelayType.NOW].includes(
                              nextAction.delayType
                            )
                          "
                          class="col-6"
                        >
                          <input
                            [(ngModel)]="nextAction.delayValue"
                            class="input-medium"
                            [ngClass]="{
                              'is-invalid':
                                submitted &&
                                ((result.resultId && !nextAction.delayValue) ||
                                  !result.resultId)
                            }"
                            min="1"
                            type="number"
                            mask="00000000"
                            [allowNegativeNumbers]="false"
                          />
                          <!--                          <app-input-mask-->
                          <!--                            id="from"-->
                          <!--                            [isQuantity]="true"-->
                          <!--                            [value]="nextAction.delayValue || 0"-->
                          <!--                            (changeValue)="nextAction.delayValue = $event"-->
                          <!--                            [class]="-->
                          <!--                              submitted &&-->
                          <!--                              ((result.resultId && !nextAction.delayValue) ||-->
                          <!--                                !result.resultId)-->
                          <!--                                ? 'is-invalid'-->
                          <!--                                : ''-->
                          <!--                            "-->
                          <!--                          ></app-input-mask>-->
                        </div>
                      </div>
                    </div>
                    <div
                      *ngIf="!result['nextActions'].length"
                      [style.height]="'36px'"
                    ></div>
                    <div
                      [class.mt-2]="result['nextActions'].length"
                      class="padding-button-temp"
                    ></div>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr class="thinRow">
              <td></td>
              <td class="p-0">
                <div>
                  <button
                    type="button"
                    class="btn button-add-row text-link w-100 mt-2"
                    (click)="handleAddAction()"
                  >
                    <i class="fa-solid fa-plus me-1"></i>
                    Thêm hành động
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-default">
    <div class="modal-header">
      <h4 class="modal-title pull-left">HDSD Cấu hình quy tắc</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="introductionModalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="list-unstyled">
        <li>
          1. Module Auto Task phục vụ cho các ngành đặc thù có quy trình bán
          hàng dài, cần sự can thiệp sâu của con người chứ không thể hoàn toàn
          phụ thuộc Automation và bán nhanh như Thương mại điện tử.
        </li>
        <li style="white-space: pre-line">
          2. Thứ tự của Chuỗi hành động thể hiện độ ưu tiên khi thực hiện hành
          động có liên quan đến chuỗi. {{ '\n ' }} VD: Khi lên Task mới cho 1
          Lead (khách hàng tiềm năng), thì mặc định task đó sẽ bắt đầu ở chuỗi
          có độ ưu tiên cao nhất (thường sẽ là chuỗi chăm sóc để chốt được đơn)
        </li>
        <li>
          3. Thứ tự của các hành động trong 1 chuỗi cũng thể hiện độ ưu tiên.
          Chuỗi sẽ luôn thực hiện hành động có độ ưu tiên cao nhất trước.
        </li>
        <li>
          4. Độ trễ của chuỗi sẽ xác định sau bao lâu thì người dùng cần thực
          hiện hành động đầu tiên (hẹn giờ).
        </li>
        <li style="white-space: pre-line">
          5. Một Hành động có thể dẫn đến nhiều Kết quả. Giữa chúng có quan hệ
          “Hoặc”. {{ '\n' }}VD: Hành động Gọi điện có thể có kết quả Chốt đơn
          hoặc Không nghe máy hoặc Không hứng thú
        </li>
        <li style="white-space: pre-line">
          6. Một Kết quả có thể dẫn đến nhiều Bước tiếp theo. Giữa chúng có quan
          hệ “Và”.{{ '\n' }}VD: Sau khi Gọi điện với kết quả Chốt đơn thành công
          thì hành động kế là Tạo đơn hàng mới và Gửi tin SMS báo đơn và Đóng
          chuỗi hiện tại và Thêm Deal vào chuỗi “HDSD sản phẩm
        </li>
        <li>
          7. Bạn có thể kích hoạt/huỷ kích hoạt 1 chuỗi. Cẩn trọng với hành động
          này vì có thể có chuỗi khác/lead cần chăm sóc đang ở trong chuỗi.
        </li>
        <li>
          8. Đa số các hành động có thể cài đặt để thực hiện 1 cách tự động, như
          Tạo đơn mới, Chạy kịch bản Automation, Thêm chuỗi khác vào task,...
          Nhưng cũng có một số hành động cần phải thực hiện thủ công, và nên
          được thực hiện thủ công bởi con người như Gọi điện.
        </li>
        <li>
          9. Nhằm tập trung dữ liệu để quản lý quy trình chất lượng hơn, việc
          thêm mới, chỉnh sửa hoặc xoá Chuỗi hành động, Hành động, Kết quả,
          Nguyên nhân cần được thiết lập trước trong menu
          <span (click)="handleNavigate()" class="text-link">
            Cấu hình dữ liệu
          </span>
          . Menu Cấu hình quy tắc chỉ phục vụ việc thiết lập quy trình
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #templateAddNextAction>
  <div class="modal-default">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Thêm Bước tiếp theo</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="addNextActionModalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addNextActionForm">
        <div class="mb-2">
          <label class="form-control-label" for="action-modal">
            Kết quả cần thêm Bước tiếp theo
            <span class="required">*</span>
          </label>
          <ng-select
            [clearable]="false"
            [placeholder]="'Chọn Kết quả'"
            [ngClass]="{'is-invalid': submittedModal && f['resultId'].errors}"
            formControlName="resultId"
            class="dropdown-auto-width"
            id="action-modal"
            appendTo=".modal"
          >
            <ng-option [value]="option.id" *ngFor="let option of resultsInRow">
              {{ option.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="submittedModal && f['resultId'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['resultId'].errors?.['required']">
              Kết quả không được bỏ trống
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <div class="d-flex">
        <button
          (click)="addNextActionModalRef?.hide()"
          class="btn button-default-modal mx-2"
          type="button"
        >
          Hủy
        </button>
        <custom-button-loading
          (action)="onSubmitModal()"
          [type]="'button'"
          [textButton]="'Lưu'"
          [className]="'button-fill button-submit-modal button-medium'"
        ></custom-button-loading>
      </div>
    </div>
  </div>
</ng-template>
