@use 'src/app/styles/variable' as vars;

.chain-detail-site {
}
.table-responsive {
  max-height: calc(100vh - 170px);
  height: calc(100vh - 170px);
}
.table {
  &:hover {
    .thinRow {
      visibility: visible;
    }
  }
  .rootRow {
    border-bottom: 1px solid vars.$neutral-100;
  }
  .thinRow {
    visibility: hidden;
  }
  .columns-index {
    width: 5%;
  }
  .columns-action {
    width: 20%;
    vertical-align: top;
    .button-more-option {
      visibility: hidden;
    }
    &:hover {
      .button-more-option {
        visibility: visible;
        display: flex;
      }
    }
  }
  .columns-result {
    width: 20%;
    vertical-align: top;
    .result-item {
      position: relative;
      .button-more-option {
        visibility: hidden;
      }
      &:hover {
        .button-more-option {
          visibility: visible;
          display: flex;
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        background-color: white;
        left: 0;
        width: 100%;
        height: 10px;
      }
    }
  }
  .columns-duration {
    width: 10%;
    vertical-align: top;
  }
  .columns-step-or-center {
    width: 3%;
    &.content {
      vertical-align: top;
    }
    .columns-step-item {
      height: 36px;
      background: url(^assets/images/icon/step-or.svg) center no-repeat;
      &::before {
        content: none;
        width: 0;
        height: 0;
      }
      &--center {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          top: -10px;
          left: calc(50% - 9px);
          background-color: #dfe2ee;
        }
        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          bottom: -10px;
          left: calc(50% - 9px);
          background-color: #dfe2ee;
        }
      }

      &--last {
        background: url(^assets/images/icon/step-or-last.svg) center -17px no-repeat;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          top: -10px;
          left: calc(50% - 9px);
          background-color: #dfe2ee;
        }
      }
      &--first {
        background: url(^assets/images/icon/step-or-first.svg) center 5px
          no-repeat;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          bottom: -10px;
          left: calc(50% - 9px);
          background-color: #dfe2ee;
        }
      }
      &--one {
        background: url(^assets/images/icon/step-once.svg) center no-repeat;
      }
    }
    .padding-temp {
      background: url(^assets/images/icon/step-or-temp.svg) center no-repeat;
      background-position-x: calc(50% - 8px);
      background-position-y: -40px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        top: -10px;
        left: calc(50% - 9px);
        background-color: #dfe2ee;
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        bottom: -10px;
        left: calc(50% - 9px);
        background-color: #dfe2ee;
      }
    }
    .padding-button-temp {
      background: url(^assets/images/icon/step-or-temp.svg) center no-repeat;
      background-position-x: calc(50% - 8px);
      background-position-y: -40px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        top: -10px;
        left: calc(50% - 9px);
        background-color: #dfe2ee;
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 12px;
        bottom: -10px;
        left: calc(50% - 9px);
        background-color: #dfe2ee;
      }
    }
  }
  .columns-step-center {
    width: 2%;
    &.content {
      vertical-align: top;
    }
    .columns-step-item {
      height: 36px;
      background: url(^assets/images/icon/step.svg) center no-repeat;
      &::before {
        content: none;
        width: 0;
        height: 0;
      }
      &--center {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          top: -10px;
          left: calc(50% - 1px);
          background-color: #dfe2ee;
        }
        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          bottom: -10px;
          left: calc(50% - 1px);
          background-color: #dfe2ee;
        }
      }

      &--last {
        background: url(^assets/images/icon/step-last.svg) center -40px no-repeat;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          top: -10px;
          left: calc(50% - 1px);
          background-color: #dfe2ee;
        }
      }
      &--first {
        background: url(^assets/images/icon/step-first.svg) center 15px
          no-repeat;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 12px;
          bottom: -10px;
          left: calc(50% - 1px);
          background-color: #dfe2ee;
        }
      }
      &--one {
        background: url(^assets/images/icon/step-once.svg) center no-repeat;
      }
    }
  }
  .columns-next-action {
    width: 40%;
    vertical-align: top;
    .data-item {
      .button-more-option {
        visibility: hidden;
      }
      &:hover {
        .button-more-option {
          visibility: visible;
        }
      }
      .result-item {
        position: relative;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        background-color: white;
        left: 0;
        width: 100%;
        height: 10px;
      }
    }
  }
}

.padding-temp {
  height: 36px;
  margin-top: 0.5rem !important;
}
.padding-button-temp {
  height: 20px;
  margin-top: 0.5rem !important;
}
.button-add-row {
  padding: 0;
  height: 20px;
}

.group-data {
  .button-add-row {
    visibility: hidden;
  }
  &:hover {
    .button-add-row {
      visibility: visible;
    }
  }
}

.button-more-option {
  button {
    border: none;
    outline: none;
    background-color: unset;
  }
}
