.chain-detail-site {
}
.table {
  .columns-index {
    width: 5%;
  }
  .columns-action {
    width: 20%;
    vertical-align: top;
  }
  .columns-result {
    width: 20%;
    vertical-align: top;
  }
  .columns-duration {
    width: 25%;
    vertical-align: top;
  }
  .columns-next-action {
    width: 30%;
    vertical-align: top;
  }
}
