<div class="chain-detail-site">
  <div class="card">
    <div class="card-body">
      <div
        class="header-site d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center gap-5">
          <span class="fw-bold">Chăm sóc chốt đơn</span>
          <div class="form-check form-switch mb-0">
            <input
              checked
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="isActiveChain"
            />
            <label
              class="form-check-label form-control-label mb-0"
              for="isActiveChain"
            >
              Trạng thái kich hoạt
            </label>
          </div>
        </div>
        <div>
          <app-filter-top-table
            [configButtons]="configButtons"
            (clickButtonEvent)="handleAction($event)"
          ></app-filter-top-table>
        </div>
      </div>
    </div>
  </div>
</div>
