<div class="chain-detail-site">
  <div class="card">
    <div class="card-body">
      <div
        class="header-site d-flex justify-content-between align-items-center"
      >
        <div class="d-flex align-items-center gap-5">
          <span class="fw-bold">{{ detailChain?.name || '-' }}</span>
          <div class="form-check form-switch mb-0">
            <input
              checked
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="isActiveChain"
            />
            <label
              class="form-check-label form-control-label mb-0"
              for="isActiveChain"
            >
              Trạng thái kich hoạt
            </label>
          </div>
        </div>
        <div>
          <app-filter-top-table
            [configButtons]="configButtons"
            (clickButtonEvent)="handleAction($event)"
          ></app-filter-top-table>
        </div>
      </div>
      <div class="table-responsive tableFixHead custom-scrollbar mt-3">
        <table class="table table-none-border table-medium-head">
          <thead>
            <tr>
              <th class="columns-index">Thứ tự</th>
              <th class="columns-action">Hành động</th>
              <th class="columns-result">Kết quả</th>
              <th class="columns-duration">
                Độ trễ
                <i
                  class="fa-regular fa-circle-question ms-1"
                  tooltip="Khoảng thời gian thực hiện hành động kế"
                  placement="right"
                ></i>
              </th>
              <th class="columns-next-action">Hành động kế</th>
            </tr>
          </thead>
          <tbody cdkDropList (cdkDropListDropped)="dropRow($event)">
            <tr
              class="text-center"
              *ngIf="!detailChain?.actionResults?.length && !loading.detail"
            >
              <td colspan="12">
                <div>Không có dữ liệu</div>
              </td>
            </tr>
            <tr class="text-center" *ngIf="loading.detail">
              <td colspan="12">
                <div class="spinner-grow text-primary" role="status">
                  <span class="visually-hidden">Loading</span>
                </div>
                <div>Loading</div>
              </td>
            </tr>
            <ng-container
              *ngFor="let item of detailChain?.actionResults; index as i"
            >
              <tr cdkDrag cdkDragLockAxis="y" class="rootRow">
                <td class="" colspan="1">
                  <div class="d-flex align-items-center">
                    <span
                      cdkDragHandle
                      (click)="$event.preventDefault()"
                      class="d-flex align-items-center cursor-pointer"
                    >
                      <img src="./assets/images/icon/dragDrop.svg" alt="" />
                    </span>
                    <span class="fw-500">#{{ i + 1 }}</span>
                  </div>
                </td>
                <td class="columns-action">
                  {{ item.action?.name }}
                </td>
                <td class="columns-result">
                  <div
                    class="mt-2"
                    *ngFor="let result of item.results; let resultIndex = index"
                  >
                    <ng-select
                      [placeholder]="'Chọn kết quả'"
                      [searchable]="false"
                      [items]="results.rows"
                      (open)="!results.rows.length && getResult()"
                      [loading]="results.loading"
                      (scrollToEnd)="handleLoadMore('result')"
                      [(ngModel)]="result.resultId"
                      [clearable]="false"
                      class="dropdown-auto-width"
                      id="results-{{ resultIndex }}"
                      bindLabel="name"
                      bindValue="id"
                      appendTo="body"
                    ></ng-select>
                  </div>
                  <div>
                    <button
                      type="button"
                      class="btn button-medium button-sub-primary secondary-color w-100"
                      (click)="handleAddResult(item, i)"
                      [class.mt-2]="item.results.length"
                    >
                      <i class="fa-solid fa-plus me-1"></i>
                      Kết quả khác
                    </button>
                  </div>
                </td>
                <td class="columns-duration">
                  <div
                    class="mt-2"
                    *ngFor="let result of item.results; let resultIndex = index"
                  >
                    <div
                      *ngFor="
                        let nextAction of result['nextActions'];
                        let nextActionIndex = index
                      "
                    >
                      {{ nextAction.delayType }}
                    </div>
                  </div>
                </td>
                <td class="columns-next-action">
                  <div
                    class=""
                    *ngFor="let result of item.results; let resultIndex = index"
                  >
                    <div
                      *ngFor="
                        let nextAction of result['nextActions'];
                        let nextActionIndex = index;
                        let firstAction = first
                      "
                    >
                      <div class="row gx-2" [class.mt-2]="!firstAction">
                        <div class="col-6">
                          <ng-select
                            [placeholder]="'Chọn hành động'"
                            [searchable]="false"
                            [items]="actions.rows"
                            (open)="!actions.rows.length && getAction()"
                            [loading]="actions.loading"
                            (scrollToEnd)="handleLoadMore('action')"
                            [(ngModel)]="nextAction.actionId"
                            [clearable]="false"
                            class="dropdown-auto-width w-100"
                            id="action-{{ nextActionIndex }}-{{ resultIndex }}"
                            bindLabel="name"
                            bindValue="id"
                            appendTo="body"
                          ></ng-select>
                        </div>
                        <div class="col-6">
                          <ng-select
                            [placeholder]="'Chọn loại'"
                            (scrollToEnd)="handleLoadMore('action')"
                            [(ngModel)]="nextAction.type"
                            [clearable]="false"
                            class="dropdown-auto-width w-100"
                            id="typeAction-{{ nextActionIndex }}-{{
                              resultIndex
                            }}"
                            appendTo="body"
                          >
                            <ng-option [value]="EChainNextActType.AUTO">
                              Tự động
                            </ng-option>
                            <ng-option [value]="EChainNextActType.MANUAL">
                              Thủ công
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button
                      type="button"
                      class="btn button-medium button-sub-primary secondary-color w-100"
                      (click)="handleAddNextAction(item, i)"
                      [class.mt-2]="item.results.length"
                    >
                      <i class="fa-solid fa-plus me-1"></i>
                      Hành động kế khác
                    </button>
                  </div>
                </td>
                <div
                  *cdkDragPreview
                  matchSize="true"
                  class="container dragdrop-placeholder"
                >
                  {{ item.action?.name || '-' }}
                </div>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-default">
    <div class="modal-header">
      <h4 class="modal-title pull-left">HDSD Cấu hình quy tắc</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="introductionModalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul class="list-unstyled">
        <li>
          1. Module Auto Task phục vụ cho các ngành đặc thù có quy trình bán
          hàng dài, cần sự can thiệp sâu của con người chứ không thể hoàn toàn
          phụ thuộc Automation và bán nhanh như Thương mại điện tử.
        </li>
        <li style="white-space: pre-line">
          2. Thứ tự của Chuỗi hành động thể hiện độ ưu tiên khi thực hiện hành
          động có liên quan đến chuỗi. {{ '\n ' }} VD: Khi lên Task mới cho 1
          Lead (khách hàng tiềm năng), thì mặc định task đó sẽ bắt đầu ở chuỗi
          có độ ưu tiên cao nhất (thường sẽ là chuỗi chăm sóc để chốt được đơn)
        </li>
        <li>
          3. Thứ tự của các hành động trong 1 chuỗi cũng thể hiện độ ưu tiên.
          Chuỗi sẽ luôn thực hiện hành động có độ ưu tiên cao nhất trước.
        </li>
        <li style="white-space: pre-line">
          4. Một Hành động có thể dẫn đến nhiều Kết quả. Giữa chúng có quan hệ
          “Hoặc”. {{ '\n' }}VD: Hành động Gọi điện có thể có kết quả Chốt đơn
          hoặc Không nghe máy hoặc Không hứng thú
        </li>
        <li style="white-space: pre-line">
          5. Một Kết quả có thể dẫn đến nhiều Hành động kế. Giữa chúng có quan
          hệ “Và”.{{ '\n' }}VD: Sau khi Gọi điện với kết quả Chốt đơn thành công
          thì hành động kế là Tạo đơn hàng mới và Gửi tin SMS báo đơn và Đóng
          chuỗi hiện tại và Thêm Deal vào chuỗi “HDSD sản phẩm
        </li>
        <li>
          6. Bạn có thể kích hoạt/huỷ kích hoạt 1 chuỗi. Cẩn trọng với hành động
          này vì có thể có chuỗi khác/lead cần chăm sóc đang ở trong chuỗi.
        </li>
        <li>
          7. Đa số các hành động có thể cài đặt để thực hiện 1 cách tự động, như
          Tạo đơn mới, Chạy kịch bản Automation, Thêm chuỗi khác vào task,...
          Nhưng cũng có một số hành động cần phải thực hiện thủ công, và nên
          được thực hiện thủ công bởi con người như Gọi điện.
        </li>
        <li>
          8. Nhằm tập trung dữ liệu để quản lý quy trình chất lượng hơn, việc
          thêm mới, chỉnh sửa hoặc xoá Chuỗi hành động, Hành động, Kết quả,
          Nguyên nhân cần được thiết lập trước trong menu
          <span (click)="handleNavigate()" class="text-link">
            Cấu hình dữ liệu
          </span>
          . Menu Cấu hình quy tắc chỉ phục vụ việc thiết lập quy trình
        </li>
      </ul>
    </div>
  </div>
</ng-template>
