<div class="modal-update-action">
  <form [formGroup]="updateForm">
    <app-custom-modal
      [isSubmitting]="loading.submit"
      (submitModal)="onSubmit()"
      [textOk]="'Xác nhận'"
    >
      <ng-container modalTitle>
        {{ sourceData ? 'Chỉnh sửa' : 'Thêm' }} hành động
      </ng-container>
      <ng-container modalBody>
        <div class="mb-2">
          <label class="form-control-label" for="actionType">
            Loại hành động
            <span class="required">*</span>
          </label>
          <ng-select
            [ngClass]="{
              'is-invalid': submitted && f['resultId'].errors
            }"
            [placeholder]="'Chọn hành động'"
            [searchable]="true"
            [items]="nextStepTypes"
            class="dropdown-auto-width"
            appearance="outline"
            formControlName="nextAction"
            id="actionType"
            appendTo=".modal-update-action"
            bindLabel="label"
            bindValue="value"
          ></ng-select>
          <div
            *ngIf="submitted && f['resultId'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['resultId'].errors?.['required']">
              Kết quả không được bỏ trống
            </div>
          </div>
        </div>
        <div
          *ngIf="
            f['nextAction'].value &&
            [
              ENextStepType.CALL_BLOCK_AUTOMATION,
              ENextStepType.CONTINUE_TO_NEXT_ACTION,
              ENextStepType.ADD_CHAIN
            ].includes(f['nextAction'].value)
          "
          class="mb-2"
        >
          <div
            *ngIf="
              f['nextAction'].value === ENextStepType.CALL_BLOCK_AUTOMATION
            "
          >
            <label class="form-control-label" for="actionType">
              Automation Block
              <span class="required">*</span>
            </label>
            <ng-container formGroupName="callBlockAutomation">
              <ng-select
                formControlName="blockId"
                [placeholder]="'Chọn Block'"
                [searchable]="true"
                [items]="blocks"
                [loading]="loadingData.blocks"
                [clearable]="false"
                class="dropdown-auto-width"
                bindLabel="name"
                bindValue="id"
                appendTo=".modal-update-action"
              ></ng-select>
            </ng-container>
          </div>
          <div *ngIf="f['nextAction'].value === ENextStepType.ADD_CHAIN">
            <label class="form-control-label" for="actionType">
              Hành động từ chuỗi khác
              <span class="required">*</span>
            </label>
            <ng-container formGroupName="addNewChain">
              <ng-select
                formControlName="chainActResultId"
                [placeholder]="'Chọn HĐ từ chuỗi khác'"
                [searchable]="true"
                [items]="actionChains"
                [loading]="loadingData.actionChains"
                [clearable]="false"
                class="dropdown-auto-width"
                bindLabel="name"
                bindValue="id"
                groupBy="actionResults"
                appendTo=".modal-update-action"
              >
                <ng-template ng-optgroup-tmp let-item="item">
                  {{ item?.name || '-' }}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item?.action?.name || '-' }}
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  {{ item?.action?.name || '-' }}&nbsp;
                  <span class="fw-500">
                    (
                    {{ item?.chainAct?.name || '-' }}
                    )
                  </span>
                </ng-template>
              </ng-select>
            </ng-container>
          </div>
          <div
            *ngIf="
              f['nextAction'].value === ENextStepType.CONTINUE_TO_NEXT_ACTION
            "
          >
            <label class="form-control-label" for="actionType">
              Hành động trong chuỗi
              <span class="required">*</span>
            </label>
            <ng-container formGroupName="moveToAction">
              <ng-select
                formControlName="chainActResultId"
                [placeholder]="'Chọn Hành động'"
                [searchable]="false"
                [items]="actionResults"
                [clearable]="false"
                class="dropdown-auto-width"
                bindLabel="action.name"
                bindValue="id"
                appendTo=".modal-update-action"
              ></ng-select>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </app-custom-modal>
  </form>
</div>

<ng-template #loadingTemp>
  <div class="w-100 text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Đang tải</span>
    </div>
  </div>
</ng-template>

<ng-template #selectNoData>
  <ng-option [value]="null">Không có dữ liệu</ng-option>
</ng-template>
