<div class="quick-call">
    <div class="quick-call-icon cursor-pointer" (click)="showCall = true" *ngIf="!showCall; else callbox">
        <img src="./assets/images/call/icon-call.svg" alt="">
    </div>
    <ng-template #callbox>
        <div class="call-box">
            <div class="call-box-header">
                <div class="d-flex align-items-center">
                    <img src="./assets/images/call/icon-quick-call.png" alt="" class="icon-call">
                    <div class="title-5 text-link fw-bold">Quay số nhanh</div>
                </div>

                <button aria-label="Close" class="btn btn-close close" type="button" (click)="showCall = false">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="call-box-body">
                <div class="nav-tab mb-3">
                    <div class="nav-tab-item" (click)="tab = 1" [ngClass]="tab == 1 ? 'active' : ''">Quay số</div>
                    <div class="nav-tab-item" (click)="tab = 2; getCallHistory()" [ngClass]="tab == 2 ? 'active' : ''">Lịch sử</div>
                </div>

                <ng-container *ngIf="tab ==1">
                    <div class="mx-auto keyboard-box">
                        <div class="position-relative mb-3">
                            <input type="text" class="form-control py-3" [(ngModel)]="mobile">

                            <button aria-label="Close" class="btn btn-close close" type="button" (click)="mobile = ''">
                                <span aria-hidden="true" class="visually-hidden">&times;</span>
                            </button>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="keyboard-number" (click)="addNum('1')">1</div>
                            <div class="keyboard-number" (click)="addNum('2')">2</div>
                            <div class="keyboard-number" (click)="addNum('3')">3</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="keyboard-number" (click)="addNum('4')">4</div>
                            <div class="keyboard-number" (click)="addNum('5')">5</div>
                            <div class="keyboard-number" (click)="addNum('6')">6</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="keyboard-number" (click)="addNum('7')">7</div>
                            <div class="keyboard-number" (click)="addNum('8')">8</div>
                            <div class="keyboard-number" (click)="addNum('9')">9</div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="keyboard-number" (click)="addNum('*')">*</div>
                            <div class="keyboard-number" (click)="addNum('0')">0</div>
                            <div class="keyboard-number" (click)="addNum('#')">#</div>
                        </div>

                        <div class="btn-call" (click)="handleCall()">
                            <img src="./assets/images/call/icon-call.svg" alt="" class="icon-call">
                            <span class="text-uppercase title-5 ms-1">Gọi</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="tab == 2">
                    <div class="row mb-2">
                        <div class="col-6">
                            <select class="form-control" [(ngModel)]="conditions.type">
                                <option value="">Loại</option>
                                <option *ngFor="let item of CALL_EVENT" [value]="item.value">{{item.label}}</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-control" [(ngModel)]="conditions.status">
                                <option value="">Trạng thái</option>
                                <option *ngFor="let item of STATUS_VOICE" [value]="item.value">{{item.label}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="table-fixed-height overflow-auto custom-scrollbar">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Cuộc gọi</th>
                                <th>Ghi chú</th>
                                <th class="text-right">Thời gian</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let item of histories; index as i">
                                <tr (click)="onSelectHistory(item)">
                                    <td>{{(pagination.page - 1) * pagination.limit + 1 + i}}</td>
                                    <td>
                                        <div>
                                            <div class="fw-bold text-link mb-1">{{item.typeCallEvent == ECallEvent.inbound ? 'Cuộc gọi đến' : 'Cuộc gọi đi'}}</div>
                                            <div class="mb-1">
                                                <span class="me-1">Trạng thái:</span>
                                                <span>{{item.status}}</span>
                                            </div>
                                            <div class="mb-1">
                                                <span class="me-1">Gọi từ</span>
                                                <span class="text-link">{{item.voice?.fromPhone}}</span>
                                            </div>
                                            <div class="mb-1">
                                                <span class="me-1">Gọi đến</span>
                                                <span class="text-link">{{item.voice?.toPhone}}</span>
                                            </div>
                                            <div *ngIf="item.voice.radioLink" class="mb-1 d-flex">
                                                <span class="me-1">File ghi âm</span>

                                                <div class="d-flex align-items-center">
                                                    <img src="./assets/images/call/icon-play-audio.svg" (click)="$event.stopPropagation(); playAudio(item.voice.radioLink, item.id)" alt="" class="cursor-pointer me-1" style="width: 16px">
                                                    <img src="./assets/images/call/icon-download-audio.svg" (click)="downloadAudio(item.voice.radioLink)" alt="" class="cursor-pointer" style="width: 16px">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.note}}</td>
                                    <td class="text-right">{{item.createdAt | date : 'dd/MM/yyyy'}}</td>
                                </tr>
                            </ng-container>

                            </tbody>
                        </table>
                    </div>

                    <custom-pagination
                            [showConfig]="false"
                            [selectedSize]="pagination.limit"
                            [maxSize]="2"
                            [currentPage]="pagination.page"
                            (changePageEvent)="pageChanged($event)"
                            [total]="pagination.total"
                    ></custom-pagination>
                </ng-container>
            </div>

            <div class="position-relative" *ngIf="showInfo && customer">
                <div class="call-customer-info">
                    <app-common-call-customer-info [customer]="customer" (onClose)="showInfo = false"></app-common-call-customer-info>
                </div>
            </div>
        </div>
    </ng-template>
</div>

