@if (hasPermitSmsOttCall) {
  <div class="button-connect-phone">
    @if (!connectedPhone) {
      <div class="btn-group" dropdown placement="bottom right">
        <button dropdownToggle class="button-status">
          <i class="fa-solid fa-phone-slash"></i>
        </button>
        @if (!userPhones.loading && userPhones.rows.length) {
          <ul
            id="dropdown-alignment"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right dropdown-phones"
            role="menu"
            aria-labelledby="button-alignment"
          >
            @for (phone of userPhones.rows; track $index) {
              <li (click)="handleConnectToPhone(phone)" role="menuitem">
                <div class="dropdown-item d-flex gap-2 align-items-center">
                  @if (
                    getVoicePlatform(phone.platform.platform);
                    as voicePlatform
                  ) {
                    <div
                      class="border rounded-pill d-flex align-items-center justify-content-center shadow-sm"
                      style="width: 25px; height: 25px"
                    >
                      <img
                        *ngIf="voicePlatform.icon"
                        src="{{ voicePlatform.icon }}"
                        alt=""
                        class="icon-platform object-cover"
                        style="scale: 0.75"
                      />
                    </div>
                  }
                  <span class="fw-500">{{ phone.hotline }}</span>
                  <span class="fw-500" *ngIf="phone.sip">
                    - {{ phone.sip }}
                  </span>
                  <span class="fw-500" *ngIf="phone.counselor?.['name']">
                    - {{ phone.counselor?.['name'] }}
                  </span>
                </div>
              </li>
            }
          </ul>
        }
      </div>
    } @else {
      <div class="d-flex gap-2 align-items-center">
        <button
          [tooltip]="'Ngắt kết nối đầu số'"
          container="body"
          class="button-status connected"
          (click)="handleDisconnectPhone()"
        >
          @if (loading.connectPhone) {
            <i class="fa-solid fa-spin fa-spinner"></i>
          } @else {
            <i class="fa-solid fa-phone"></i>
          }
        </button>
        <div class="d-flex gap-2 align-items-center">
          @if (!loading.connectPhone && connectedPhone) {
            @if (
              getVoicePlatform(connectedPhone.platform.platform);
              as voicePlatform
            ) {
              <div
                class="border rounded-pill d-flex align-items-center justify-content-center shadow-sm"
                style="width: 30px; height: 30px"
              >
                <img
                  height="20px"
                  *ngIf="voicePlatform.icon"
                  src="{{ voicePlatform.icon }}"
                  alt=""
                  class="icon-platform object-cover"
                  style="scale: 0.6"
                />
              </div>
            }
            <span class="fw-500">
              {{ connectedPhone.hotline }}
            </span>
            <span class="fw-500" *ngIf="connectedPhone.sip">
              - {{ connectedPhone.sip }}
            </span>
            <span class="fw-500" *ngIf="connectedPhone.counselor?.['name']">
              - {{ connectedPhone.counselor?.['name'] }}
            </span>
          }
        </div>
      </div>
    }
  </div>
}
