@use 'src/app/styles/mixins' as mixins;
@use 'src/app/styles/variable' as vars;

.button-connect-phone {
  .button-status {
    border-radius: 50%;
    border: 1px solid vars.$red-500;
    width: 30px !important;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: none;

    i {
      color: vars.$red-500;
    }

    &.connected {
      border-color: vars.$green-500;
      i {
        color: vars.$green-500;
      }
    }
  }
}

.dropdown-phones {
  .icon-platform {
    height: 16px;
    width: auto;
  }
}
