@use 'src/app/styles/variable' as vars;
@use 'src/app/styles/mixins' as mixins;

.table-responsive {
  @include mixins.calculateSize('max-height', '100vh', '240px');
  .columns-action {
    width: 5%;
  }
  .column-index {
    width: 2%;
  }

  .column-status {
    width: 3%;
  }

  .column-employee {
    width: 20%;
  }

  .column-role {
    width: 10%;
  }

  .column-group {
    width: 10%;
  }

  .column-branch {
    width: 20%;
    .badge {
      background-color: vars.$secondary-500 !important;
      color: vars.$white !important;
    }
  }

  .column-permission{
    width: 30%;
  }

  .avatar {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

  .list-badge {
    .badge {
      background-color: vars.$neutral-100;
      color: vars.$neutral-400;
      padding: 3px 8px;
      border-radius: 12px;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
    }
  }
}


span{
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}