.nav {
  --bs-breadcrumb-divider: url("data:image/svg+xml;utf8,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49943 9.31347C1.3503 9.31283 1.20733 9.25396 1.10099 9.14941C1.04855 9.09715 1.00694 9.03506 0.978552 8.96668C0.950161 8.89831 0.935547 8.82501 0.935547 8.75097C0.935547 8.67694 0.950161 8.60364 0.978552 8.53526C1.00694 8.46689 1.04855 8.40479 1.10099 8.35254L4.45255 5.00097L1.10099 1.64941C0.995318 1.54374 0.935952 1.40042 0.935952 1.25098C0.935952 1.17698 0.950527 1.10371 0.978845 1.03534C1.00716 0.966979 1.04867 0.904862 1.10099 0.852538C1.15331 0.800215 1.21543 0.758709 1.2838 0.730392C1.35216 0.702075 1.42543 0.6875 1.49943 0.6875C1.64887 0.6875 1.79219 0.746866 1.89787 0.852538L5.64787 4.60254C5.7003 4.6548 5.74191 4.71689 5.7703 4.78526C5.79869 4.85364 5.81331 4.92694 5.81331 5.00097C5.81331 5.07501 5.79869 5.14831 5.7703 5.21668C5.74191 5.28506 5.7003 5.34715 5.64787 5.39941L1.89787 9.14941C1.79152 9.25396 1.64855 9.31283 1.49943 9.31347Z' fill='%23979AA6'/%3E%3C/svg%3E");
  .breadcrumb {
    .breadcrumb-item {
      display: flex;
      padding: 14px 8px 14px 0;

      .nav-link,
      .nav-disable {
        padding: 0 5px;
        font-size: 14px;
        line-height: 20px;
        color: var(--bs-body-color);
        &:focus {
          outline: 0;
          border: 1px solid #90bbfd;
          border-radius: 0.25rem;
          box-shadow: 0 0 0 0.25rem rgb(32 119 250 / 25%);
        }
      }
      .nav-link {
        &:hover {
          color: var(--bs-primary);
          transition: 0.2s all ease;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &.active {
        font-weight: 500;
      }
    }
  }
}
