@if (breadcrumbList.length) {
  <nav class="nav" aria-label="breadcrumb">
    <ol class="breadcrumb m-0">
      @for (item of breadcrumbList; track $index) {
        <li
          class="breadcrumb-item"
          [class.active]="$index === breadcrumbList.length - 1"
        >
          @if ($index !== breadcrumbList.length - 1) {
            <a class="nav-link" [routerLink]="item.link">
              {{ item.name }}
            </a>
          }
          @if ($index === breadcrumbList.length - 1) {
            <div class="nav-disable">
              {{ item.name }}
            </div>
          }
        </li>
      }
    </ol>
  </nav>
}
