<div class="modal-update-action">
  <app-custom-modal [isSubmitting]="loading.submit" (submitModal)="onSubmit()">
    <ng-container modalTitle>
      {{ sourceData?.id ? 'Edit' : 'Add new' }}
    </ng-container>
    <ng-container modalBody>
      <form [formGroup]="updateForm">
        <div class="mb-3">
          <label class="form-control-label" for="displayName">
            Name
            <span class="required">*</span>
          </label>
          <input
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['displayName'].errors}"
            [placeholder]="'Name...'"
            formControlName="displayName"
            id="displayName"
            type="text"
          />
          <div
            *ngIf="submitted && f['displayName'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['displayName'].errors?.['required']">
              Name is required
            </div>
            <div *ngIf="f['displayName'].errors?.['maxlength']">
              Invalid Name
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </app-custom-modal>
</div>

<ng-template #loadingTemp>
  <div class="w-100 text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading</span>
    </div>
  </div>
</ng-template>
