.input-search {
  position: relative;
  // z-index: 10;
  .input-display {
    height: 40px;
  }
  .display-value {
    &.h-sm {
      height: 35px;
    }
    &:focus,
    &:active {
      background-color: #fff;
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    &.disabled {
      background-color: #e9ecef;
      box-shadow: none;
      cursor: not-allowed;
    }
    .ip-placeholder {
      color: var(--bs-gray-500);
    }
  }
  .icon-remove,
  .icon-loading {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--bs-primary);
  }
  .show-select {
    position: absolute;
    top: 100%;
    background: #ffffff;
    border: 1px solid #dbe9f1;
    z-index: 4;
    // min-width: 150px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 6px 0;
    min-width: 200px;
    .input-search,
    .frame-btn {
      padding: 0 6px 6px 6px;
    }
    .frame-list {
      position: relative;
      .list-item {
        overflow-y: auto;
        max-height: 450px;
        .item {
          min-width: 100%;
          margin: 2px 0;
          font-size: 14px;
          padding: 8px 10px 4px 16px;
          position: relative;
          color: #606266;
          cursor: pointer;
          background-color: transparent;
          transition: 0.2s all ease;
          font-size: 14px;
          min-width: 100%;
          // &:hover {
          //   background-color: #e9ecef;
          //   transition: 0.2s all ease;
          // }
          &.selected {
            color: #409eff;
            font-weight: 700;
            // &::after {
            //   position: absolute;
            //   top: 50%;
            //   transform: translateY(-50%);
            //   right: 10px;
            //   content: "\f00c";
            //   font-size: 12px;
            //   font-family: "Font Awesome 5 Free";
            //   font-weight: 700;
            //   -webkit-font-smoothing: antialiased;
            // }
          }
        }
      }
      .frame-loading {
        position: absolute;
        text-align: center;
        top: 0;
        color: var(--bs-primary);
        background-color: #bdbdbd82;
        padding: 10px 0;
      }
    }
  }
}

.form-check-label {
  word-break: break-all;
  white-space: nowrap;
}
