<div class="modal-create-lead">
  <app-custom-modal
    [isSubmitting]="loading.isSubmitting"
    [textOk]="'Lưu'"
    (hideModal)="onCancel()"
    (submitModal)="onSubmit()"
  >
    <div modalTitle>
      <h4 class="modal-title pull-left">Thêm Lead</h4>
    </div>
    <div modalBody>
      <div class="container-fluid">
        <form [formGroup]="leadForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-12 text-center">
              <div class="wrap-avatar mb-3">
                <img
                  alt=""
                  (click)="onAvatarClick()"
                  class="avatar cursor-pointer"
                  onerror="this.src='https://smax.app/assets/images/noavatar.png'"
                  [src]="avatarUrl"
                />
                <div class="layer-loading" *ngIf="loading.isUploadingAvatar">
                  <i class="fas fa-spinner fa-spin px-2"></i>
                </div>
              </div>
            </div>

            <div class="col-12">
              <label class="form-label">
                Tên lead:
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Nhập tên lead"
                [class.is-invalid]="isFieldInvalid('name')"
              />
              <small class="text-danger" *ngIf="isFieldInvalid('name')">
                {{ getErrorMessage('name') }}
              </small>
            </div>

            <div class="col-12">
              <label class="form-label">
                Số điện thoại:
                <span class="text-danger">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="Nhập số điện thoại"
                [class.is-invalid]="isFieldInvalid('phone')"
              />
              <small class="text-danger" *ngIf="isFieldInvalid('phone')">
                {{ getErrorMessage('phone') }}
              </small>
            </div>

            <div class="col-12">
              <label class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Nhập email"
                [class.is-invalid]="isFieldInvalid('email')"
              />
              <small class="text-danger" *ngIf="isFieldInvalid('email')">
                {{ getErrorMessage('email') }}
              </small>
            </div>

            <div class="col-12">
              <label class="form-label">Giới tính:</label>
              <select class="form-select" formControlName="gender">
                <option [value]="EGenderType.MALE">Nam</option>
                <option [value]="EGenderType.FEMALE">Nữ</option>
                <option [value]="EGenderType.OTHER">Khác</option>
              </select>
            </div>

            <div class="col-12">
              <label class="form-label">Ngày sinh:</label>
              <input
                type="date"
                class="form-control"
                formControlName="birthday"
              />
            </div>

            <div class="col-12">
              <label class="form-label">Tag:</label>
              <ng-select
                [formControl]="tagIdsControl"
                [items]="tags"
                bindLabel="name"
                bindValue="id"
                placeholder="Chọn Tag"
                [multiple]="true"
                [clearable]="true"
                [closeOnSelect]="false"
              >
                <ng-template ng-option-tmp let-item="item">
                  <span
                    class="text-capitalize tag-item"
                    [ngClass]="{nonBack: !item.bgColor}"
                    [ngStyle]="{background: item.bgColor}"
                  >
                    <span>
                      <i class="fa-solid fa-filter"></i>
                      {{ item.name }}
                    </span>
                  </span>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span
                    class="text-capitalize tag-item"
                    [ngClass]="{nonBack: !item.bgColor}"
                    [ngStyle]="{background: item.bgColor}"
                  >
                    <span>
                      <i class="fa-solid fa-filter"></i>
                      {{ item.name }}
                    </span>
                  </span>
                </ng-template>
              </ng-select>
            </div>

            <div
              class="col-12"
              formArrayName="teams"
              *ngIf="currentSetting?.roles?.length"
            >
              <label class="form-label">Nhân sự phụ trách:</label>
              <div class="d-flex align-items-center gap-2 flex-wrap">
                <ng-container
                  *ngFor="let teamControl of formTeams.controls; let i = index"
                >
                  <div
                    class="btn-group role-item-wrapper"
                    dropdown
                    [container]="'modal-create-lead'"
                  >
                    <button
                      dropdownToggle
                      type="button"
                      class="btn btn-sm role-item-btn"
                      [attr.title]="
                        teamControl.value?.userName
                          ? teamControl.value?.roleName +
                            ': ' +
                            teamControl.value?.userName
                          : teamControl.value?.roleName
                      "
                    >
                      <ng-container *ngIf="teamControl.value.userId">
                        <img
                          width="24"
                          height="24"
                          class="rounded-circle"
                          [src]="
                            teamControl.value?.userPicture ||
                            'assets/images/avatar.svg'
                          "
                          alt=""
                          style="object-fit: cover"
                        />
                      </ng-container>
                      <ng-container *ngIf="!teamControl.value.userId">
                        <i
                          class="fa-solid"
                          [ngClass]="teamControl.value?.roleIcon || 'fa-user'"
                        ></i>
                      </ng-container>
                    </button>
                    <ul
                      *dropdownMenu
                      class="dropdown-menu"
                      role="menu"
                      style="max-height: 300px; overflow-y: auto"
                    >
                      <li
                        *ngFor="
                          let user of getAvailableUsers(
                            teamControl.value?.roleId
                          )
                        "
                        role="menuitem"
                        class="dropdown-item"
                        [class.active]="user.id === teamControl.value.userId"
                        (click)="onChooseTeam(i, user)"
                        style="cursor: pointer"
                      >
                        <div class="d-flex align-items-center">
                          <img
                            class="rounded-circle me-2"
                            [src]="user.picture || 'assets/images/avatar.svg'"
                            alt=""
                            style="width: 32px; height: 32px; object-fit: cover"
                          />
                          <div class="text-truncate">
                            <div>{{ user.name }}</div>
                            <small class="text-muted" *ngIf="user.email">
                              {{ user.email }}
                            </small>
                          </div>
                        </div>
                      </li>
                      <li
                        *ngIf="teamControl.value.userId"
                        role="menuitem"
                        class="dropdown-item text-danger"
                        (click)="onRemoveTeam(i)"
                        style="cursor: pointer; border-top: 1px solid #ddd"
                      >
                        <div class="p-2">
                          <i class="fa fa-times me-2"></i>
                          Xóa người phụ trách
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </app-custom-modal>
</div>
