.custom-date-picker {
  height: 100%;
  position: relative;

  &.input-full-width {
    input {
      min-width: unset;
      width: 100%;
    }
  }

  input {
    height: 100% !important;
    min-height: 36px;
    border: 1px solid #e7e9ef;
    border-radius: 6px;
    padding: 0 10px;
    min-width: 200px;
  }

  img {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 30%;
  }
}
