<div class="wrapper">
  <!-- <app-sidebar></app-sidebar> -->
  <app-sidebar *ngIf="currentBiz && !isHiddenSidebar"></app-sidebar>
  <div class="content-wrapper" [ngClass]="{'ps-0': isHiddenSidebar}">
    <ng-container *ngIf="currentBiz; else nonBiz">
      <app-header>
        <div class="left">
          <ul class="nav flex-nowrap">
            <li *ngFor="let item of listNavItems" class="nav-item">
              <a
                [routerLink]="[item.link]"
                class="nav-link"
                routerLinkActive="active"
              >
                {{ item.name || '-' }}
              </a>
            </li>
          </ul>
        </div>
        <div class="right d-flex align-items-center">
          @if (hasPermitSmsOttCall) {
            <div class="button-connect-phone">
              @if (!connectedPhone) {
                <div class="btn-group" dropdown placement="bottom right">
                  <button dropdownToggle class="btn button-status">
                    <i class="fa-solid fa-phone-slash"></i>
                  </button>
                  @if (!userPhones.loading && userPhones.rows.length) {
                    <ul
                      id="dropdown-alignment"
                      *dropdownMenu
                      class="dropdown-menu dropdown-menu-right dropdown-phones"
                      role="menu"
                      aria-labelledby="button-alignment"
                    >
                      @for (phone of userPhones.rows; track $index) {
                        <li
                          (click)="handleConnectToPhone(phone)"
                          role="menuitem"
                        >
                          <div class="dropdown-item d-flex gap-2">
                            @if (
                              getVoicePlatform(phone.platform.platform);
                              as voicePlatform
                            ) {
                              <img
                                height="20px"
                                *ngIf="voicePlatform.icon"
                                src="{{ voicePlatform.icon }}"
                                alt=""
                                class="icon-platform"
                              />
                            }
                            <span class="fw-500">{{ phone.hotline }}</span>
                          </div>
                        </li>
                      }
                    </ul>
                  }
                </div>
              } @else {
                <button
                  [tooltip]="'Ngắt kết nối đầu số'"
                  container="body"
                  class="btn button-status connected"
                >
                  <i class="fa-solid fa-phone"></i>
                </button>
              }
            </div>
          }
        </div>
      </app-header>
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #nonBiz>
      <div class="loading">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div>Loading...</div>
      </div>
    </ng-template>
  </div>
</div>
<modal-confirm></modal-confirm>
<app-phone-call-pop-up></app-phone-call-pop-up>
