<div class="wrapper">
  <!-- <app-sidebar></app-sidebar> -->
  <app-sidebar *ngIf="currentBiz && !isHiddenSidebar"></app-sidebar>
  <div class="content-wrapper" [ngClass]="{'ps-0': isHiddenSidebar}">
    <ng-container *ngIf="currentBiz; else nonBiz">
      <app-header>
        <div class="left">
          <ul class="nav flex-nowrap">
            <li *ngFor="let item of listNavItems" class="nav-item">
              <a
                [routerLink]="[item.link]"
                class="nav-link"
                routerLinkActive="active"
              >
                {{ item.name || '-' }}
              </a>
            </li>
          </ul>
        </div>
        <div class="right d-flex align-items-center">
          <app-connect-phone></app-connect-phone>
        </div>
      </app-header>
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #nonBiz>
      <div class="loading">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div>Loading...</div>
      </div>
    </ng-template>
  </div>
</div>
<modal-confirm></modal-confirm>

<!--<app-phone-call-pop-up [type]="ECallType.INCOMING"></app-phone-call-pop-up>-->
<!--<app-phone-call-pop-up [type]="ECallType.OUTGOING"></app-phone-call-pop-up>-->
<!--<app-common-modal-call-in></app-common-modal-call-in>-->
<!--<app-common-modal-call-out></app-common-modal-call-out>-->
<!--<app-common-quick-call></app-common-quick-call>-->
