@use 'src/app/styles/variable' as vars;
@use 'src/app/styles/mixins' as mixins;

.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;

  .content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 50px;
    overflow: hidden;
    min-width: 0;

    .router-outlet-container {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .loading {
      background-color: #fff;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }
  }
}

.lead-header-filters {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;

  .input-checkbox {
    flex: 1;
    min-width: 0;
  }
}
