<div class="setting-employee-site">
  <div class="card">
    <div class="card-body">
      <div class="list-data">
        <app-filter-top-table
          [configFilters]="configFilters"
          [configButtons]="configButtons"
          (clickButtonEvent)="handleAction($event)"
          (searchEvent)="onSearch($event)"
        ></app-filter-top-table>
        <div class="table-responsive tableFixHead custom-scrollbar">
          <table class="table">
            <thead>
              <tr>
                <th class="column-index">#</th>
                <th class="">Chi nhánh</th>
                <th class="">Số điện thọại</th>
                <th class="">Địa chỉ</th>
                <th class="column-status">Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="text-center"
                *ngIf="!dataSource.length && !loading.data"
              >
                <td colspan="12">
                  <div>Không có dữ liệu</div>
                </td>
              </tr>
              <tr class="text-center" *ngIf="loading.data">
                <td colspan="12">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading</span>
                  </div>
                  <div>Loading</div>
                </td>
              </tr>
              <tr *ngFor="let item of dataSource; index as i">
                <td class="column-index">{{ i + 1 }}</td>
                <td class="">{{ item.name || '-' }}</td>
                <td class="">{{ item.phone || '-' }}</td>
                <td class="">{{ item.address || '-' }}</td>
                <td class="column-status">
                  <div>
                    <img
                      src="assets/images/icon/{{
                        item.isActive ? 'check.svg' : 'not-check.svg'
                      }}"
                      width="10"
                      height="10"
                      alt=""
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
