@use 'src/app/styles/variable' as vars;

.custom-input-search {
  border: none;
  padding: 0 10px;
  border-radius: 6px;
  background: #e7e9ef;
  i {
    color: vars.$neutral-400;
  }
  &.collapsed {
    border-radius: vars.$radius-s;
    color: vars.$neutral-400;
    background-color: vars.$white;
    border: 1px solid #e8ecf2;
    cursor: pointer;
    padding: 6px 16px;
    &:hover {
      border: 1px solid #e8ecf2;
      background-color: vars.$neutral-50;
    }
    &.disabled {
      color: vars.$neutral-300;
      background-color: vars.$neutral-100;
      &:hover {
        color: vars.$neutral-300;
        background-color: vars.$neutral-100;
      }
    }

    i {
      margin-right: 0;
      max-width: 16px;
      max-height: 16px;
    }
  }
  //&:hover {
  //  outline: 2px solid #E0E9FF;
  //}
}

input {
  border: none;
  outline: 0;
  width: 100%;
  background: unset;
  box-shadow: none !important;
}

.custom-input-search.ui-v2 {
  padding: vars.$input-padding;
  border-radius: vars.$input-border-radius;
  background: vars.$input-bg-v2;
  border: 1px solid vars.$input-border-color;

  i {
    color: vars.$neutral;
  }

  &:focus-within {
    outline: 1px solid vars.$neutral;
  }
}
