<div class="modal-update-action">
  <app-custom-modal [isSubmitting]="loading.submit" (submitModal)="onSubmit()">
    <ng-container modalTitle>
      {{ sourceData?.id ? 'Chỉnh sửa' : 'Thêm mới' }} Chuỗi hành động
    </ng-container>
    <ng-container modalBody>
      <form [formGroup]="updateForm">
        <div class="mb-2">
          <label class="form-control-label" for="name">
            Tên chuỗi hành động
            <span class="required">*</span>
          </label>
          <input
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['name'].errors}"
            [placeholder]="'Nhập tên Chuỗi hành động...'"
            formControlName="name"
            id="name"
            type="text"
          />
          <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
            <div *ngIf="f['name'].errors?.['required']">
              Tên chuỗi không được bỏ trống
            </div>
            <div *ngIf="f['name'].errors?.['maxlength']">Tên không hợp lệ</div>
          </div>
        </div>
        <div formGroupName="fistActionDelay" class="mb-3">
          <label class="form-control-label">
            Độ trễ chuỗi
            <i
              class="fa-regular fa-circle-question ms-1"
              tooltip="Sau bao lâu thực hiện hành động đầu tiên của chuỗi"
              placement="right"
            ></i>
          </label>
          <ng-select
            [placeholder]="'Chọn loại'"
            [ngClass]="{
              'is-invalid': submitted && fDelay['delayType'].value === undefined
            }"
            (change)="handleChangeTypeDelay()"
            [clearable]="false"
            [searchable]="false"
            class="dropdown-auto-width mb-2"
            id="delayType-first-action"
            formControlName="delayType"
            appendTo=".modal"
          >
            <ng-option [value]="EDelayType.NOW">Ngay lập tức</ng-option>
            <ng-option [value]="EDelayType.MINUTE">Phút</ng-option>
            <ng-option [value]="EDelayType.HOUR">Giờ</ng-option>
            <ng-option [value]="EDelayType.DAY">Ngày</ng-option>
          </ng-select>
          <div
            class="mb-3"
            *ngIf="
              ![undefined, EDelayType.NOW].includes(fDelay['delayType'].value)
            "
          >
            <input
              [ngClass]="{
                'is-invalid':
                  submitted &&
                  (fDelay['delayValue'].value === undefined ||
                    fDelay['delayValue'].value === null)
              }"
              formControlName="delayValue"
              placeholder="Nhập số nguyên"
              class="input-medium"
              type="number"
            />
          </div>
        </div>
        <div class="mb-2">
          <p class="subhead">Các hành động trong chuỗi</p>
          <ng-container formArrayName="actions">
            <div
              *ngFor="let action of formActions.controls; let i = index"
              [formGroupName]="i"
              class="mb-2"
            >
              <label class="form-control-label" for="action{{ i }}">
                Hành động {{ i + 1 }}
                <span class="required">*</span>
              </label>
              <div class="d-flex">
                <ng-select
                  [placeholder]="'Chọn Hành động'"
                  [searchable]="false"
                  [items]="
                    actions.rows | filterData: selectedActionIds : ['id']
                  "
                  [style.width]="'90%'"
                  [ngClass]="{'is-invalid': submitted && !action?.value?.value}"
                  (open)="!actions.rows.length && getAction()"
                  [loading]="actions.loading"
                  (scrollToEnd)="handleLoadMore()"
                  class="dropdown-auto-width input-medium"
                  formControlName="value"
                  id="action{{ i }}"
                  labelForId="action{{ i }}"
                  bindValue="id"
                  bindLabel="name"
                  appendTo=".modal"
                >
                  <ng-template ng-label-tmp let-item="item">
                    <div>
                      {{ item.name ?? action?.value?.label ?? '-' }}
                    </div>
                  </ng-template>
                </ng-select>
                <span
                  (click)="removeAction(i)"
                  class="d-flex align-items-center btn-action-table"
                >
                  <img src="./assets/images/icon/x.svg" alt="" />
                </span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="mb-2">
          <button
            type="button"
            (click)="addActions()"
            class="btn text-link button-medium button-sub-primary secondary-color"
          >
            <i class="fas fa-plus me-2"></i>
            Thêm hành động
          </button>
        </div>
      </form>
    </ng-container>
  </app-custom-modal>
</div>

<ng-template #loadingTemp>
  <div class="w-100 text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading</span>
    </div>
  </div>
</ng-template>
