<div class="modal-update-task">
  <form [formGroup]="updateForm">
    <app-custom-modal [showBtnClose]="false">
      <ng-container modalTitle>
        <div class="d-flex align-items-center justify-content-between">
          <input
            required
            class="input__title basic-input-title input-medium"
            formControlName="name"
            [placeholder]="'Nhập tên tác vụ'"
            [ngClass]="{
              'is-invalid': submitted && f['name'].errors
            }"
          />
        </div>
      </ng-container>
      <ng-container modalTitleRight>
        <app-order-create-source
          (changePlatformSource)="handleChangePlatFormSource($event)"
          [values]="f['platformSources'].value || []"
          [valueIds]="f['platformSourceIds'].value || []"
        ></app-order-create-source>
        <div class="d-flex align-items-center justify-content-between">
          @if (f['code'].value) {
            <div
              (click)="copyText(f['code'].value)"
              class="subhead cursor-pointer"
            >
              Mã tác vụ:&nbsp; #{{ f['code'].value }}
            </div>
          }
          @if (f['id'].value && sourceData) {
            <div
              class="btn-group cursor-pointer btn-dropdown"
              dropdown
              placement="bottom right"
              dropdownToggle
            >
              <div id="button-alignment">
                <i class="fas fa-ellipsis-v"></i>
              </div>
              <ul
                id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
              >
                <li role="menuitem" (click)="copyText(f['id'].value)">
                  <div href="#" class="dropdown-item cursor-pointer">
                    <i
                      class="fa-regular fa-clipboard me-2"
                      style="width: 14px"
                    ></i>
                    Sao chép ID
                  </div>
                </li>
                <li
                  role="menuitem"
                  (click)="handleCopy(sourceData); isOpenBackDrop = true"
                >
                  <div href="#" class="dropdown-item cursor-pointer">
                    <i class="far fa-clone me-2"></i>
                    Tạo bản sao
                  </div>
                </li>
                <li role="menuitem" (click)="handleDeleteTask()">
                  <div href="#" class="dropdown-item cursor-pointer">
                    <i class="far fa-trash-alt me-2"></i>
                    Xóa task
                  </div>
                </li>
              </ul>
            </div>
          }
        </div>
      </ng-container>
      <ng-container modalBody>
        @defer (when !loading.modal) {
          <div class="content-wrapper position-relative">
            <app-custom-tab-set
              [tabs]="tabs"
              [(activeTab)]="activeTab"
              (activeTabChange)="handleActiveTabChange($event)"
            >
              <ng-container right>
                <div
                  class="d-flex align-items-center justify-content-between gap-2"
                >
                  <div [style.width]="'250px'" id="categoryCode">
                    <p-treeSelect
                      [filter]="true"
                      [options]="units"
                      formControlName="branch"
                      class="w-100"
                      containerStyleClass="w-100 input-medium custom-tree-select"
                      [ngClass]="{
                        'is-invalid': submitted && f['branch'].errors
                      }"
                      placeholder="Chọn Đơn vị..."
                      (onNodeSelect)="handleChangeUnit($event)"
                      (onNodeUnselect)="preventUnselect($event)"
                    ></p-treeSelect>
                  </div>
                  <!-- <ng-select
                    [style.width]="'200px'"
                    [clearable]="false"
                    [searchable]="true"
                    [placeholder]="'Chọn nguồn dữ liệu...'"
                    [ngClass]="{
                      'is-invalid': submitted && f['sourceId'].errors
                    }"
                    formControlName="sourceId"
                    appearance="outline"
                    class="ng-select-custom dropdown-auto-width input-medium"
                    id="sourceId"
                    appendTo=".modal-update-task"
                  >
                    <ng-option
                      *ngFor="let item of sources.rows"
                      [value]="item.id"
                      [disabled]="!item.isActive"
                    >
                      <div class="text-ellipsis" [title]="item.name">
                        @if (item.picture) {
                          <img
                            src="{{ item.picture }}"
                            alt=""
                            class="source-picture me-1"
                          />
                        }
                        {{ item.name }}
                      </div>
                    </ng-option>
                  </ng-select> -->
                  <div class="input-group" [style.width]="'250px !important'">
                    <input
                      formControlName="chatLink"
                      type="text"
                      class="input-medium"
                      placeholder="Gán Link cuộc hội thoại"
                      [tooltip]="
                        'Gán link cuộc hội thoại để hệ thống có thể tự động kiểm tra và bổ sung thông tin Nguồn dữ liệu vào Tác vụ'
                      "
                      [placement]="'bottom'"
                      (change)="handleChangeChatLink()"
                    />
                  </div>
                  <button
                    [tooltip]="'Nghe ghi âm cuộc gọi'"
                    [placement]="'left'"
                    class="btn button-outline"
                    (click)="handleViewCallSmsOtt()"
                  >
                    <img
                      src="./assets/images/icon-detail/record.svg"
                      alt=""
                      style="width: 16px"
                    />
                  </button>
                </div>
              </ng-container>
            </app-custom-tab-set>
            <div class="content-wrapper">
              @switch (activeTab) {
                @case (ETabTaskDetail.INFO) {
                  <div class="mt-3 content-tab custom-scrollbar">
                    <div class="group-content mt-2">
                      <div
                        class="d-flex justify-content-between align-items-center gap-4 mb-3"
                      >
                        <div
                          class="d-flex justify-content-between align-items-center gap-2"
                        >
                          <div class="fw-bold me-1">TAG</div>
                          @if (!selectTag) {
                            <div>
                              @for (
                                tagId of $any(updateForm.value.tags);
                                track $index
                              ) {
                                @if (findTag(tagId)?.id) {
                                  <div
                                    class="tag-item me-2"
                                    *ngIf="findTag(tagId)?.id"
                                    [ngClass]="{
                                      nonBack: !findTag(tagId)?.bgColor
                                    }"
                                    [ngStyle]="{
                                      background: findTag(tagId)?.bgColor
                                    }"
                                  >
                                    {{ findTag(tagId)?.name }}
                                  </div>
                                }
                              }
                              <span class="cursor-pointer ms-3">
                                <i
                                  class="fa-solid fa-tags"
                                  (click)="changeSelectTag(true)"
                                ></i>
                              </span>
                            </div>
                          } @else {
                            <ng-select
                              class="custom-input-tag"
                              formControlName="tags"
                              placeholder="Chọn tag..."
                              (blur)="selectTag = !selectTag"
                              [items]="tags.rows"
                              appendTo=".modal"
                              appearance="outline"
                              [multiple]="true"
                              [closeOnSelect]="false"
                              bindValue="id"
                              bindLabel="name"
                              #ngSelectTagTask
                              [loading]="tags.loading"
                              (click)="clickLoadData('tags')"
                              (add)="createNewTagAndChoose($event)"
                              [addTag]="true"
                              [addTagText]="'Thêm tag mới...'"
                            >
                              <ng-template ng-option-tmp let-item="item">
                                <div
                                  class="tag-item"
                                  [ngClass]="{nonBack: !item.bgColor}"
                                  [ngStyle]="{background: item.bgColor}"
                                >
                                  {{ item.name }}
                                </div>
                              </ng-template>
                              <ng-template
                                ng-label-tmp
                                let-item="item"
                                let-clear="clear"
                              >
                                <span
                                  class="ng-value-icon"
                                  (click)="clear(item)"
                                >
                                  ×
                                </span>
                                <div
                                  class="tag-item"
                                  [ngClass]="{nonBack: !item.bgColor}"
                                  [ngStyle]="{background: item.bgColor}"
                                >
                                  {{ item.name }}
                                </div>
                              </ng-template>
                            </ng-select>
                          }
                        </div>
                        <div
                          class="d-flex align-items-center gap-2"
                          formArrayName="teams"
                        >
                          @if (autoTaskSetting?.roles?.length) {
                            <div class="fw-500 me-2 text-uppercase">
                              Nhân sự phụ trách/Vai trò:
                            </div>
                          }
                          @for (
                            settingRole of formTeams.controls;
                            track settingRoleIndex;
                            let settingRoleIndex = $index
                          ) {
                            <div
                              class="btn-group"
                              dropdown
                              container=".modal-update-task"
                              [autoClose]="true"
                            >
                              <button
                                dropdownToggle
                                type="button"
                                class="btn btn-default border rounded-pill button-role"
                                popoverTitle="Vai trò: {{
                                  settingRole.value?.roleName
                                }}"
                                popover="Thông tin: {{
                                  settingRole.value?.userName
                                }} - {{ settingRole.value?.userEmail }}"
                                triggers="mouseenter:mouseleave"
                                placement="bottom"
                                container=".modal-update-task"
                              >
                                @if (settingRole.value.userId) {
                                  <img
                                    width="40"
                                    height="40"
                                    class="rounded-pill"
                                    [src]="settingRole.value?.userPicture"
                                    alt=""
                                  />
                                } @else {
                                  <i
                                    class="fa-solid"
                                    [ngClass]="settingRole.value?.roleIcon"
                                  ></i>
                                }
                              </button>
                              <ul
                                id="dropdown-select-role{{
                                  settingRole.value.roleId
                                }}"
                                *dropdownMenu
                                class="dropdown-menu"
                                role="menu"
                                aria-labelledby="button-select-role"
                              >
                                @if (infoUnit$ | async; as infoUnit) {
                                  @if (
                                    infoUnit?.role === ERole.OWNER
                                      ? listBizUsers
                                      : [currentUser];
                                    as users
                                  ) {
                                    @for (
                                      item of users
                                        | getDataArray
                                          : 'id'
                                          : infoUnit?.userIds || []
                                        | getDataArray
                                          : 'roleIds'
                                          : settingRole.value.roleId
                                          : 'role'
                                          : 'OWNER'
                                          : 'id';
                                      track 'id'
                                    ) {
                                      <li
                                        role="menuitem"
                                        class="item-user-dropdown"
                                        [class.selected]="
                                          item.id === settingRole.value.userId
                                        "
                                        [class.disabled]="!item.isActive"
                                        (click)="
                                          item.id !==
                                            settingRole.value.userId &&
                                            onChooseTeam(settingRoleIndex, item)
                                        "
                                      >
                                        <div
                                          class="d-flex align-items-center p-3 cursor-pointer"
                                        >
                                          <div>
                                            <img
                                              class="avatar me-2"
                                              src="{{ item.picture }}"
                                              fallback="assets/images/avatar.svg"
                                              alt=""
                                            />
                                          </div>
                                          <div class="text-truncate">
                                            {{ item.name }}
                                          </div>
                                        </div>
                                      </li>
                                    }
                                  }
                                }
                              </ul>
                            </div>
                          }
                          <div class="action-reload">
                            @if (sourceData?.id) {
                              <button
                                (click)="handleDropTask(sourceData?.id)"
                                class="btn button-medium button-outline me-2"
                                type="button"
                                [disabled]="submittedModal.dropTask"
                                [tooltip]="'Thả số'"
                                *ngIf="autoTaskSetting?.viewDropConfig"
                              >
                                <img
                                  src="./assets/images/icon/drop.svg"
                                  alt=""
                                  style="width: 16px; height: 16px"
                                />
                              </button>

                              <button
                                (click)="
                                  handleResetTask(generateResetTaskKey())
                                "
                                class="btn button-medium button-outline"
                                type="button"
                                [disabled]="loading.getDetail"
                              >
                                @if (!loading.getDetail) {
                                  <i class="fa-solid fa-rotate"></i>
                                } @else {
                                  <i class="fas fa-spinner fa-spin"></i>
                                }
                              </button>
                            }
                          </div>
                        </div>
                      </div>
                      <div class="list-chain mt-2">
                        <span class="headline mb-2">
                          Chuỗi hành động hiện tại
                        </span>
                        <accordion
                          formArrayName="taskChains"
                          class="accordion-white mt-2"
                          [isAnimated]="true"
                        >
                          @if (!formTaskChains.controls?.length) {
                            <div class="text-center mt-3 mb-3">
                              <div>Không có dữ liệu chuỗi hành động</div>
                            </div>
                          }
                          @for (
                            taskChain of formTaskChains.controls;
                            track chainIndex;
                            let chainIndex = $index
                          ) {
                            <accordion-group
                              id="taskChain-{{ taskChain.value.id }}"
                              [formGroupName]="chainIndex"
                              [isOpen]="
                                !!sourceData?.id &&
                                taskChain.value.status !== ETaskChainType.CLOSED
                              "
                              [isDisabled]="!sourceData?.id"
                              #myGroup
                            >
                              <div
                                accordion-heading
                                class="header-item d-flex justify-content-between align-items-center"
                              >
                                <span class="fw-500">
                                  @if (!!sourceData?.id) {
                                    <i
                                      *ngIf="!!sourceData?.id"
                                      class="me-2 fas"
                                      [ngClass]="{
                                        'fa-chevron-down': myGroup?.isOpen,
                                        'fa-chevron-up': !myGroup?.isOpen
                                      }"
                                    ></i>
                                  }
                                  {{ taskChain.value.name || '-' }}
                                </span>
                                <div class="d-flex gap-2 align-items-center">
                                  @if (
                                    !!sourceData?.id &&
                                    taskChain.value.status !==
                                      ETaskChainType.CLOSED
                                  ) {
                                    <button
                                      (click)="
                                        handleCloseChain(
                                          $event,
                                          taskChain.value
                                        )
                                      "
                                      type="button"
                                      class="btn btn button-medium button-sub-primary secondary-color d-flex align-items-center"
                                      [disabled]="loading.closeChainTask"
                                    >
                                      Đóng chuỗi
                                      <img
                                        class="ms-1"
                                        src="./assets/images/icon/blue-unlock.svg"
                                        alt=""
                                      />
                                    </button>
                                  }
                                  @if (
                                    taskChain.value.status ===
                                    ETaskChainType.CLOSED
                                  ) {
                                    <button
                                      type="button"
                                      class="btn btn button-medium d-flex align-items-center"
                                    >
                                      Đã đóng
                                      <img
                                        class="ms-1"
                                        src="./assets/images/icon/grey-lock.svg"
                                        alt=""
                                      />
                                    </button>
                                  }
                                  <button
                                    (click)="
                                      handleDeleteChain(
                                        $event,
                                        taskChain.value,
                                        chainIndex
                                      )
                                    "
                                    type="button"
                                    class="btn btn button-medium button-sub-primary red-color d-flex align-items-center"
                                    [disabled]="loading.deleteChainTask"
                                  >
                                    Xóa
                                    <img
                                      class="ms-1"
                                      src="./assets/images/icon/red-x.svg"
                                      alt=""
                                    />
                                  </button>
                                </div>
                              </div>
                              <app-task-chain-item
                                [permissions]="{
                                  canEditAction: permissions.canEditAction,
                                  canEditDeadline: permissions.canEditDeadline
                                }"
                                [submitted]="submitted"
                                [formItem]="taskChain"
                                [results]="results.rows"
                                [blocks]="blocks.rows"
                                [actionChains]="actionChains.rows"
                                [loadingData]="{
                                  results: results.loading,
                                  blocks: blocks.loading,
                                  actionChains: actionChains.loading
                                }"
                                [staticDataChainItem]="
                                  sourceData?.taskChains?.[chainIndex]
                                "
                                (updateNextStepEvent)="
                                  handleUpdateNextStep(
                                    $event,
                                    taskChain.value,
                                    chainIndex
                                  )
                                "
                                (updateTaskChainEvent)="
                                  handleUpdateTaskChainData(
                                    taskChain.value,
                                    chainIndex
                                  )
                                "
                                (cancelUpdateTaskChainEvent)="
                                  handleCancelUpdateChain(
                                    chainIndex,
                                    $event,
                                    sourceData!.taskChains[chainIndex]!
                                  )
                                "
                                (callEvent)="handleCall()"
                                [task]="sourceData"
                              ></app-task-chain-item>
                            </accordion-group>
                          }
                        </accordion>
                        <div class="mt-2">
                          <button
                            (click)="handleAddTaskChain()"
                            type="button"
                            class="btn button-medium text-link"
                          >
                            <i class="fa-solid fa-plus me-1"></i>
                            Thêm chuỗi hành động
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="group-content mt-2 overflow-hidden">
                      <div class="headline">
                        Thông tin khách hàng
                        <i
                          class="fa-regular fa-circle-question ms-1"
                          [tooltip]="
                            'Nếu Liên hệ này chưa tồn tại thì hệ thống sẽ tự tạo 1 bản ghi Khách hàng tương ứng với thông tin mà bạn nhập bên dưới'
                          "
                          placement="right"
                        ></i>
                      </div>
                      <app-customer-info
                        [hasUpdateTaskPer]="permissions.canEditTask"
                        [submitted]="submitted"
                        [formGroup]="formLeadDeal"
                        [selectedCustomerId]="formLeadDeal.value.id"
                        [(isOpenBackdrop)]="isOpenBackDrop"
                      ></app-customer-info>
                    </div>
                    <div class="group-content mt-4">
                      <div class="headline">Ghi chú</div>
                      <div class="mt-2">
                        <app-textarea
                          formControlName="note"
                          [minHeight]="120"
                          [placeholder]="'Nhập ghi chú'"
                        ></app-textarea>
                      </div>
                    </div>
                  </div>
                }
                @case (ETabTaskDetail.ORDER) {
                  <div class="mt-3 content-tab custom-scrollbar">
                    @if (!orders.rows.length) {
                      <div class="group-content mt-3">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="headline">
                            Sản phẩm quan tâm
                            <i
                              class="fa-regular fa-circle-question ms-1"
                              [tooltip]="
                                'Những sản phẩm và dịch vụ mà khách quan tâm có thể được tạo thành đơn hàng bằng cách sử dụng nút Tạo đơn hàng cho Tác vụ ở kế bên.'
                              "
                              placement="right"
                            ></i>
                          </div>
                          <div class="d-flex gap-2">
                            @if (!!sourceData?.id) {
                              <button
                                (click)="handleCreateTaskOrder()"
                                [disabled]="loading.createOrder"
                                class="btn button-medium button-sub-primary secondary-color d-flex align-items-center"
                                type="button"
                              >
                                @if (loading.createOrder) {
                                  <i
                                    class="fa-solid fa-spin fa-spinner me-2"
                                  ></i>
                                } @else {
                                  <i class="fa-solid fa-plus me-2"></i>
                                }
                                Tạo đơn hàng cho Task
                              </button>
                            }
                          </div>
                        </div>
                        <app-interested-products
                          [formGroup]="updateForm"
                        ></app-interested-products>
                      </div>
                    }
                    @if (sourceData?.orderIds?.length) {
                      <div class="group-content mt-3">
                        <div
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="headline">Đơn đã tạo</div>
                          <div class="d-flex gap-2">
                            @if (
                              !!sourceData?.id &&
                              sourceData?.orderIds &&
                              sourceData!.orderIds.length
                            ) {
                              <button
                                (click)="handleViewCreatedOrder()"
                                class="btn button-medium button-sub-primary secondary-color d-flex align-items-center"
                                type="button"
                              >
                                <i class="fa-solid fa-cart-shopping me-2"></i>
                                Xem đơn đã tạo
                              </button>

                              <button
                                (click)="getOrderDetail(sourceData?.orderIds || [])"
                                class="btn button-medium button-outline"
                                type="button"
                                [disabled]="loading.getOrderDetail"
                              >
                                @if (!loading.getOrderDetail) {
                                  <i class="fa-solid fa-rotate"></i>
                                } @else {
                                  <i class="fas fa-spinner fa-spin"></i>
                                }
                              </button>
                            }
                          </div>
                        </div>
                        <app-orders
                          [orders]="orders.rows"
                          [loading]="orders.loading"
                        ></app-orders>
                      </div>
                    }
                  </div>
                }
                <!-- @case (ETabTaskDetail.BOOKING) {
                  <div class="mt-3 content-tab custom-scrollbar">
                    <div class="group-content mt-3">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <div class="headline">Đơn booking đã tạo</div>
                        <div class="d-flex gap-2">
                          @if (
                            !!sourceData?.id &&
                            sourceData?.bookingIds &&
                            sourceData!.bookingIds.length
                          ) {
                            <button
                              (click)="handleViewCreatedBooking()"
                              class="btn button-medium button-sub-primary secondary-color d-flex align-items-center"
                              type="button"
                            >
                              <i class="fa-solid fa-calendar me-2"></i>
                              Xem đơn booking đã tạo
                            </button>
                          }
                        </div>
                      </div>
                      <app-bookings
                        [bookings]="bookings.rows"
                        [loading]="bookings.loading"
                      ></app-bookings>
                    </div>
                  </div>
                } -->
                @case (ETabTaskDetail.HISTORY) {
                  <div class="mt-3 content-tab custom-scrollbar">
                    <div class="group-content">
                      <app-history
                        [taskId]="sourceData?.id || ''"
                      ></app-history>
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        } @placeholder (minimum 100ms) {
          <div class="center-item" [style.height]="'300px'">
            <div class="spinner-custom"></div>
          </div>
        }
      </ng-container>
      <div modalFooter class="d-flex justify-content-end align-items-center">
        <!-- <div>
          @if (sourceData) {
            <button
              (click)="handleDeleteTask()"
              class="btn button-delete-modal"
              type="button"
            >
              Xóa
            </button>
          }
        </div> -->
        <div class="d-flex gap-2">
          <button
            (click)="hideModal()"
            class="btn button-default-modal"
            type="button"
          >
            Hủy
          </button>
          <custom-button-loading
            [isLoading]="loading.submit"
            [isDisabled]="loading.submit"
            (action)="onSubmit()"
            [type]="'button'"
            [textButton]="'Xác nhận'"
            [className]="'button-submit-modal'"
          ></custom-button-loading>
        </div>
      </div>
    </app-custom-modal>
  </form>
</div>

<ng-template #templateAddTaskChain>
  <div class="modal-default modal-add-chain-action">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Thêm chuỗi hành động vào Tác vụ</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="addTaskChainModalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addTaskChainForm">
        <div class="mb-2">
          <label class="form-control-label" for="action-modal">
            Chuỗi hành động
            <span class="required">*</span>
          </label>
          <ng-select
            [clearable]="false"
            [placeholder]="'Chọn Chuỗi'"
            [multiple]="true"
            [ngClass]="{
              'is-invalid':
                submittedModal.addTaskChain &&
                fAddChainModal['addChainActIds'].errors
            }"
            formControlName="addChainActIds"
            class="dropdown-auto-width custom-input-multiple-round"
            id="action-modal"
            appendTo=".modal-add-chain-action"
            [loading]="actionChains.loading"
            (click)="clickLoadData('actionChains')"
          >
            @for (option of actionChains.rows; track $index) {
              <ng-option [value]="option.id">
                {{ option.name }}
              </ng-option>
            }
          </ng-select>
          @if (
            submittedModal.addTaskChain &&
            fAddChainModal['addChainActIds'].errors
          ) {
            <div class="invalid-feedback">
              @if (fAddChainModal['addChainActIds'].errors?.['required']) {
                <div>Chuỗi không được bỏ trống</div>
              }
            </div>
          }
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <div class="d-flex">
        <button
          (click)="addTaskChainModalRef?.hide()"
          class="btn button-default-modal mx-2"
          type="button"
        >
          Hủy
        </button>
        <custom-button-loading
          [isLoading]="loading.addTaskChain"
          (action)="onAddTaskChain()"
          [type]="'button'"
          [textButton]="'Lưu'"
          [className]="'button-fill button-submit-modal button-medium'"
        ></custom-button-loading>
      </div>
    </div>
  </div>
</ng-template>

@if (isOpenBackDrop) {
  <bs-modal-backdrop class="modal-backdrop fade in show"></bs-modal-backdrop>
}
