<div class="modal-update-task">
  <form [formGroup]="updateForm">
    <app-custom-modal>
      <ng-container modalTitle>
        <input
          required
          class="input__title basic-input-title input-medium"
          formControlName="name"
          [placeholder]="'Nhập tên task'"
          [ngClass]="{
            'is-invalid': submitted && f['name'].errors
          }"
        />
      </ng-container>
      <ng-container modalBody>
        <div class="content-wrapper position-relative">
          <button
            *ngIf="sourceData?.id"
            (click)="getDetailTask(true)"
            class="btn button-medium button-outline button-header d-flex align-items-center"
            type="button"
            [disabled]="loading.getDetail"
          >
            Làm mới
            <i *ngIf="!loading.getDetail" class="fa-solid fa-rotate ms-2"></i>
            <i
              *ngIf="loading.getDetail"
              class="fas fa-spinner fa-spin ms-2"
            ></i>
          </button>
          <tabset class="custom-tab-basic non-border">
            <tab>
              <ng-template tabHeading>
                <div class="title-tab">
                  <span>Thông tin</span>
                </div>
              </ng-template>
              <div class="mt-3 content-tab custom-scrollbar">
                <div class="group-content mt-2">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span class="headline">Chuỗi hành động hiện tại</span>
                    <div class="d-flex align-items-center">
                      <div class="fw-500 me-2">Nguồn dữ liệu:</div>
                      <ng-select
                        [style.width]="'200px'"
                        [clearable]="false"
                        [searchable]="true"
                        [placeholder]="'Chọn nguồn...'"
                        [ngClass]="{
                          'is-invalid': submitted && f['sourceId'].errors
                        }"
                        formControlName="sourceId"
                        appearance="outline"
                        class="ng-select-custom dropdown-auto-width input-medium me-2"
                        id="sourceId"
                        appendTo=".modal-update-task"
                      >
                        <ng-option
                          *ngFor="let item of sources.rows"
                          [value]="item.id"
                          [disabled]="!item.isActive"
                        >
                          <div>
                            {{ item.name }}
                          </div>
                        </ng-option>
                      </ng-select>
                      <div class="fw-500 me-2">Nhân viên phụ trách:</div>
                      <ng-select
                        [style.width]="'200px'"
                        [clearable]="false"
                        formControlName="counselorId"
                        [searchable]="true"
                        [placeholder]="'Chọn nhân viên...'"
                        [ngClass]="{
                          'is-invalid': submitted && f['counselorId'].errors
                        }"
                        appearance="outline"
                        class="ng-select-custom dropdown-auto-width input-medium"
                        id="userIds"
                        appendTo=".modal-update-task"
                      >
                        <ng-option
                          *ngFor="let item of listBizUsers"
                          [value]="item.id"
                          [disabled]="!item.isActive"
                        >
                          <div class="d-flex align-items-center">
                            <div>
                              <img
                                class="avatar me-2"
                                src="{{ item.picture }}"
                                fallback="assets/images/avatar.svg"
                                alt=""
                              />
                            </div>
                            <div>
                              {{ item.name }}
                            </div>
                          </div>
                        </ng-option>
                      </ng-select>
                    </div>
                  </div>
                  <div class="list-chain mt-2">
                    <accordion
                      formArrayName="taskChains"
                      class="accordion-white"
                      [isAnimated]="true"
                    >
                      <div
                        *ngIf="!formTaskChains.controls?.length"
                        class="text-center mt-3 mb-3"
                      >
                        <div>Không có dữ liệu chuỗi hành động</div>
                      </div>
                      <accordion-group
                        [formGroupName]="chainIndex"
                        [isOpen]="
                          !!sourceData?.id &&
                          taskChain.value.status !== ETaskChainType.CLOSED
                        "
                        [isDisabled]="!sourceData?.id"
                        *ngFor="
                          let taskChain of formTaskChains.controls;
                          let chainIndex = index
                        "
                        #myGroup
                      >
                        <div
                          accordion-heading
                          class="header-item d-flex justify-content-between align-items-center"
                        >
                          <span class="fw-500">
                            <i
                              *ngIf="!!sourceData?.id"
                              class="me-2 fas"
                              [ngClass]="{
                                'fa-chevron-down': myGroup?.isOpen,
                                'fa-chevron-up': !myGroup?.isOpen
                              }"
                            ></i>
                            {{ taskChain.value.name || '-' }}
                          </span>
                          <div class="d-flex gap-2 align-items-center">
                            <button
                              *ngIf="
                                !!sourceData?.id &&
                                taskChain.value.status !== ETaskChainType.CLOSED
                              "
                              (click)="
                                handleCloseChain($event, taskChain.value)
                              "
                              type="button"
                              class="btn btn button-medium button-sub-primary secondary-color d-flex align-items-center"
                            >
                              Đóng chuỗi
                              <img
                                class="ms-1"
                                src="./assets/images/icon/blue-unlock.svg"
                                alt=""
                              />
                            </button>
                            <button
                              *ngIf="
                                taskChain.value.status === ETaskChainType.CLOSED
                              "
                              type="button"
                              class="btn btn button-medium d-flex align-items-center"
                            >
                              Đã đóng
                              <img
                                class="ms-1"
                                src="./assets/images/icon/grey-lock.svg"
                                alt=""
                              />
                            </button>
                            <button
                              (click)="
                                handleDeleteChain(
                                  $event,
                                  taskChain.value,
                                  chainIndex
                                )
                              "
                              type="button"
                              class="btn btn button-medium button-sub-primary red-color d-flex align-items-center"
                            >
                              Xóa
                              <img
                                class="ms-1"
                                src="./assets/images/icon/red-x.svg"
                                alt=""
                              />
                            </button>
                          </div>
                        </div>
                        <app-task-chain-item
                          [submitted]="submitted"
                          [formItem]="taskChain"
                          [results]="results.rows"
                          [blocks]="blocks.rows"
                          [actionChains]="actionChains.rows"
                          [loadingData]="{
                            results: results.loading,
                            blocks: blocks.loading,
                            actionChains: actionChains.loading
                          }"
                          [staticDataChainItem]="
                            sourceData?.taskChains?.[chainIndex]
                          "
                          (updateNextStepEvent)="
                            handleUpdateNextStep(
                              $event,
                              taskChain.value,
                              chainIndex
                            )
                          "
                          (updateTaskChainEvent)="
                            getDetailTask(); updateSuccess.emit()
                          "
                          (cancelUpdateTaskChainEvent)="patchForm(sourceData)"
                          (callEvent)="handleCall()"
                        ></app-task-chain-item>
                      </accordion-group>
                    </accordion>
                    <div class="mt-2">
                      <button
                        (click)="handleAddTaskChain()"
                        type="button"
                        class="btn button-medium text-link"
                      >
                        <i class="fa-solid fa-plus me-1"></i>
                        Thêm chuỗi hành động
                      </button>
                    </div>
                  </div>
                </div>
                <div class="group-content mt-2">
                  <div class="headline">
                    Thông tin khách hàng
                    <i
                      class="fa-regular fa-circle-question ms-1"
                      tooltip="Nếu Liên hệ này chưa tồn tại thì hệ thống sẽ tự tạo 1 bản ghi Khách hàng tương ứng với thông tin mà bạn nhập bên dưới"
                      placement="right"
                    ></i>
                  </div>
                  <app-customer-info
                    [submitted]="submitted"
                    [formGroup]="formLeadDeal"
                  ></app-customer-info>
                </div>
                <div class="group-content mt-3">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="headline">
                      Sản phẩm quan tâm
                      <i
                        class="fa-regular fa-circle-question ms-1"
                        tooltip="Những sản phẩm và dịch vụ mà khách quan tâm có thể được tạo thành đơn hàng bằng cách sử dụng nút Tạo đơn hàng cho Task ở kế bên."
                        placement="right"
                      ></i>
                    </div>
                    <div class="d-flex gap-2">
                      <button
                        *ngIf="
                          !!sourceData?.id &&
                          sourceData?.orderIds &&
                          sourceData!.orderIds.length
                        "
                        (click)="handleViewCreatedOrder()"
                        class="btn button-medium button-sub-primary secondary-color d-flex align-items-center"
                        type="button"
                      >
                        <i class="fa-solid fa-cart-shopping me-2"></i>
                        Xem đơn hàng đã tạo
                      </button>
                      <button
                        *ngIf="!!sourceData?.id"
                        (click)="handleCreateTaskOrder()"
                        class="btn button-medium button-sub-primary secondary-color d-flex align-items-center"
                        type="button"
                      >
                        <i class="fa-solid fa-plus me-2"></i>
                        Tạo đơn hàng cho Task
                      </button>
                    </div>
                  </div>
                  <app-interested-products
                    [formGroup]="updateForm"
                  ></app-interested-products>
                </div>
              </div>
            </tab>
            <!--          <tab #tabHistories="tab">-->
            <!--            <ng-template tabHeading>-->
            <!--              <div class="title-tab">-->
            <!--                <span>Lịch sử hành động</span>-->
            <!--              </div>-->
            <!--            </ng-template>-->
            <!--            <div class="mt-3 content-tab custom-scrollbar">123</div>-->
            <!--          </tab>-->
          </tabset>
        </div>
      </ng-container>
      <div
        modalFooter
        class="d-flex justify-content-between align-items-center"
      >
        <div>
          <button
            *ngIf="sourceData"
            (click)="handleDeleteTask()"
            class="btn button-delete-modal"
            type="button"
          >
            Xóa
          </button>
        </div>
        <div class="d-flex gap-2">
          <button
            (click)="hideModal()"
            class="btn button-default-modal"
            type="button"
          >
            Hủy
          </button>
          <custom-button-loading
            [isLoading]="loading.submit"
            [isDisabled]="loading.submit"
            (action)="onSubmit()"
            [type]="'button'"
            [textButton]="'Xác nhận'"
            [className]="'button-submit-modal'"
          ></custom-button-loading>
        </div>
      </div>
    </app-custom-modal>
  </form>
</div>

<ng-template #templateAddTaskChain>
  <div class="modal-default modal-add-chain-action">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Thêm chuỗi hành động vào Task</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="addTaskChainModalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addTaskChainForm">
        <div class="mb-2">
          <label class="form-control-label" for="action-modal">
            Chuỗi hành động
            <span class="required">*</span>
          </label>
          <ng-select
            [clearable]="false"
            [placeholder]="'Chọn Chuỗi'"
            [multiple]="true"
            [ngClass]="{
              'is-invalid':
                submittedModal.addTaskChain &&
                fAddChainModal['addChainActIds'].errors
            }"
            formControlName="addChainActIds"
            class="dropdown-auto-width custom-input-multiple"
            id="action-modal"
            appendTo=".modal-add-chain-action"
          >
            <ng-option
              [value]="option.id"
              *ngFor="let option of actionChains.rows"
            >
              {{ option.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="
              submittedModal.addTaskChain &&
              fAddChainModal['addChainActIds'].errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="fAddChainModal['addChainActIds'].errors?.['required']">
              Chuỗi không được bỏ trống
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <div class="d-flex">
        <button
          (click)="addTaskChainModalRef?.hide()"
          class="btn button-default-modal mx-2"
          type="button"
        >
          Hủy
        </button>
        <custom-button-loading
          [isLoading]="loading.addTaskChain"
          (action)="onAddTaskChain()"
          [type]="'button'"
          [textButton]="'Lưu'"
          [className]="'button-fill button-submit-modal button-medium'"
        ></custom-button-loading>
      </div>
    </div>
  </div>
</ng-template>

<bs-modal-backdrop
  *ngIf="isOpenBackDrop"
  class="modal-backdrop fade in show"
></bs-modal-backdrop>

<modal-confirm [key]="'closeChain'" (confirmEvent)="onCloseChain($event)">
  <div class="state-warning d-flex gap-2" childContent>
    <div><i class="fa-regular fa-circle-question"></i></div>
    <div>
      Cẩn trọng với thao tác đóng chuỗi. Các module khác đang sử dụng dữ liệu
      của bản ghi cũng sẽ bị ảnh hưởng.
    </div>
  </div>
</modal-confirm>

<modal-confirm [key]="'deleteChain'" (confirmEvent)="onDeleteChain($event)">
  <div class="state-warning d-flex gap-2" childContent>
    <div><i class="fa-regular fa-circle-question"></i></div>
    <div>
      Cẩn trọng với thao tác xóa chuỗi. Các module khác đang sử dụng dữ liệu của
      bản ghi cũng sẽ bị ảnh hưởng.
    </div>
  </div>
</modal-confirm>

<modal-confirm [key]="'deleteTask'" (confirmEvent)="onDeleteTask($event)">
  <div class="state-warning d-flex gap-2" childContent>
    <div><i class="fa-regular fa-circle-question"></i></div>
    <div>
      Cẩn trọng với thao tác xóa chuỗi. Các module khác đang sử dụng dữ liệu của
      bản ghi cũng sẽ bị ảnh hưởng.
    </div>
  </div>
</modal-confirm>
