@use 'src/app/styles/variable' as vars;
@use 'src/app/styles/mixins' as mixins;

.avatar {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.wrapper {
}
.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.button-header {
  position: absolute;
  top: 0;
  right: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #dcdcdc;
}
.button-role {
  width: 35px;
  height: 35px;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dropdown-menu {
  max-height: 200px;
  overflow: auto;
  .item-user-dropdown {
    &.disabled {
      cursor: not-allowed;
      color: #dcdcdc;
    }
    &:hover {
      color: var(--bs-secondary);
      border-radius: 6px;
      background-color: #4277ff1a;
      font-weight: 500;
    }
    &.selected {
      color: var(--bs-secondary);
      border-radius: 6px;
      background-color: #4277ff1a;
      font-weight: 500;
    }
  }
}
