<div class="modal-update-source">
  <form [formGroup]="updateForm">
    <app-custom-modal [className]="'limit-body-height'">
      <ng-container modalTitle>
        {{ sourceData ? 'Chỉnh sửa' : 'Thêm' }} nguồn dữ liệu
      </ng-container>
      <ng-container modalBody>
        <div class="wrapper">
          <div class="row gap-2">
            <div class="col">
              <label for="name" class="form-control-label">
                Tên nguồn dữ liệu
                <span class="required">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Nhập tên nguồn dữ liệu"
              />
            </div>
            <div class="col">
              <label for="type" class="form-control-label">Loại kết nối</label>
              <ng-select
                id="type"
                [items]="listType"
                [clearable]="false"
                bindLabel="label"
                bindValue="value"
                formControlName="type"
                placeholder="Chọn loại kết nối"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.label }}
                </ng-template>
              </ng-select>
            </div>
            <div class="col">
              <label for="isActive" class="form-control-label">
                Trạng thái kích hoạt
              </label>
              <div class="form-check form-switch mt-2">
                <input
                  formControlName="isActive"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="isActive"
                />
                <label
                  class="form-check-label form-control-label mb-0"
                  for="isActive"
                ></label>
              </div>
            </div>
            <div class="col-12">
              <label for="parameters" class="form-control-label">Tham số</label>
              <div id="parameters" formArrayName="parameters">
                <div
                  class="text-center p-2"
                  *ngIf="!formParameters().controls.length"
                >
                  Không cấu hình tham số
                </div>
                <ng-container
                  *ngFor="
                    let parameter of formParameters().controls;
                    let parameterIndex = index;
                    let last = last;
                    let first = first
                  "
                >
                  <div
                    [formGroupName]="parameterIndex"
                    class="row {{ !first && 'mt-2' }} g-0 mx-0"
                  >
                    <div class="col-6">
                      <div class="d-flex align-items-center">
                        <ng-select
                          class="w-90"
                          id="parameter-in"
                          [items]="listType"
                          [clearable]="false"
                          bindLabel="label"
                          bindValue="value"
                          formControlName="key"
                          placeholder="Tham số"
                        >
                          <ng-template ng-label-tmp let-item="item">
                            {{ item.label }}
                          </ng-template>
                        </ng-select>
                        <div class="ps-3">
                          <i class="fa-solid fa-arrow-right-arrow-left"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="d-flex align-items-center">
                        <ng-select
                          class="w-90"
                          id="parameter-out"
                          [items]="listType"
                          [clearable]="false"
                          bindLabel="label"
                          bindValue="value"
                          formControlName="value"
                          placeholder="Tên trường API"
                        >
                          <ng-template ng-label-tmp let-item="item">
                            {{ item.label }}
                          </ng-template>
                        </ng-select>
                        <div
                          (click)="handleRemoveParameter(parameterIndex)"
                          class="ps-3 cursor-pointer"
                        >
                          <img
                            class=""
                            src="./assets/images/icon/x.svg"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div
                [style.width]="'150px'"
                class="d-flex align-items-center gap-2 button-add-step-action text-link mt-3"
                (click)="handleAddParameter()"
              >
                <i class="fa-solid fa-plus me-1"></i>
                <span>Thêm tham số</span>
              </div>
            </div>
          </div>
          <div class="my-3 state-warning">
            <div class="fw-500">Lưu ý: Về tham số</div>
            <ul>
              <li>
                <span class="fw-500">• Tên sản phẩm</span>
                : Sẽ tự động nhận là sản phẩn ảo khi tạo đơn!
              </li>
              <li>
                <span class="fw-500">• Mã sản phẩm</span>
                : Tự động đồng bộ với danh sách sản phẩm của shop và lấy giá
                theo sản phẩm! Trường hợp không tìm thấy mã sản phẩm => Tự động
                tạo mã thành tên sản phẩm ảo.
              </li>
              <li>
                <span class="fw-500">• Danh sách sản phẩm</span>
                : Hỗ trợ cho trường hợp tạo đơn có nhiều hơn 1 sản phẩm. Các
                thông tin của mỗi sản phẩm được cố định như Ví dụ bên dưới.
              </li>
            </ul>
          </div>
          <div class="">
            <div class="subhead mb-2">
              Thông tin mặc định khi tạo Task tự động qua API
              <i
                class="fa-regular fa-circle-question ms-1"
                tooltip="Nếu Task được tự động tạo qua API thì thông tin bên dưới sẽ tự được điền vào task.
Trong trường hợp dữ liệu từ tham số và thông tin mặc định bên dưới xảy ra xung đột, hệ thông sẽ ưu tiên sử dụng dữ liệu tham số."
                placement="auto"
              ></i>
            </div>
            <div class="mb-2">
              <label class="form-control-label">Nhân viên phụ trách</label>
              <ng-select
                [clearable]="false"
                formControlName="counselor"
                [searchable]="true"
                [placeholder]="'Chọn nhân viên...'"
                [ngClass]="{
                  'is-invalid': submitted && f['counselor'].errors
                }"
                appearance="outline"
                class="ng-select-custom dropdown-auto-width input-medium mw-100"
                id="userIds"
                appendTo=".modal-update-source"
              >
                <ng-option
                  *ngFor="let item of listBizUsers"
                  [value]="item.id"
                  [disabled]="!item.isActive"
                >
                  <div class="d-flex align-items-center">
                    <div>
                      <img
                        class="avatar me-2"
                        src="{{ item.picture }}"
                        fallback="assets/images/avatar.svg"
                        alt=""
                      />
                    </div>
                    <div>
                      {{ item.name }}
                    </div>
                  </div>
                </ng-option>
              </ng-select>
            </div>
            <div class="mb-2">
              <label class="form-control-label">Sản phẩm quan tâm</label>
              <ng-select
                [clearable]="false"
                formControlName="counselor"
                [searchable]="true"
                [placeholder]="'Chọn sản phẩm...'"
                [ngClass]="{
                  'is-invalid': submitted && f['counselor'].errors
                }"
                appearance="outline"
                class="ng-select-custom dropdown-auto-width input-medium mw-100"
                id="interestedProduct"
                appendTo=".modal-update-source"
              >
                <ng-option
                  *ngFor="let item of listBizUsers"
                  [value]="item.id"
                  [disabled]="!item.isActive"
                >
                  <div class="d-flex align-items-center">
                    <div>
                      <img
                        class="avatar me-2"
                        src="{{ item.picture }}"
                        fallback="assets/images/avatar.svg"
                        alt=""
                      />
                    </div>
                    <div>
                      {{ item.name }}
                    </div>
                  </div>
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="" formGroupName="api">
            <div class="subhead mb-2">Thông tin API</div>
            <div class="mb-2">
              <label class="form-control-label">
                API URL (Content TypeL application/json)
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="url"
                placeholder="Nhập API URL"
              />
            </div>
            <div class="mb-2">
              <label class="form-control-label">API Request Header</label>
              <input
                type="text"
                class="form-control"
                formControlName="headers"
                placeholder="Nhập API Request Header"
              />
            </div>
            <div class="mb-2">
              <label class="form-control-label">JSON BODY</label>
              <input
                type="text"
                class="form-control"
                formControlName="body"
                placeholder="Nhập JSON BODY"
              />
            </div>
          </div>
        </div>
      </ng-container>
      <div
        modalFooter
        class="d-flex justify-content-between align-items-center"
      >
        <div>
          <button
            *ngIf="sourceData"
            (click)="onDelete()"
            class="btn button-delete-modal"
            type="button"
          >
            Xóa
          </button>
        </div>
        <div class="d-flex gap-2">
          <button
            (click)="hideModal()"
            class="btn button-default-modal"
            type="button"
          >
            Hủy
          </button>
          <custom-button-loading
            (action)="onSubmit()"
            [type]="'button'"
            [textButton]="'Xác nhận'"
            [className]="'button-submit-modal'"
          ></custom-button-loading>
        </div>
      </div>
    </app-custom-modal>
  </form>
</div>
