<div class="modal-update-source">
  <form [formGroup]="updateForm">
    <app-custom-modal [className]="'limit-body-height'">
      <ng-container modalTitle>
        {{ sourceData ? 'Chỉnh sửa' : 'Thêm' }} nguồn dữ liệu
      </ng-container>
      <ng-container modalBody>
        <div class="wrapper">
          <div class="row mb-3 gap-2">
            <div class="col">
              <label for="name" class="form-control-label">
                Tên nguồn dữ liệu
                <span class="required">*</span>
              </label>
              <input
                [ngClass]="{'is-invalid': submitted && f['name'].errors}"
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Nhập tên nguồn dữ liệu"
              />
              <div
                *ngIf="submitted && f['name'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['name'].errors?.['required']">
                  Tên nguồn dữ liệu không được bỏ trống
                </div>
                <div *ngIf="f['name'].errors?.['maxlength']">
                  Tên nguồn dữ liệu không hợp lệ
                </div>
              </div>
            </div>
            <!-- <div class="col">
              <label for="type" class="form-control-label">
                Loại kết nối
                <i
                  class="fa-regular fa-circle-question ms-1"
                  [tooltip]="
                    'Nếu bạn chọn loại liên kết là API, hệ thống có thể thông qua API để tự động tạo Tác vụ theo cấu hình bên dưới'
                  "
                  placement="right"
                ></i>
              </label>
              <ng-select
                id="type"
                [items]="listType"
                [clearable]="false"
                (change)="handleChangeType()"
                bindLabel="label"
                bindValue="value"
                formControlName="type"
                placeholder="Chọn loại kết nối"
                appendTo=".modal-update-source"
              >
                <ng-template ng-label-tmp let-item="item">
                  {{ item.label }}
                </ng-template>
              </ng-select>
            </div> -->
            <div class="col">
              <label for="isActive" class="form-control-label">
                Trạng thái kích hoạt
              </label>
              <div class="form-check form-switch mt-2">
                <input
                  formControlName="isActive"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="isActive"
                />
                <label
                  class="form-check-label form-control-label mb-0"
                  for="isActive"
                ></label>
              </div>
            </div>
          </div>
          <div class="row gap-2">
            <div class="col">
              <label for="name" class="form-control-label">
                Nền tảng
                <span class="required">*</span>
              </label>
              <ng-select
                [ngClass]="{
                  'is-invalid': submitted && f['platform'].errors
                }"
                [placeholder]="'Chọn Platform'"
                [multiple]="false"
                [clearable]="false"
                [items]="platformOptions"
                formControlName="platform"
                bindLabel="label"
                bindValue="value"
                class="dropdown-auto-width"
                appearance="outline"
                appendTo=".modal-update-source"
              ></ng-select>
              <div
                *ngIf="submitted && f['platform'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['platform'].errors?.['required']">
                  Nền tảng không được bỏ trống
                </div>
              </div>
            </div>
            <div class="col">
              <label for="type" class="form-control-label">
                ID Nền tảng
                <span class="required">*</span>
                <i
                  class="fa-regular fa-circle-question ms-1"
                  [tooltip]="'ID Fanpage, ID Ladipage, ID Shopee,...'"
                  placement="right"
                ></i>
              </label>
              <input
                [ngClass]="{'is-invalid': submitted && f['platformId'].errors}"
                type="text"
                class="form-control"
                id="platformId"
                formControlName="platformId"
                placeholder="Nhập ID Nền tảng"
              />
              <div
                *ngIf="submitted && f['platformId'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['platformId'].errors?.['required']">
                  ID Nền tảng không được bỏ trống
                </div>
              </div>
            </div>
            <div class="col">
              <label for="isActive" class="form-control-label">
                Ảnh đại diện
              </label>
              <app-input-upload
                id="picture"
                type="image"
                [placeholder]="'URL hoặc tải ảnh từ thư viện...'"
                [url]="f['picture']?.value"
                (urlChange)="f['picture']?.setValue($event)"
              ></app-input-upload>
              <div
                *ngIf="submitted && f['picture'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['picture'].errors?.['required']">
                  Ảnh đại diện không được bỏ trống
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4">
            <div class="subhead mb-3 d-flex align-items-end gap-1">
              Nguồn dữ liệu API

              <input
                class="form-check-input"
                type="checkbox"
                id="type"
                style="width: 18px; height: 18px"
                (change)="toggleType($event)"
                [checked]="f['type'].value === EDataSourceType.API"
              />
              <i
                class="fa-regular fa-circle-question ms-1"
                [tooltip]="
                  'Hệ thống có thể thông qua API để tự động tạo Tác vụ theo cấu hình bên dưới'
                "
                placement="right"
              ></i>
            </div>

            <ng-container *ngIf="f['type'].value === EDataSourceType.API">
              <div class="mt-2">
                <label for="arguments" class="form-control-label">
                  Tham số
                </label>
                <div id="arguments" formArrayName="arguments">
                  <div
                    class="text-center p-2"
                    *ngIf="!formArguments().controls.length"
                  >
                    Không cấu hình tham số
                  </div>
                  <ng-container
                    *ngFor="
                      let argument of formArguments().controls;
                      let argumentIndex = index;
                      let last = last;
                      let first = first
                    "
                  >
                    <div
                      [formGroupName]="argumentIndex"
                      class="row {{ !first && 'mt-2' }} g-0 mx-0"
                    >
                      <div class="col-6">
                        <div class="d-flex align-items-center">
                          <ng-select
                            class="w-90"
                            id="argument-in"
                            [clearable]="false"
                            [ngClass]="{
                              'is-invalid':
                                submitted && !argument.value['argKey']
                            }"
                            formControlName="argKey"
                            appendTo=".modal-update-source"
                            placeholder="Tham số"
                          >
                            <ng-option
                              *ngFor="let option of listSourceArgKey"
                              [value]="option.value"
                              [disabled]="checkExistArgKey(option.value)"
                            >
                              {{ option.label }}
                            </ng-option>
                          </ng-select>
                          <div class="ps-3">
                            <i class="fa-solid fa-arrow-right-arrow-left"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="d-flex align-items-center">
                          <input
                            [ngClass]="{
                              'is-invalid':
                                submitted && !argument.value['argRef']
                            }"
                            type="text"
                            class="form-control"
                            formControlName="argRef"
                            placeholder="Tên trường API"
                          />
                          <div
                            (click)="handleRemoveArgument(argumentIndex)"
                            class="ps-3 cursor-pointer"
                          >
                            <img
                              class=""
                              src="./assets/images/icon/x.svg"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div
                  *ngIf="
                    formArguments().controls.length < listSourceArgKey.length
                  "
                  [style.width]="'150px'"
                  class="d-flex align-items-center gap-2 button-add-step-action text-link mt-3"
                  (click)="handleAddArgument()"
                >
                  <i class="fa-solid fa-plus me-1"></i>
                  <span>Thêm tham số</span>
                </div>
              </div>
            </ng-container>
          </div>
          <div formGroupName="dTask" class="mt-4 dTask-form">
            <div class="subhead mb-3">
              Thông tin mặc định khi Tác vụ được tạo
              <i
                class="fa-regular fa-circle-question ms-1"
                [tooltip]="
                  'Khi Tác vụ được tạo qua Nguồn này, thì những thông tin bên dưới sẽ được tự động gán vào Task.Nếu Nguồn trả dữ liệu về và xung đột với thông tin bên dưới, thì sẽ ưu tin sử dụng dữ liệu được trả về'
                "
                placement="right"
              ></i>
            </div>
            <div class="row mb-3">
              <div class="col-2">
                <label for="type" class="form-control-label">
                  Loại chia số
                  <i
                    class="fa-regular fa-circle-question ms-1"
                    [tooltip]="''"
                    placement="right"
                  ></i>
                </label>

                <ng-select
                  [style.width]="'100%'"
                  [clearable]="false"
                  [placeholder]="'Chọn loại chia số'"
                  [multiple]="false"
                  class="dropdown-auto-width"
                  id="taskTypeId"
                  appendTo=".modal-update-source"
                  [items]="listDistributionType"
                  bindLabel="label"
                  bindValue="value"
                  formControlName="distributionType"
                ></ng-select>
              </div>

              <div class="col-4">
                <ng-container
                  *ngIf="
                    updateForm.get('dTask.distributionType')?.value ===
                    EDistributeType.MANUAL
                  "
                >
                  <div>
                    <label class="form-control-label">Nhân sự phụ trách</label>
                  </div>
                  <div
                    *ngFor="
                      let settingRole of formTeams.controls;
                      let settingRoleIndex = index
                    "
                    class="btn-group mx-1"
                    dropdown
                    container=".modal-update-source"
                    [autoClose]="true"
                  >
                    <button
                      dropdownToggle
                      type="button"
                      class="btn btn-default border rounded-pill button-role"
                      popoverTitle="Vai trò: {{ settingRole.value?.roleName }}"
                      popover="Thông tin: {{ settingRole.value?.userName }} - {{
                        settingRole.value?.userEmail
                      }}"
                      triggers="hover"
                      container=".dTask-form"
                    >
                      <i
                        *ngIf="!settingRole.value.userId"
                        class="fa-solid"
                        [ngClass]="settingRole.value?.roleIcon"
                      ></i>
                      <img
                        *ngIf="!!settingRole.value.userId"
                        class="rounded-pill"
                        [src]="settingRole.value?.userPicture"
                        alt=""
                      />
                    </button>
                    <ul
                      id="dropdown-select-role{{ settingRole.value.roleId }}"
                      *dropdownMenu
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="button-select-role"
                    >
                      <li
                        role="menuitem"
                        class="item-user-dropdown"
                        [class.selected]="item.id === settingRole.value.userId"
                        *ngFor="
                          let item of listBizUsers
                            | getDataArray: 'roleIds' : settingRole.value.roleId
                        "
                        [class.disabled]="!item.isActive"
                        (click)="
                          item.id === settingRole.value.userId
                            ? onRemoveTeam(settingRoleIndex)
                            : onChooseTeam(settingRoleIndex, item)
                        "
                      >
                        <div
                          class="d-flex align-items-center p-3 cursor-pointer"
                        >
                          <div>
                            <img
                              class="avatar me-2"
                              src="{{ item.picture }}"
                              fallback="assets/images/avatar.svg"
                              alt=""
                            />
                          </div>
                          <div class="text-truncate">
                            {{ item.name }}
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-container>

                <ng-container
                  *ngIf="
                    updateForm.get('dTask.distributionType')?.value ===
                    EDistributeType.AUTO
                  "
                >
                  <div class="row">
                    <div class="col-8">
                      <div>
                        <label class="form-control-label">
                          Cấu hình chia số tự động
                        </label>
                        <div [style.width]="'100%'" id="distributionConfigId">
                          <ng-select
                            id="argument-in"
                            [clearable]="false"
                            appendTo=".modal-update-source"
                            placeholder="Chọn cấu hình chia số"
                            (click)="
                              !taskDistributionConfigs.rows.length &&
                                getTaskDistributionConfig()
                            "
                            [loading]="taskDistributionConfigs.loading"
                            [loadingText]="'Đang tải...'"
                            formControlName="taskDistributionConfigId"
                          >
                            <ng-option
                              *ngFor="
                                let option of taskDistributionConfigs.rows
                              "
                              [value]="option.id"
                            >
                              {{ option.name }}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div>
                        <label class="form-control-label">Mức ưu tiên</label>
                        <div [style.width]="'100%'" id="priority">
                          <app-input-mask
                            [min]="1"
                            [max]="100"
                            [isQuantity]="true"
                            [value]="f['dTask']?.value?.priority"
                            (changeValue)="handleChangePriority($event)"
                          ></app-input-mask>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col-3">
                <div>
                  <label class="form-control-label">
                    Chi nhánh - Phòng ban - Đội nhóm
                  </label>
                  <div [style.width]="'100%'" id="branch">
                    <p-treeSelect
                      [filter]="false"
                      [options]="units"
                      (click)="handleClickPTree($event)"
                      class="w-100"
                      containerStyleClass="w-100 input-medium custom-tree-select show-in-above"
                      formControlName="branch"
                      placeholder="Chọn Đơn vị..."
                      [overlayOptions]="getOverlayOptions()"
                    ></p-treeSelect>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div>
                  <label class="form-control-label">
                    Chuỗi hành động đầu tiên
                  </label>
                  <ng-select
                    [style.width]="'100%'"
                    [clearable]="false"
                    [placeholder]="'Chọn Chuỗi'"
                    [multiple]="true"
                    [loading]="actionChains.loading"
                    [closeOnSelect]="false"
                    formControlName="taskChainIds"
                    class="dropdown-auto-width custom-input-multiple-round"
                    id="action-modal"
                    appendTo=".modal-update-source"
                  >
                    <ng-option
                      [value]="option.id"
                      *ngFor="let option of actionChains.rows"
                    >
                      {{ option.name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="f['type'].value === EDataSourceType.API">
            <div *ngIf="sourceData?.id" class="mt-3">
              <div class="">
                <div class="subhead mb-2 mt-3">
                  Thông tin API
                  <i
                    class="fa-regular fa-circle-question ms-1"
                    tooltip="Nếu Task được tự động tạo qua API thì thông tin bên dưới sẽ tự được điền vào task.
Trong trường hợp dữ liệu từ tham số và thông tin mặc định bên dưới xảy ra xung đột, hệ thông sẽ ưu tiên sử dụng dữ liệu tham số."
                    placement="auto"
                  ></i>
                </div>
              </div>
              <div formGroupName="apiEndpoint" class="mb-2">
                <label class="form-control-label">
                  API URL (Content TypeL application/json)
                </label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">
                    {{ f['apiEndpoint'].value.method }}
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="path"
                    placeholder="API URL"
                    [readonly]="true"
                  />
                  <span
                    class="input-group-text cursor-pointer"
                    id="basic-addon2"
                    tooltip="Sao chép"
                    (click)="copyText(f['apiEndpoint'].value.path)"
                  >
                    <i class="far fa-copy"></i>
                  </span>
                </div>
              </div>
              <div class="mb-2">
                <label class="form-control-label">API Request Header</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    value="{&quot;authorization&quot;: &quot;Bearer {{
                      updateForm.value.apiHeaders?.token
                    }}&quot;}"
                    placeholder="API Request Header"
                    [readonly]="true"
                  />
                  <span
                    class="input-group-text cursor-pointer"
                    tooltip="Sao chép"
                    (click)="copyApiHeaders()"
                  >
                    <i class="far fa-copy"></i>
                  </span>
                </div>
              </div>
              <div class="mb-2">
                <label class="form-control-label">JSON BODY</label>
                <div class="input-group">
                  <!--                  <div contenteditable class="form-control">-->
                  <!--                    {{ updateForm.value.apiBody | json }}-->
                  <!--                  </div>-->
                  <textarea
                    class="form-control"
                    value="{{ updateForm.value.apiBody | json }}"
                    [style.height]="'fit-content !important'"
                    placeholder="JSON BODY"
                    rows="10"
                    [readonly]="true"
                  ></textarea>
                  <span
                    class="input-group-text cursor-pointer"
                    tooltip="Sao chép"
                    (click)="copyApiBody()"
                  >
                    <i class="far fa-copy"></i>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div
        modalFooter
        class="d-flex justify-content-between align-items-center"
      >
        <div>
          <button
            *ngIf="sourceData"
            (click)="onDelete()"
            class="btn button-delete-modal"
            type="button"
          >
            Xóa
          </button>
        </div>
        <div class="d-flex gap-2">
          <button
            (click)="hideModal()"
            class="btn button-default-modal"
            type="button"
          >
            Hủy
          </button>
          <custom-button-loading
            [isLoading]="loading.submit"
            (action)="onSubmit()"
            [type]="'button'"
            [textButton]="'Xác nhận'"
            [className]="'button-submit-modal'"
          ></custom-button-loading>
        </div>
      </div>
    </app-custom-modal>
  </form>
</div>
