.button-filter-top {
  img {
    max-width: 16px;
    max-height: 16px;
  }
  img.activeIcon {
    display: none;
  }
  img.icon {
    display: block;
  }
  &:hover {
    img.icon {
      display: none;
    }
    img.activeIcon {
      display: block !important;
    }
  }
}
