<div
  class="filter-top-table d-flex flex-wrap justify-content-between align-items-center gap-2"
>
  <div class="left d-flex flex-wrap align-items-center gap-2">
    <ng-container *ngFor="let filter of configFilters">
      <ng-container *ngIf="filter.type === ETypeFilter.SEARCH">
        <custom-input-search
          [className]="'input-medium'"
          (searchEvent)="onSearch($event, filter.name)"
          [placeholder]="filter.placeholder || 'Search...'"
        ></custom-input-search>
      </ng-container>
      <ng-container *ngIf="filter.type === ETypeFilter.SELECT">
        <custom-select-search
          [className]="'input-medium'"
          [selectData]="filter"
          (selectEvent)="onSelectValue($event, filter.name)"
        ></custom-select-search>
      </ng-container>
    </ng-container>
  </div>
  <div class="right d-flex flex-wrap align-items-center gap-2">
    <ng-container *ngFor="let filter of configButtons">
      <button
        type="button"
        class="btn button-medium {{
          filter.className
        }} center-item button-filter-top"
        [ngClass]="{
          'button-fill secondary-color': filter.type === ETypeButton.PRIMARY,
          'button-outline': filter.type === ETypeButton.DEFAULT,
          'button-sub-primary': filter.type === ETypeButton.SUB_PRIMARY
        }"
        (click)="onClick(filter.name || 'button')"
      >
        <img
          *ngIf="filter.icon"
          src="{{ filter.icon }}"
          alt=""
          [ngClass]="{'me-1': !!filter.label}"
        />
        {{ filter.label }}
      </button>
    </ng-container>
  </div>
</div>
