<div class="setting-employee-site">
  <div class="card">
    <div class="card-body">
      <div class="list-data">
        <app-filter-top-table [configFilters]="configFilters" [configButtons]="configButtons"
          (clickButtonEvent)="handleAction($event)" (searchEvent)="onSearch($event)"></app-filter-top-table>
        <div class="table-responsive tableFixHead custom-scrollbar">
          <table class="table">
            <thead>
              <tr>
                <th class="column-index">#</th>
                <th class="column-source">Nguồn</th>
                <th class="column-action text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3" *ngIf="isAdd.tag" class="form-add-tag pb-2 pt-2">
                  <ng-container *ngTemplateOutlet="formAddEditTag"></ng-container>
                </td>
              </tr>
              <tr class="text-center" *ngIf="!tags.rows.length && !loading.data && !isAdd.tag">
                <td colspan="3">
                  <div>Không có dữ liệu</div>
                </td>
              </tr>
              <tr class="text-center" *ngIf="loading.data">
                <td colspan="3">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading</span>
                  </div>
                  <div>Loading</div>
                </td>
              </tr>

              <tr *ngFor="let tag of tags.rows; index as i">
                <ng-container *ngIf="indexEdit.tag !== i; else otherEdit">
                  <td class="column-index">{{ i + 1 }}</td>
                  <td>
                    <div>
                      <span class="text-capitalize me-2 tag-item" [ngClass]="{nonBack: !tag.bgColor}"
                        [ngStyle]="{background: tag.bgColor}">
                        <span>{{ tag.name }}</span>
                      </span>
                    </div>
                  </td>
                  <td class="columns-action">
                    <div class="d-flex justify-content-center">
                      <button class="btn ms-1" type="button" (click)="addEdit(tag, i)">
                        <img src="./assets/images/icon/edit.svg" alt="" />
                      </button>
                      <button (click)="onDeleteItem(tag.id)" class="btn button-delete ms-1" type="button">
                        <img src="./assets/images/icon/remove.svg" alt="" />
                      </button>
                    </div>
                  </td>
                </ng-container>
                <ng-template #otherEdit>
                  <td colspan="3" class="form-add-tag pb-2 pt-2">
                    <ng-container *ngTemplateOutlet="formAddEditTag"></ng-container>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #formAddEditTag>
  <form [formGroup]="addEditForm.tag">
    <div class="d-flex justify-content-between align-items-center gap-2">
      <input id="name" formControlName="name" class="input-name form-control" type="text" placeholder="Nhập tên" />
      <input class="input-color" id="bgColor" type="color" formControlName="bgColor" />
      <div>
        <button class="btn btn-default ms-1 button-cancel" type="button" (click)="cancelAddEdit()">
          Huỷ
        </button>
        <button (click)="onSubmit()" [disabled]="addEditForm.tag.invalid" class="btn btn-primary ms-1 button-save"
          type="button">
          Lưu
        </button>
      </div>
    </div>
  </form>
</ng-template>