<div class="wrapper">
  <div class="content-wrapper">
    <ng-container *ngIf="user else nonUser;">
      <app-header>
        <div class="left">
          <ul class="nav">
            <li class="nav-item">
              <a [routerLink]="['/admin/setting/job']" routerLinkActive="active" class="nav-link">Job</a>
            </li>
          </ul>
        </div>
        <div class="right"></div>
      </app-header>
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #nonUser>
      <div class="loading">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div>Loading...</div>
      </div>
    </ng-template>
  </div>

</div>
