<div
  class="custom-pagination d-flex align-items-center flex-wrap mt-3"
  [ngClass]="showConfig ? 'justify-content-between' : 'justify-content-center'"
>
  <div *ngIf="showConfig" class="d-flex align-items-center">
    <span>Hiển thị</span>
    <div class="mx-2 page-size">
      <ng-select
        appearance="outline"
        id="integration"
        [items]="optionSize"
        [clearable]="false"
        (change)="pageChanged({}, $event)"
        [ngModel]="selectedSize"
        [dropdownPosition]="'top'"
      ></ng-select>
    </div>
    <ng-container>
      <span>trong tổng số {{ total }} bản ghi</span>
    </ng-container>
  </div>
  <div class="mt-2 mt-sm-2 mt-md-0">
    <ng-container
      *ngIf="!shouldUseLazyMode; then number; else lazy"
    ></ng-container>
  </div>
</div>

<ng-template #lazy>
  <div class="custom-change-page">
    <button (click)="changePageLazy('before')" type="button" class="btn mx-2" [disabled]="!canGoPrevious" [title]="'Trang ' + (currentPage - 1)">
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <button (click)="changePageLazy('after')" type="button" class="btn" [disabled]="!canGoNext" [title]="'Trang ' + (currentPage + 1)">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</ng-template>

<ng-template #number>
  <pagination
    [totalItems]="Math.min(total, maxRecords)"
    [ngModel]="currentPage"
    (pageChanged)="pageChanged($event, null)"
    [itemsPerPage]="selectedSize"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [rotate]="false"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&lsaquo;&lsaquo;"
    lastText="&rsaquo;&rsaquo;"
  ></pagination>
</ng-template>
