@use 'src/app/styles/variable' as vars;

.custom-pagination {
  .page-size {
    background: vars.$neutral-50;
    border: none;
    border-radius: 6px;
    ng-select {
      min-width: 100px;
    }
  }
}

.custom-change-page {
  button {
    width: 40px;
    height: 40px;
    background: #e7e9ef;
    border-radius: 50%;

    &:hover {
      color: vars.$white;
      background-color: vars.$neutral;
    }
  }
  .disabled {
    cursor: not-allowed;
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  .page-link {
    line-height: 18px;
    border-radius: 20px;
    height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: vars.$neutral;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #eef0f3;
    &.active {
      background-color: vars.$neutral;
      color: #fff;
    }
  }
}
