<div
  class="custom-pagination ui-v2 d-flex align-items-center flex-wrap mt-3 gap-2"
  [ngClass]="showConfig ? 'justify-content-between' : 'justify-content-center'"
>
  <div *ngIf="showConfig" class="d-flex align-items-center">
    <span class="text-neutral fw-500">Show</span>
    <div class="mx-2 page-size">
      <ng-select
        appearance="outline"
        id="integration"
        [items]="optionSize"
        [clearable]="false"
        (change)="pageChanged({}, $event)"
        [ngModel]="selectedSize"
        [dropdownPosition]="'top'"
        class="ng-select-custom ui-v2"
      ></ng-select>
    </div>
    <ng-container>
      <span class="text-neutral fw-500">of {{ total }}</span>
    </ng-container>
  </div>
  <div class="mt-2 mt-sm-2 mt-md-0">
    <ng-container
      *ngIf="!shouldUseLazyMode; then number; else lazy"
    ></ng-container>
  </div>
</div>

<ng-template #lazy>
  <div class="custom-change-page d-flex align-items-center">
    <button
      (click)="changePageLazy('before')"
      type="button"
      class="btn mx-2"
      [disabled]="!canGoPrevious"
      [title]="'Trang ' + (currentPage - 1)"
    >
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <div class="mx-2 page-link" (click)="pageChanged({page: 1}, null)">1</div>
    <div class="mx-2">...</div>
    <div
      class="mx-2 page-link"
      [ngClass]="{active: maxAllowedPage === currentPage}"
      (click)="pageChanged({page: maxAllowedPage}, null)"
    >
      {{ maxAllowedPage }}
    </div>
    <div class="mx-2 page-link active" *ngIf="maxAllowedPage < currentPage">
      {{ currentPage }}
    </div>

    <button
      (click)="changePageLazy('after')"
      type="button"
      class="btn"
      [disabled]="!canGoNext"
      [title]="'Trang ' + (currentPage + 1)"
    >
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</ng-template>

<ng-template #number>
  <pagination
    [totalItems]="Math.min(total, maxRecords)"
    [ngModel]="currentPage"
    (pageChanged)="pageChanged($event, null)"
    [itemsPerPage]="selectedSize"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [rotate]="false"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&lsaquo;&lsaquo;"
    lastText="&rsaquo;&rsaquo;"
    class="pagination ui-v2"
  ></pagination>
</ng-template>
