<div class="modal-update-action">
  <app-custom-modal [isSubmitting]="loading.submit" (submitModal)="onSubmit()">
    <ng-container modalTitle>Cập nhật thông tin khách hàng</ng-container>
    <ng-container modalBody>
      <form [formGroup]="updateForm">
        <div class="mb-3">
          <label class="form-control-label" for="id">Mã khách hàng</label>
          <input
            class="form-control disabled"
            [readonly]="true"
            [placeholder]="'Mã Khách hàng...'"
            formControlName="id"
            id="id"
            type="text"
          />
        </div>
        <div class="mb-3">
          <label class="form-control-label" for="name">
            Tên khách hàng
            <span class="required">*</span>
          </label>
          <input
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['name'].errors}"
            [placeholder]="'Nhập Kết quả...'"
            formControlName="name"
            id="name"
            type="text"
          />
          @if (submitted && f['name'].errors) {
            @if (f['name'].errors?.['required']) {
              <div class="invalid-feedback">
                Tên khách hàng không được bỏ trống
              </div>
            }
            @if (f['name'].errors?.['maxlength']) {
              <div class="invalid-feedback">Tên khách hàng không hợp lệ</div>
            }
          }
        </div>

        <div class="mb-3">
          <label for="tags" class="form-control-label">Tags</label>
          <ng-select
            id="tagstags"
            class="custom-input-tag full-width"
            placeholder="Chọn tags..."
            formControlName="tagIds"
            [items]="tags.rows"
            appearance="outline"
            [multiple]="true"
            [closeOnSelect]="false"
            (click)="!tags.rows.length && getTags()"
            [loading]="tags.loading"
            [bindLabel]="'name'"
            [bindValue]="'id'"
          >
            <ng-template ng-option-tmp let-item="item">
              <div
                class="tag-item"
                [ngClass]="{nonBack: !item.bgColor}"
                [ngStyle]="{background: item.bgColor}"
              >
                {{ item.name }}
              </div>
            </ng-template>
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
              <span class="ng-value-icon" (click)="clear(item)">×</span>
              <div
                class="tag-item"
                [ngClass]="{nonBack: !item.bgColor}"
                [ngStyle]="{background: item.bgColor}"
              >
                {{ item.name }}
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="mb-3">
          <label class="form-control-label" for="phone">Số điện thoại</label>
          <input
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['phone'].errors}"
            [placeholder]="'Nhập Số điện thoại...'"
            formControlName="phone"
            id="phone"
            type="text"
          />
        </div>
        <div class="mb-3">
          <label class="form-control-label" for="email">Email</label>
          <input
            class="form-control"
            [ngClass]="{'is-invalid': submitted && f['email'].errors}"
            [placeholder]="'Nhập Email...'"
            formControlName="email"
            id="email"
            type="text"
          />
        </div>

        <!-- Ngày sinh -->
        <div class="mb-3">
          <label class="form-control-label" for="birthday">Ngày sinh</label>
          <custom-date-picker
            [placeholder]="'Nhập Ngày sinh...'"
            [ngClass]="{'is-invalid': submitted && f['birthday'].errors}"
            [id]="'birthday'"
            (changeDateEmmit)="handleChangeBirthday($event)"
            [typePicker]="'single'"
            [dateSingle]="getBirthdayValue()"
            [defaultValue]="getBirthdayValue()"
            [maxDate]="'today'"
          ></custom-date-picker>
        </div>

        <div class="mb-3">
          <select-location
            [selected]="selectedLocation"
            (emitData)="handleEmittedEvent($event)"
            [type]="'wardCode'"
            [showLabel]="true"
          ></select-location>
        </div>
        <div>
          <label class="form-control-label" for="street">
            Số nhà, đường/phố
          </label>
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f['street'].errors
            }"
            (change)="handleCombineAddress()"
            [placeholder]="'Nhập chi tiết (Số nhà, ngách, ngõ, đường)'"
            formControlName="street"
            id="street"
            type="text"
          />
        </div>
      </form>
    </ng-container>
  </app-custom-modal>
</div>

<ng-template #loadingTemp>
  <div class="w-100 text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading</span>
    </div>
  </div>
</ng-template>
