<ng-container *ngIf="sourceData">
  <div class="modal-employee-info">
    <app-custom-modal
      [isSubmitting]="loading.submit"
      (submitModal)="onSubmit()"
    >
      <ng-container modalTitle>Chỉnh sửa quyền của nhân viên</ng-container>
      <ng-container modalBody>
        <form [formGroup]="updateForm">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="headline">Thông tin nhân viên</span>
            <div class="d-flex align-items-center gap-2">
              <label
                class="form-check-label form-control-label mb-0"
                for="isActive"
              >
                Trạng thái kích hoạt
              </label>
              <div class="form-check form-switch">
                <input
                  formControlName="isActive"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="isActive"
                />
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              <label class="form-control-label" for="name">Tên nhân viên</label>
              <input
                [readonly]="true"
                class="form-control input-disabled"
                [ngClass]="{'is-invalid': submitted && f['name'].errors}"
                [placeholder]="'Tên nhân viên...'"
                formControlName="name"
                id="name"
                type="text"
              />
            </div>
            <div class="col-6">
              <label class="form-control-label" for="email">Email</label>
              <input
                [readonly]="true"
                class="form-control input-disabled"
                [ngClass]="{'is-invalid': submitted && f['email'].errors}"
                [placeholder]="'Email...'"
                formControlName="email"
                id="email"
                type="text"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              <label class="form-control-label" for="groups">
                Vùng chức năng
                <i
                  (click)="viewSetting('groups')"
                  class="fa-solid fa-link ms-1"
                ></i>
              </label>
              <ng-select
                [disabled]="true"
                [clearable]="false"
                [placeholder]="'Vùng chức năng...'"
                [searchable]="false"
                [multiple]="true"
                [items]="sourceData?.groups || []"
                [isOpen]="false"
                class="dropdown-auto-width custom-input-multiple disabled input-disabled"
                formControlName="groups"
                [compareWith]="compareFunction"
                id="groups"
                appendTo=".modal-employee-info"
                bindLabel="name"
                bindValue="id"
              ></ng-select>
            </div>
            <div class="col-6">
              <label class="form-control-label" for="roles">
                Vai trò
                <i
                  (click)="viewSetting('roles')"
                  class="fa-solid fa-link ms-1"
                ></i>
              </label>
              <ng-select
                [disabled]="true"
                [clearable]="false"
                [placeholder]="'Vai trò...'"
                [searchable]="false"
                [multiple]="true"
                [items]="sourceData?.roles || []"
                [isOpen]="false"
                class="dropdown-auto-width custom-input-multiple disabled input-disabled"
                formControlName="roles"
                [compareWith]="compareFunction"
                id="roles"
                appendTo=".modal-employee-info"
                bindLabel="name"
                bindValue="id"
              ></ng-select>
            </div>
          </div>
          <div class="mb-2 mt-3">
            <span class="headline">Phân quyền</span>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <label class="form-control-label" for="branches">
                Chi nhánh
                <i
                  (click)="viewSetting('branches')"
                  class="fa-solid fa-link ms-1"
                ></i>
              </label>
              <ng-select
                [disabled]="true"
                [clearable]="false"
                [placeholder]="'Chi nhánh...'"
                [searchable]="false"
                [multiple]="true"
                [items]="sourceData?.branches || []"
                [isOpen]="false"
                class="dropdown-auto-width custom-input-multiple"
                formControlName="branches"
                [compareWith]="compareFunction"
                id="branches"
                appendTo=".modal-employee-info"
                bindLabel="name"
                bindValue="id"
              ></ng-select>
            </div>
          </div>
        </form>
      </ng-container>
    </app-custom-modal>
  </div>
</ng-container>
