<ng-container *ngIf="sourceData">
  <div class="modal-employee-info">
    <app-custom-modal
      [isSubmitting]="loading.submit"
      (submitModal)="onSubmit()"
    >
      <ng-container modalTitle>Thông tin nhân viên</ng-container>
      <ng-container modalBody>
        <form [formGroup]="updateForm">
          <div class="row mb-2">
            <div class="col-6">
              <label class="form-control-label" for="name">Tên nhân viên</label>
              <input
                [readonly]="true"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f['name'].errors}"
                [placeholder]="'Tên nhân viên...'"
                formControlName="name"
                id="name"
                type="text"
              />
            </div>
            <div class="col-6">
              <label class="form-control-label" for="email">Email</label>
              <input
                [readonly]="true"
                class="form-control"
                [ngClass]="{'is-invalid': submitted && f['email'].errors}"
                [placeholder]="'Email...'"
                formControlName="email"
                id="email"
                type="text"
              />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12">
              <label class="form-control-label" for="email">Nhóm</label>
              <ng-select
                [disabled]="true"
                [clearable]="false"
                [placeholder]="'Nhóm...'"
                [searchable]="false"
                [multiple]="true"
                [items]="sourceData?.groups || []"
                class="dropdown-auto-width custom-input-multiple"
                formControlName="groups"
                [compareWith]="compareFunction"
                id="groups"
                appendTo=".modal-employee-info"
                bindLabel="name"
                bindValue="id"
              ></ng-select>
            </div>
          </div>
        </form>
      </ng-container>
    </app-custom-modal>
  </div>
</ng-container>
