<div class="dashboard-site">
  <div class="card">
    <div class="card-body">
      <div class="content-site">
        <app-view-mode-tab [key]="EScreens.DASHBOARD"></app-view-mode-tab>
        <app-filter-top-table
          [configFilters]="configFilters"
          [configButtons]="configButtons"
          (clickButtonEvent)="handleAction($event)"
          (toggleButtonEvent)="handleToggleAction($event)"
          (searchEvent)="onSearch($event)"
          (selectEvent)="onSelectFilter($event)"
          (popoverEvent)="onPopoverFilter($event)"
          (pickerDateEvent)="onPickerDateFilter($event)"
          (scrollToEndEvent)="handleLoadMoreData($event)"
        >
          <ng-container specificAdvanceFilter>
            <div class="fw-normal col-4">Chi nhánh</div>
            <div class="col-8">
              <p-treeSelect
                [filter]="true"
                [options]="units"
                [(ngModel)]="selectedUnits"
                (onNodeSelect)="handleChangeUnits($event)"
                (onNodeUnselect)="handleChangeUnits($event)"
                [metaKeySelection]="false"
                selectionMode="checkbox"
                class="w-100"
                containerStyleClass="w-100 input-medium custom-tree-select fw-normal"
                placeholder="Chọn Chi nhánh..."
              ></p-treeSelect>
            </div>
          </ng-container>
        </app-filter-top-table>
        <div class="table-responsive tableFixHead custom-scrollbar">
          <table class="table col-resizable">
            <thead>
              @if (!getLengthCheckRow()) {
                <tr>
                  @if (permission.edit) {
                    <th scope="col" style="width: 40px" class="column-checkbox">
                      <label class="basic-checkbox standalone">
                        <input
                          type="checkbox"
                          (change)="
                            handleSelectRow({type: 'all', event: $event})
                          "
                          [checked]="isAllChecked()"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </th>
                  }
                  <ng-container
                    *ngFor="let columns of dataColumnsShow; index as i"
                  >
                    <th (mousedown)="startResizing($event)">
                      <i
                        *ngIf="columns.showTooltip"
                        class="fa fa-question-circle"
                        [tooltipHtml]="columns.tooltip || ''"
                      ></i>
                      {{ columns.name }}
                      <span
                        *ngIf="columns.fieldSort"
                        class="caret-wrapper justify-content-center"
                        (click)="changeSort(columns.fieldSort)"
                      >
                        <i
                          class="fa fa-caret-up asc"
                          [ngClass]="{
                            'text-primary': sort[columns.fieldSort] === 1
                          }"
                        ></i>
                        <i
                          class="fa fa-caret-down desc"
                          [ngClass]="{
                            'text-primary': sort[columns.fieldSort] === -1
                          }"
                        ></i>
                      </span>
                    </th>
                  </ng-container>
                  <th scope="col">
                    <div
                      class="btn button-cog-table text-center"
                      (click)="showModalOrderableTable()"
                    >
                      <img src="./assets/images/icon/table.svg" alt="" />
                    </div>
                  </th>
                </tr>
              } @else {
                <tr>
                  <th scope="col" style="width: 40px" class="column-checkbox">
                    <label class="basic-checkbox standalone">
                      <input
                        type="checkbox"
                        (change)="handleSelectRow({type: 'all', event: $event})"
                        [checked]="isAllChecked()"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </th>
                  <th colspan="12">
                    <div class="d-flex align-items-center gap-3">
                      <span>Đã chọn {{ getLengthCheckRow() }} bản ghi</span>
                      <ng-select
                        #selectBatchActions
                        appearance="outline"
                        [clearable]="false"
                        placeholder="Thao tác hàng loạt"
                        style="width: 250px"
                        [items]="multipleAction"
                        (change)="showModalMultipleAction($event)"
                        appendTo="body"
                        class="ng-select ng-select-single"
                      ></ng-select>
                    </div>
                  </th>
                </tr>
              }
            </thead>
            <tbody>
              <tr
                class="text-center"
                *ngIf="!item.rows.length && !item.loading"
              >
                <td colspan="12">
                  <div>Không có dữ liệu</div>
                </td>
              </tr>
              <tr class="text-center" *ngIf="item.loading">
                <td colspan="12">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading</span>
                  </div>
                  <div>Loading</div>
                </td>
              </tr>
              <ng-container *ngIf="!item.loading">
                <tr *ngFor="let item of item.rows; index as i">
                  @if (permission.edit) {
                    <td>
                      <label class="basic-checkbox">
                        <input
                          value="{{ item.id }}"
                          [checked]="isCheckRow(item)"
                          (change)="handleSelectRow({item, event: $event})"
                          (keydown)="isShift = true"
                          (keyup)="isShift = false"
                          type="checkbox"
                        />
                        <span class="checkmark"></span>
                      </label>
                    </td>
                  }
                  <ng-container
                    *ngFor="let columns of dataColumnsShow; index as i"
                  >
                    <ng-container [ngSwitch]="columns.value">
                      <ng-container *ngSwitchCase="'name'">
                        <td>
                          <div
                            class="fw-500 cursor-pointer"
                            (click)="handleUpdate(item)"
                          >
                            {{ item.name || '-' }}
                          </div>
                          <div
                            class="fw-500 cursor-pointer text-link mt-1"
                            (click)="handleUpdate(item)"
                          >
                            {{ item.code || '-' }}
                          </div>
                          <div class="d-flex flex-row flex-wrap gap-1 mt-1">
                            <div *ngFor="let tag of item.tags">
                              <span
                                class="text-capitalize me-2 tag-item"
                                [ngClass]="{nonBack: !tag.bgColor}"
                                [ngStyle]="{background: tag.bgColor}"
                              >
                                <span>{{ tag.name }}</span>
                              </span>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'taskChains'">
                        <td class="column-action-chain">
                          <div class="list-chain d-flex flex-column gap-2">
                            <ng-container *ngIf="item?.taskChains?.length">
                              <div
                                *ngFor="let taskChain of item?.taskChains"
                                class="chain-item"
                                [class.item-lock]="
                                  taskChain.status === ETaskChainType.CLOSED
                                "
                              >
                                <div class="lock" tooltipHtml="Chuỗi đã đóng">
                                  <img
                                    src="./assets/images/icon/grey-lock.svg"
                                    alt=""
                                  />
                                </div>
                                <div>
                                  <span class="fw-500">
                                    {{ taskChain?.name || '-' }}
                                  </span>
                                </div>
                                <div class="list-act">
                                  <div
                                    *ngFor="
                                      let taskChainResult of taskChain?.taskChainResults;
                                      let resultIndex = index
                                    "
                                    class="list-act-item"
                                  >
                                    <span>#{{ resultIndex + 1 }}</span>
                                    <span>
                                      -
                                      <span
                                        *ngIf="!!taskChainResult?.executedDate"
                                        class="completed"
                                      >
                                        <i class="fa-solid fa-check"></i>
                                      </span>
                                      <span
                                        *ngIf="
                                          !taskChainResult?.executedDate &&
                                          taskChainResult?.deadlineDate
                                        "
                                      >
                                        <ng-container
                                          [ngTemplateOutlet]="timeLeft"
                                          [ngTemplateOutletContext]="{
                                            dataTimeLeft: calculateTimeLeft(
                                              taskChainResult.deadlineDate,
                                              taskChain
                                            )
                                          }"
                                        ></ng-container>
                                        <ng-template
                                          #timeLeft
                                          let-dataTimeLeft="dataTimeLeft"
                                        >
                                          <span
                                            class="{{
                                              dataTimeLeft?.typeOverDeadline
                                            }}"
                                          >
                                            <ng-container
                                              [ngSwitch]="
                                                dataTimeLeft?.typeOverDeadline
                                              "
                                            >
                                              <span *ngSwitchCase="'over'">
                                                <i
                                                  class="fa-solid fa-triangle-exclamation"
                                                  style="color: #ef6a6a"
                                                ></i>
                                              </span>
                                              <span *ngSwitchCase="'notOver'">
                                                <i
                                                  class="fa-solid fa-stopwatch"
                                                  style="color: #4277ff"
                                                ></i>
                                              </span>
                                              <span *ngSwitchCase="'now'">
                                                Ngay lập tức
                                              </span>
                                            </ng-container>
                                            <span
                                              *ngIf="
                                                dataTimeLeft.typeOverDeadline !==
                                                'now'
                                              "
                                            >
                                              {{ dataTimeLeft.timeLeft }}
                                            </span>
                                          </span>
                                        </ng-template>
                                      </span>
                                      -
                                    </span>
                                    <span>
                                      <ng-container
                                        [ngSwitch]="
                                          taskChainResult?.action?.name
                                        "
                                      >
                                        <span
                                          *ngSwitchCase="
                                            'Call block automation'
                                          "
                                        >
                                          Gọi Block Automation
                                        </span>
                                        <span *ngSwitchCase="'Close chain'">
                                          Đóng chuỗi
                                        </span>
                                        <span *ngSwitchDefault>
                                          {{ taskChainResult?.action?.name }}
                                        </span>
                                      </ng-container>
                                    </span>
                                    <span
                                      *ngIf="!!taskChainResult.result?.name"
                                    >
                                      -
                                      {{ taskChainResult?.result?.name || '-' }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="!item?.taskChains?.length">
                              -
                            </ng-container>
                          </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'leadDeal'">
                        <td>
                          <div class="d-flex flex-column" *ngIf="item.leadDeal">
                            <span
                              class="fw-500 text-link"
                              (click)="handleViewCustomer(item)"
                            >
                              {{ item.leadDeal?.name || '-' }}
                            </span>
                            <span *ngIf="item.leadDeal?.phone">
                              {{ item.leadDeal?.phone || '-' }}
                            </span>
                            <span *ngIf="item.leadDeal?.address">
                              {{ item.leadDeal?.address || '-' }}
                            </span>
                          </div>
                          <div class="d-flex flex-row flex-wrap gap-1">
                            <div *ngFor="let tag of item.leadDeal?.tags">
                              <span
                                class="text-capitalize me-2 tag-item"
                                [ngClass]="{nonBack: !tag.bgColor}"
                                [ngStyle]="{background: tag.bgColor}"
                              >
                                <span>{{ tag.name }}</span>
                              </span>
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'cart'">
                        <td class="column-interested-product">
                          <div class="list-product">
                            <ng-container
                              *ngFor="let product of item.cart?.products"
                            >
                              <ng-container
                                [ngTemplateOutlet]="templateProductItem"
                                [ngTemplateOutletContext]="{
                                  product: product,
                                  type: 'Sản phẩm'
                                }"
                              ></ng-container>
                            </ng-container>
                            <!-- <ng-container *ngFor="let product of item.cart?.combos">
                              <ng-container [ngTemplateOutlet]="templateProductItem" [ngTemplateOutletContext]="{
                                product: product,
                                type: 'Combo'
                              }"></ng-container>
                            </ng-container>
                            <ng-container *ngFor="let product of item.cart?.courseEvents">
                              <ng-container [ngTemplateOutlet]="templateProductItem" [ngTemplateOutletContext]="{
                                product: product,
                                type: 'Khóa học - Sự kiện'
                              }"></ng-container>
                            </ng-container>
                            <ng-container *ngFor="let product of item.cart?.beautyServices">
                              <ng-container [ngTemplateOutlet]="templateProductItem" [ngTemplateOutletContext]="{
                                product: product,
                                type: 'Dịch vụ làm đẹp'
                              }"></ng-container>
                            </ng-container>
                            <ng-container *ngFor="let product of item.cart?.prepaidCards">
                              <ng-container [ngTemplateOutlet]="templateProductItem" [ngTemplateOutletContext]="{
                                product: product,
                                type: 'Thẻ trả trước'
                              }"></ng-container>
                            </ng-container> -->
                            <ng-template
                              #templateProductItem
                              let-product="product"
                              let-type="type"
                            >
                              <div
                                tooltip="{{ product.name }}: {{
                                  product.quantity
                                }} x {{ product.price | currency: 'VND' }}"
                                placement="top"
                                class="product-item d-flex align-items-center"
                              >
                                <img
                                  src="{{
                                    product?.picture ||
                                      'assets/images/default-product.png'
                                  }}"
                                  fallback="assets/images/avatar.svg"
                                  class="product-item-image me-2"
                                />
                                <div class="product-item-name">
                                  {{ product.name || '-' }}
                                </div>
                              </div>
                            </ng-template>
                          </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'orderIds'">
                        <td>
                          <div
                            class="d-flex flex-column"
                            *ngIf="item.orderIds"
                            (click)="handleViewCreatedOrder(item)"
                          >
                            <span class="fw-500 text-nowrap text-link px-2">
                              {{ item.orderIds?.length }} đơn hàng
                            </span>
                          </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'teams'">
                        <td>
                          <ng-container *ngFor="let team of item.teams">
                            <div class="d-flex my-2" *ngIf="team.userId">
                              <img
                                src="{{ team.userPicture }}"
                                fallback="assets/images/avatar.svg"
                                class="avatar me-2"
                              />
                              <div class="d-flex flex-column">
                                <span class="fw-500">
                                  {{ team.userName }}
                                </span>
                                <span>{{ team.userEmail }}</span>
                                <span class="fw-normal fs-7">
                                  <i
                                    class="fa-solid"
                                    [ngClass]="team.roleIcon"
                                  ></i>
                                  {{ team.roleName }}
                                </span>
                              </div>
                            </div>
                          </ng-container>
                          <div *ngIf="!item.teams?.length">-</div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'createdAt'">
                        <td>
                          {{ item.createdAt | timeView }}
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'updatedAt'">
                        <td>
                          {{ item.updatedAt | timeView }}
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'updatedBy'">
                        <td>
                          <div
                            class="d-flex justify-content-start align-items-center"
                          >
                            <img
                              *ngIf="item.updatedBy?.picture"
                              width="25"
                              height="25"
                              class="rounded-pill cover-fill"
                              [src]="item.updatedBy?.picture"
                              alt=""
                            />
                            <div class="ms-2 text-secondary name">
                              {{ item.updatedBy?.name }}
                            </div>
                          </div>
                        </td>
                      </ng-container>
                      <ng-container *ngSwitchCase="'createdBy'">
                        <td>
                          <div
                            class="d-flex justify-content-start align-items-center"
                          >
                            <img
                              *ngIf="item.createdBy?.picture"
                              width="25"
                              height="25"
                              class="rounded-pill cover-fill"
                              [src]="item.createdBy?.picture"
                              alt=""
                            />
                            <div class="ms-2 text-secondary name">
                              {{ item.createdBy?.name }}
                            </div>
                          </div>
                        </td>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <td class="columns-action">
                    <div class="d-flex">
                      @if (permission.edit) {
                        <span
                          (click)="handleUpdate(item)"
                          class="d-flex align-items-center btn-action-table"
                        >
                          <img src="./assets/images/icon/edit.svg" alt="" />
                        </span>
                        <span
                          (click)="handleCopy(item)"
                          class="d-flex align-items-center btn-action-table"
                        >
                          <img src="./assets/images/icon/copy.svg" alt="" />
                        </span>
                      }

                      @if (permission.delete) {
                        <span
                          (click)="handleDeleteAction(item)"
                          class="d-flex align-items-center btn-action-table"
                        >
                          <img src="./assets/images/icon/remove.svg" alt="" />
                        </span>
                      }
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <custom-pagination
          [selectedSize]="item.paramsQuery.limit"
          [currentPage]="item.paramsQuery.page"
          (changePageEvent)="pageChanged($event)"
          [total]="item.total"
        ></custom-pagination>
      </div>
    </div>
  </div>
</div>
