<div class="dashboard-site">
  <div class="card">
    <div class="card-body">
      <div
        style="height: 85vh"
        class="d-flex justify-content-center align-items-center flex-column"
      >
        <img
          class="mb-2"
          width="300"
          src="https://media4.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif?cid=ecf05e471slat08wgjch1r1a5va9fkj9la84un3mtm4llpql&ep=v1_gifs_search&rid=giphy.gif&ct=g"
        />
        <p><a href="https://giphy.com/gifs/toXKzaJP3WIgM"></a></p>
        <h5 class="fw-bold">Feature is being developed !!!!!</h5>
        <p>
          By:
          <b>Loki</b>
          from
          <b>Smax Dev team</b>
        </p>
      </div>
    </div>
  </div>
</div>
