@use 'src/app/styles/variable' as vars;
@use 'src/app/styles/mixins' as mixins;

.dashboard-site {
  padding: 16px;
}

.table-responsive {
  @include mixins.calculateSize('max-height', '100vh', '248px');
}

.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.column-action-chain {
  .list-chain {
    .chain-item {
      border: 1px solid vars.$secondary-500;
      padding: 8px;
      border-radius: vars.$radius-l;
      position: relative;

      .lock {
        display: none;
      }
      &.item-lock {
        background-color: vars.$gray-200;
        .lock {
          display: block;
          position: absolute;
          top: 2px;
          right: 2px;
        }
      }
      .list-act {
        .list-act-item {
          .processing {
            color: vars.$orange-500;
          }
          .completed {
            color: vars.$green-500;
          }
          .over {
            color: vars.$red-500;
          }
          .notOver,
          .now {
            color: vars.$secondary-500;
          }
        }
      }
    }
  }
}

.column-interested-product {
  width: 15%;
  .list-product {
    .product-item {
      .product-item-image {
        width: 22px;
        height: 22px;
        border-radius: vars.$radius-s;
        object-fit: cover;
      }
      .product-item-name {
        @include mixins.limit-text-row(1);
      }
      & + .product-item {
        margin-top: 5px;
      }
    }
  }
}
