@use 'src/app/styles/variable' as vars;
.button-filter-top {
  img {
    max-width: 16px;
    max-height: 16px;
  }
  img.activeIcon {
    display: none;
  }
  img.icon {
    display: block;
  }
  &:hover {
    img.icon {
      display: none;
    }
    img.activeIcon {
      display: block !important;
    }
  }
}
.custom-popover-tab .popover-body {
  width: 500px;
}

.filter-btn {
  font-size: 12px;
  color: vars.$neutral;
  border: 1px solid vars.$neutral !important;
  &:hover {
    opacity: 0.8;
  }
}

.icon-close {
  color: vars.$neutral;
  padding: 5px;
  border-radius: 4px;
  background: transparent;
  &:hover {
    background: vars.$neutral;
    color: vars.$white;
  }
}

.dropdown-menu {
  padding: 8px 0;
}

.dropdown-item {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
}
