<div
  class="filter-top-table d-flex flex-wrap align-items-center justify-content-end gap-2"
>
  <div class="left d-flex flex-wrap align-items-center gap-2">
    @for (filter of configFilterBasic; track $index) {
      @switch (filter.type) {
        @case (ETypeFilter.SEARCH) {
          <custom-input-search
            [className]="'input-medium'"
            (searchEvent)="onSearchValue($event, filter.name)"
            [placeholder]="filter.placeholder || 'Search...'"
            [isCollapsible]="true"
          ></custom-input-search>
        }
        @case (ETypeFilter.DATE) {
          <custom-date-picker
            [className]="'input-medium'"
            [typePicker]="filter.subType"
            (changeDateEmmit)="onPickerDate($event, filter.name)"
            [placeholder]="filter.placeholder || 'Picker Date'"
            [showClearButton]="true"
          ></custom-date-picker>
        }
        @case (ETypeFilter.SELECT) {
          <custom-select-search
            [value]="filter?.value"
            [minWidth]="filter?.minWidth"
            [className]="''"
            [selectData]="filter"
            (selectEvent)="onSelectValue($event, filter.name)"
            (scrollToEndEvent)="scrollToEndEvent.emit(filter.name)"
          ></custom-select-search>
        }
        @case (ETypeFilter.POPOVER) {
          <button
            class="btn btn-light border text-secondary"
            type="button"
            (click)="handleOpenPopover()"
            [popover]="popoverTemplate"
            [outsideClick]="true"
            [placement]="'bottom left'"
            containerClass="custom-popover-dropdown"
          >
            <i class="fa-solid fa-sort-amount-desc"></i>
            <!-- Sắp xếp -->
            {{ filter.value ? getDefaultValuePopover(filter.name) : '' }}
          </button>
          <ng-template #popoverTemplate>
            <div class="popover-tab">
              @for (option of filter.options; track $index) {
                <div
                  class="row align-items-center"
                  (click)="onPopoverValue(option['value'], filter.name)"
                >
                  <div
                    class="col-12 tab-item"
                    [class.active]="filter.value === option['value']"
                  >
                    {{ option['label'] || option['name'] }}
                  </div>
                </div>
              }
            </div>
          </ng-template>
        }
      }
    }
    <!-- @if (configFilterAdvance.length) { -->
    <button
      class="btn btn-light border text-secondary"
      type="button"
      (click)="handleOpenPopover()"
      [popover]="popTemplate"
      [outsideClick]="false"
      [placement]="'auto'"
      #popFilter="bs-popover"
      containerClass="filter-advance-popover-tab custom-popover-tab"
      [tooltip]="'Bộ lọc'"
    >
      <i class="fa-solid fa-sliders"></i>
      <!-- Bộ lọc -->
      @if (onSearchingAdvance.length) {
        <span class="ms-1 bg-danger px-1 rounded-circle text-white fw-500 fs-7">
          {{ onSearchingAdvance.length }}
        </span>
      }
    </button>
    <ng-template #popTemplate>
      <div class="popover-tab">
        <div class="row align-items-center my-2">
          <div class="fw-500 col-10">
            <i class="fa-solid fa-question-circle me-2"></i>
            Lọc những bản ghi đáp ứng
            <span class="fw-bold">TẤT CẢ</span>
            các điều kiện bên dưới
          </div>
          <div class="col-2 d-flex justify-content-end">
            <button class="border-0 bg-light" (click)="popFilter.hide()">
              <i class="fa-solid fa-times fa-xl"></i>
            </button>
          </div>
        </div>
        @for (cdt of cdtList; track $index) {
          <div class="row align-items-center my-2">
            <div class="fw-500 col-4">
              <ng-select
                [items]="configFilterAdvance | filterData: getUsedConditionKeys : ['name']"
                bindLabel="placeholder"
                bindValue="name"
                placeholder="Chọn điều kiện lọc"
                [tooltip]="getCdtLabel(cdt.key)"
                [clearable]="false"
                [(ngModel)]="cdt.key"
              >
              <ng-template ng-label-tmp let-item="item">
                {{ getCdtLabel(item.name) }}
              </ng-template>
              </ng-select>
            </div>

            <div class="col-8 p-0 row align-items-center">
              <div class="col-11">
                @for (filter of configFilterAdvance; track $index) {
                  @if (filter.name === cdt.key) {
                    @switch (filter.type) {
                      @case (ETypeFilter.SEARCH) {
                        <input
                          type="text"
                          class="form-control input-medium"
                          [placeholder]="filter.placeholder || 'Search...'"
                          [(ngModel)]="cdt.value"
                        />
                      }
                      @case (ETypeFilter.SELECT) {
                        <custom-select-search
                          [value]="filter?.value"
                          [minWidth]="filter?.minWidth"
                          [className]="''"
                          [selectData]="filter"
                          (selectEvent)="cdt.value = $event"
                          (scrollToEndEvent)="
                            scrollToEndEvent.emit(filter.name)
                          "
                          (click)="loadData(filter)"
                        ></custom-select-search>
                      }
                      @case (ETypeFilter.DATE) {
                        <custom-date-picker
                          [className]="'input-medium'"
                          [typePicker]="filter.subType"
                          [defaultRangeValue]="filter.value"
                          (changeDateEmmit)="onPickerDateAdvance($event, cdt)"
                          [placeholder]="filter.placeholder || 'Picker Date'"
                          [showClearButton]="true"
                        ></custom-date-picker>
                      }
                      @case (ETypeFilter.ACTION_RESULT) {
                        <div class="d-flex gap-2">
                          <div class="flex-fill">
                            <ng-select
                              [items]="actions.rows"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Chọn hành động"
                              [clearable]="true"
                              class="ng-select-custom"
                              style="height: 36px; max-width: 150px"
                              (click)="clickLoadData('actions')"
                              [loading]="actions.loading"
                              (ngModelChange)="
                                onChangeValueActionResult(
                                  cdt,
                                  'actionId',
                                  $event
                                )
                              "
                              [ngModel]="getActionResultValue(cdt, 'actionId')"
                              [ngClass]="{
                                'is-invalid': !getActionResultValue(
                                  cdt,
                                  'actionId'
                                )
                              }"
                            ></ng-select>
                          </div>
                          <div class="flex-fill">
                            <ng-select
                              [items]="results.rows"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Chọn kết quả"
                              [clearable]="true"
                              class="ng-select-custom"
                              style="height: 36px; max-width: 150px"
                              (click)="clickLoadData('results')"
                              [loading]="results.loading"
                              (ngModelChange)="
                                onChangeValueActionResult(
                                  cdt,
                                  'resultId',
                                  $event
                                )
                              "
                              [ngModel]="getActionResultValue(cdt, 'resultId')"
                              [ngClass]="{
                                'is-invalid': !getActionResultValue(
                                  cdt,
                                  'resultId'
                                )
                              }"
                            ></ng-select>
                          </div>
                          <div class="flex-fill">
                            <ng-select
                              [items]="[
                                {id: 'IN', name: 'Trong chuỗi'},
                                {id: 'LAST', name: 'Cuối chuỗi'}
                              ]"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Loại kết quả"
                              [clearable]="true"
                              class="ng-select-custom"
                              style="height: 36px; max-width: 150px"
                              (ngModelChange)="
                                onChangeValueActionResult(cdt, 'type', $event)
                              "
                              [ngModel]="getActionResultValue(cdt, 'type')"
                              [ngClass]="{
                                'is-invalid': !getActionResultValue(cdt, 'type')
                              }"
                            ></ng-select>
                          </div>
                        </div>
                      }
                    }
                  }
                }
              </div>
              <div
                class="col-1 d-flex justify-content-center cursor-pointer icon-close"
                (click)="removeFilterCondition(cdt.key)"
              >
                <div class="fas fa-times"></div>
              </div>
            </div>
          </div>
        }

        <div class="d-flex justify-content-between mt-3">
          <button class="btn filter-btn border" (click)="addFilterCondition()">
            <i class="fa-solid fa-plus me-1"></i>
            Thêm điều kiện
          </button>

          <div class="d-flex gap-2">
            <button
              class="btn filter-btn border text-danger"
              (click)="reset()"
            >
              <i class="fa-solid fa-rotate me-1"></i>
              Đặt lại
            </button>
            <button class="btn filter-btn border" (click)="popFilter.hide()">
              Huỷ
            </button>
            <button class="btn btn-primary filter-btn" (click)="handleApply()">
              Áp dụng
            </button>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- } -->
  </div>
  <div class="right d-flex flex-wrap align-items-center gap-2">
    @for (filter of configButtons; track $index) {
      @switch (filter.type) {
        @case (ETypeButton.TOGGLE) {
          <div class="form-check form-switch mb-0">
            <input
              (change)="handleToggleAction($event, filter.name)"
              checked="{{ filter.value ? 'checked' : null }}"
              class="form-check-input"
              type="checkbox"
              role="switch"
              name="{{ filter.name }}"
            />
            <label [for]="filter.name">
              {{ filter.label }}
            </label>
          </div>
        }
        @default {
          <button
            type="button"
            class="btn button-medium {{
              filter.className
            }} center-item button-filter-top"
            [ngClass]="{
              'button-fill secondary-color':
                filter.type === ETypeButton.PRIMARY,
              'button-outline': filter.type === ETypeButton.DEFAULT,
              'button-sub-primary  secondary-color2':
                filter.type === ETypeButton.SUB_PRIMARY
            }"
            (click)="onClick(filter.name || 'button')"
            [disabled]="filter.disabled"
            [tooltip]="filter.tooltip"
            [ngStyle]="{
              'background-color': filter.isActive ? '#f18658' : null
            }"
          >
            @if (!filter.loading) {
              @if (filter.icon || filter.activeIcon) {
                <img
                  src="{{ filter.activeIcon ?? filter.icon }}"
                  alt=""
                  class="activeIcon"
                  [ngClass]="{'me-1': !!filter.label}"
                />
              }
              @if (filter.icon) {
                <img
                  src="{{ filter.icon }}"
                  alt=""
                  class="icon"
                  [ngClass]="{'me-1': !!filter.label}"
                />
              }
            } @else {
              <i
                class="fas fa-spinner fa-spin me-1-2"
                [ngClass]="{'me-1': !!filter.label}"
              ></i>
            }
            {{ filter.label }}
          </button>
        }
      }
    }
  </div>
</div>
