<div class="modal-assign-counselor">
  <form [formGroup]="form">
    <app-custom-modal (hideModal)="hideModal()">
      <ng-container modalTitle>Gán nhân viên phụ trách</ng-container>
      <ng-container modalBody>
        <div class="mb-2">
          <ng-select [items]="biz.users" formControlName="counselorId" appearance="outline" appendTo=".modal"
            bindLabel="name" bindValue="id" placeholder="Vui lòng chọn 1 nhân viên phụ trách" [multiple]="false">
            <ng-template ng-option-tmp ng-label-tmp let-item="item">
              <div class="d-flex align-items-center gap-3">
                <div>
                  <img width="30" height="30" class="rounded-pill" [src]="item.picture" alt="">
                </div>
                <div>
                  <div class="fw-bold">
                    {{item.name}}
                  </div>
                  <div class="fs-7">
                    {{item.email}}
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </ng-container>
      <div modalFooter class="d-flex justify-content-end align-items-center gap-2" id="footer-modal-assign-counselor">
        <button (click)="hideModal()" class="btn button-default-modal" type="button">
          Hủy
        </button>
        <button (click)="onSubmit()" [disabled]="!form.valid" class="btn btn-primary text-white" type="button">
          Lưu
        </button>
      </div>
    </app-custom-modal>
  </form>
</div>