@import 'src/app/styles/variable';

.custom-change-page {
  button {
    width: 40px;
    height: 40px;
    background: #e7e9ef;
    border-radius: 50%;

    &:hover {
      color: #fff;
      background-color: $neutral;
    }
  }
  .disabled {
    cursor: not-allowed;
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}
