<ng-template #template>
  <div class="custom-modal-confirm">
    <div class="modal-header">
      <h5 class="modal-title pull-left">Xác nhận</h5>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="hideModal()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>
        <span [ngSwitch]="modalContent.type">
          <i
            *ngSwitchCase="'warning'"
            class="fas fa-exclamation-triangle"
            style="color: #df3434;"
          ></i>
          <i
            *ngSwitchCase="'info'"
            class="fas fa-info-circle"
            style="color: #5288e5;"
          ></i>
          <i
            *ngSwitchDefault
            class="fas fa-info-circle"
            style="color: #5288e5;"
          ></i>
        </span>
        {{ modalContent.description }}
      </p>
      <button
        type="button"
        class="btn btn-primary button-confirm"
        [ngClass]="modalContent.type || 'info'"
        (click)="confirm()"
      >
        {{ modalContent.okText }}
      </button>
      <button type="button" class="btn btn-default" (click)="decline()">
        {{ modalContent.cancelText }}
      </button>
    </div>
  </div>
</ng-template>