<app-header class="header">
  <div class="left d-flex flex-wrap">
    <app-input-checkbox
      [value]="checkbox.branchIds"
      [listItemSelect]="checkbox.listBranches"
      [enableRemove]="false"
      [isSelectAll]="true"
      [isValidPermissionCheckbox]="true"
      tooltipText="Chi nhánh"
      tooltipPlacement="right"
      customClass="h-sm"
      class="me-2 input-checkbox"
      placeholder="Chi nhánh"
      [enableSearch]="false"
      (onChange)="changeBranch({branchIds: $event})"
      [templateValue]="tempBranchValue"
      [icon]="checkbox.branchIcon"
    ></app-input-checkbox>
    <ng-template #tempBranchValue let-model="item">
      {{ checkbox.branchDisplayInputText }}
    </ng-template>
    <app-input-checkbox
      [value]="checkbox.roleIds"
      [listItemSelect]="checkbox.listRoles"
      [enableRemove]="false"
      tooltipText="Vai trò"
      tooltipPlacement="right"
      customClass="h-sm"
      class="me-2 input-checkbox"
      placeholder="Vai trò"
      [enableSearch]="false"
      (onChange)="changeRole($event)"
      [icon]="checkbox.roleIcon"
    ></app-input-checkbox>
    <app-input-checkbox
      [value]="checkbox.userIds"
      [listItemSelect]="checkbox.listUsers"
      [enableRemove]="false"
      [enableSearch]="checkbox.listUsers?.length > 10"
      tooltipText="Thành viên"
      tooltipPlacement="right"
      customClass="h-sm"
      class="me-2 input-checkbox"
      placeholder="Thành viên"
      (onChange)="changeUser($event)"
      [icon]="checkbox.userIcon"
    ></app-input-checkbox>
  </div>

  <div class="right">
    <ul class="nav flex-nowrap align-items-center">
      <div class="d-flex align-items-center">
        <ul
          class="d-flex align-items-center flex-wrap gap-2"
          style="list-style: none"
        >
          <li>
            <custom-input-search
              [className]="'input-medium'"
              (searchEvent)="onSearch({term: $event, name: 'search'})"
              [placeholder]="'Tìm kiếm...'"
              [isCollapsible]="false"
            ></custom-input-search>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</app-header>

<div class="dashboard-site">
  <div class="lead-sidebar">
    <div class="search-box">
      <custom-input-search
        [className]="'input-medium'"
        (searchEvent)="onSearch({term: $event, name: 'search'})"
        [placeholder]="'Tìm kiếm...'"
        [isCollapsible]="false"
      ></custom-input-search>

      <div
        class="btn-group cursor-pointer btn-dropdown"
        dropdown
        placement="bottom right"
        dropdownToggle
      >
        <div class="button-icon-wrapper" id="button-alignment">
          <button class="button-icon bg-neutral">
            <img src="./assets/images/icon/plus.svg" alt="" />
          </button>
        </div>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right"
          role="menu"
        >
          <li role="menuitem" (click)="handleAddFolder()">
            <div href="#" class="dropdown-item cursor-pointer">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="./assets/icons/icon-lead/folder.svg"
                  alt=""
                  width="24"
                  height="24"
                />
                <div class="folder-name">Thêm Folder</div>
              </div>
            </div>
          </li>

          <li role="menuitem" (click)="handleAddFolder()">
            <div href="#" class="dropdown-item cursor-pointer">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="./assets/icons/icon-lead/folder.svg"
                  alt=""
                  width="24"
                  height="24"
                />
                <div class="folder-name">Thêm Nhóm Phễu</div>
              </div>
            </div>
          </li>

          <li role="menuitem" (click)="handleAddFolder()">
            <div href="#" class="dropdown-item cursor-pointer">
              <div class="d-flex align-items-center gap-2">
                <img
                  src="./assets/icons/icon-lead/folder.svg"
                  alt=""
                  width="24"
                  height="24"
                />
                <div class="folder-name">Thêm Phễu</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="list-folder custom-scrollbar">
      <ng-container>
        <div class="folder">
          <div class="d-flex align-items-center gap-2">
            <img
              src="./assets/icons/icon-lead/folder.svg"
              width="24"
              height="24"
            />
            <div class="folder-name">Lead Lạnh</div>
          </div>

          <div class="d-flex align-items-center gap-2">
            <img
              src="./assets/icons/icon-lead/on-top.svg"
              alt=""
              width="16"
              height="16"
              class="cursor-pointer"
            />
            <img
              src="./assets/icons/icon-lead/clone.svg"
              alt=""
              width="16"
              height="16"
              class="cursor-pointer"
            />
            <img
              src="./assets/icons/icon-lead/trash.svg"
              alt=""
              width="16"
              height="16"
              class="cursor-pointer"
            />
          </div>
        </div>

        <div class="group-folder" (click)="toggleGroupFolder()">
          <div class="d-flex align-items-center gap-2">
            <img
              src="./assets/icons/icon-lead/arrow-right.svg"
              width="24"
              height="24"
              [class.rotated]="isGroupFolderExpanded"
              class="dropdown-icon"
            />
            <div class="folder-name">Nhóm Folder</div>
          </div>

          <div class="text-neutral">12</div>
        </div>

        <ng-container *ngIf="isGroupFolderExpanded">
          <div class="item-folder">
            <div class="d-flex align-items-center gap-2">
              <img
                src="./assets/icons/icon-lead/funnel-disable.svg"
                width="24"
                height="24"
              />
              <div class="folder-name fw-400">Phễu 1</div>
            </div>
          </div>

          <div class="item-folder">
            <div class="d-flex align-items-center gap-2">
              <img
                src="./assets/icons/icon-lead/funnel-disable.svg"
                width="24"
                height="24"
              />
              <div class="folder-name fw-400">Phễu 2</div>
            </div>
          </div>

          <div class="item-folder">
            <div class="d-flex align-items-center gap-2">
              <img
                src="./assets/icons/icon-lead/funnel-disable.svg"
                width="24"
                height="24"
              />
              <div class="folder-name fw-400">Phễu 3</div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="main-content">
    <!-- View Mode Toggle -->
    <div class="list-btn">
      <div class="d-flex align-items-center gap-2">
        <button
          type="button"
          class="btn center-item button-filter-top button-fill secondary-color"
          (click)="handleAction('add_new')"
        >
          <img src="./assets/icons/add.svg" width="16" height="16" />
          Thêm Lead
        </button>

        <app-filter-advance
          (filterAdvanceEvent)="handleFilterAdvance($event)"
        ></app-filter-advance>

        <div
          class="button-icon-wrapper"
          (click)="handleAction('reload')"
          [tooltip]="'Tải lại'"
        >
          <button class="button-icon bg-neutral">
            <img src="./assets/icons/reset.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center gap-2">
        <div
          class="button-icon-wrapper view-mode-btn"
          [tooltip]="'Chế độ danh sách'"
          (click)="viewMode = 'list'"
          [ngClass]="{active: viewMode === 'list'}"
        >
          <button class="button-icon bg-neutral">
            <i
              class="fa fa-th-list"
              style="width: 16px; height: 16px; color: #fff"
            ></i>
          </button>
        </div>

        <div
          class="button-icon-wrapper view-mode-btn"
          [tooltip]="'Chế độ Kanban'"
          (click)="viewMode = 'kanban'"
          [ngClass]="{active: viewMode === 'kanban'}"
        >
          <button class="button-icon bg-neutral">
            <i
              class="fa fa-columns"
              style="width: 16px; height: 16px; color: #fff"
            ></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Lead Table -->
    <ng-container *ngIf="viewMode === 'list'">
      <div class="card h-100">
        <div class="card-body">
          <div class="table-responsive tableFixHead custom-scrollbar">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    <label class="basic-checkbox standalone">
                      <input
                        type="checkbox"
                        (change)="handleSelectRow({type: 'all', event: $event})"
                        [checked]="isAllChecked()"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </th>
                  <th>Tên</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>Trạng thái Leads</th>
                  <th>Tác vụ</th>
                  <th>Đơn hàng</th>
                  <th>Ngày tạo</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="text-center"
                  *ngIf="!item.rows.length && !item.loading"
                >
                  <td colspan="12">
                    <div>Không có dữ liệu</div>
                  </td>
                </tr>
                <tr class="text-center" *ngIf="item.loading">
                  <td colspan="12">
                    <div class="spinner-grow text-primary" role="status">
                      <span class="visually-hidden">Loading</span>
                    </div>
                    <div>Loading</div>
                  </td>
                </tr>
                <tr *ngFor="let item of item.rows; index as i">
                  <td>
                    <label class="basic-checkbox">
                      <input
                        value="{{ item.id }}"
                        [checked]="isCheckRow(item)"
                        (change)="handleSelectRow({item, event: $event})"
                        (keydown)="isShift = true"
                        (keyup)="isShift = false"
                        type="checkbox"
                      />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center gap-2 cursor-pointer"
                      (click)="openLeadModal(item.id)"
                    >
                      <div class="lead-avatar">
                        <img
                          src="./assets/images/noavatar.png"
                          alt=""
                          width="48"
                          height="48"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="d-flex flex-column gap-1">
                        <div class="lead-name">{{ item.name }}</div>

                        <div class="d-flex flex-row flex-wrap gap-1">
                          <div *ngFor="let tagId of item.tagIds">
                            <span
                              class="text-capitalize tag-item"
                              [ngClass]="{nonBack: !getTagById(tagId)?.bgColor}"
                              [ngStyle]="{
                                background: getTagById(tagId)?.bgColor
                              }"
                            >
                              <span>
                                <i class="fa-solid fa-filter"></i>
                                {{ getTagById(tagId)?.name }}
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="text-primary fw-500">
                      {{ item.phone }}
                    </span>
                  </td>
                  <td>{{ item.email }}</td>
                  <td>
                    <div
                      class="lead-status-badge"
                      [ngStyle]="{
                        background: item.statusId
                          ? statusMap.get(item.statusId)?.bgColor
                          : '#000'
                      }"
                    >
                      {{
                        item.statusId ? statusMap.get(item.statusId)?.name : '-'
                      }}
                    </div>
                  </td>
                  <td>
                    <div *ngFor="let taskCode of item.taskCodes">
                      <span class="text-primary fw-500">
                        {{ taskCode }}
                      </span>
                    </div>
                  </td>
                  <td>
                    <div *ngFor="let orderCode of item.orderCodes">
                      <span class="text-primary fw-500">
                        {{ orderCode }}
                      </span>
                    </div>
                  </td>
                  <td>{{ item.createdAt | timeView }}</td>
                </tr>
              </tbody>
            </table>

            <!-- Pagination -->
            <div class="d-flex justify-content-end">
              <custom-pagination
                [showConfig]="true"
                [selectedSize]="item.paramsQuery.limit"
                [currentPage]="item.paramsQuery.page"
                (changePageEvent)="pageChanged($event)"
                [total]="item.total"
                [optionSize]="[10, 20, 50, 100, 500, 1000]"
                [type]="item.rows.length > 10000 ? 'lazy' : 'number'"
                [maxRecords]="10000"
              />
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Kanban View -->
    <div class="content-kanban" *ngIf="viewMode === 'kanban'">
      <div class="kanban-board" *ngIf="!item.loading">
        <div
          class="kanban-column"
          cdkDropList
          [cdkDropListData]="leadsByStatus.get(status.id) || []"
          [cdkDropListConnectedTo]="getConnectedDropLists()"
          [id]="status.id"
          (cdkDropListDropped)="onDrop($event, status.id)"
          *ngFor="let status of activeStatuses; trackBy: trackByStatusId"
          [style.background-color]="getStatusBgColorWithOpacity(status.bgColor)"
        >
          <div class="kanban-column-header">
            <div class="column-title">
              <span
                class="status-indicator"
                [style.background-color]="status.bgColor"
              ></span>
              <h3>{{ status.name }}</h3>
            </div>
            <span class="lead-count">
              {{ (leadsByStatus.get(status.id) || []).length }}
            </span>
          </div>

          <div class="kanban-column-content">
            <div
              class="kanban-card"
              cdkDrag
              [cdkDragData]="lead"
              *ngFor="
                let lead of leadsByStatus.get(status.id) || [];
                trackBy: trackByLeadId
              "
              (click)="openLeadModal(lead.id)"
            >
              <!-- Custom Drag Placeholder -->
              <div class="kanban-card-placeholder" *cdkDragPlaceholder></div>

              <!-- Custom Drag Preview (giống hệt card bình thường) -->
              <div class="kanban-card kanban-card--dragging" *cdkDragPreview>
                <div class="card-header">
                  <div class="lead-info">
                    <div class="lead-avatar-small">
                      <i *ngIf="!lead.picture" class="fa fa-user"></i>
                      <img
                        *ngIf="lead.picture"
                        [src]="lead.picture"
                        alt="Avatar"
                        class="img-fluid rounded-circle"
                      />
                    </div>
                    <div class="lead-name-code">
                      <div class="lead-name" [title]="lead.name">
                        {{ lead.name }}
                      </div>
                      <div class="lead-code" *ngIf="lead.code">
                        {{ lead.code }}
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row flex-wrap gap-1 mt-2">
                    <div *ngFor="let tagId of lead.tagIds">
                      <span
                        *ngIf="getTagById(tagId) as tag"
                        class="badge text-capitalize"
                        [style.background-color]="tag.bgColor || '#6c757d'"
                      >
                        {{ tag.name }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <div class="card-info-row" *ngIf="lead.phone">
                    <i class="fa fa-phone text-muted"></i>
                    <span class="text-primary">{{ lead.phone }}</span>
                  </div>

                  <div class="card-info-row" *ngIf="lead.email">
                    <i class="fa fa-envelope text-muted"></i>
                    <span class="text-primary text-truncate">
                      {{ lead.email }}
                    </span>
                  </div>

                  <div class="card-info-row" *ngIf="lead.totalPrice">
                    <i class="fa fa-money text-muted"></i>
                    <span class="fw-semibold text-success">
                      {{ formatCurrency(lead.totalPrice) }}
                    </span>
                  </div>
                </div>

                <div class="card-footer">
                  <small class="text-muted">
                    <i class="fa fa-clock-o"></i>
                    {{ formatDate(lead.createdAt) }}
                  </small>
                </div>
              </div>

              <div class="card-header">
                <div class="lead-info">
                  <div class="lead-avatar-small">
                    <i *ngIf="!lead.picture" class="fa fa-user"></i>
                    <img
                      *ngIf="lead.picture"
                      [src]="lead.picture"
                      alt="Avatar"
                      class="img-fluid rounded-circle"
                    />
                  </div>
                  <div class="lead-name-code">
                    <div class="lead-name" [title]="lead.name">
                      {{ lead.name }}
                    </div>
                    <div class="lead-code" *ngIf="lead.code">
                      {{ lead.code }}
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row flex-wrap gap-1 mt-2">
                  <div *ngFor="let tagId of lead.tagIds">
                    <span
                      *ngIf="getTagById(tagId) as tag"
                      class="badge text-capitalize"
                      [style.background-color]="tag.bgColor || '#6c757d'"
                    >
                      {{ tag.name }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="card-info-row" *ngIf="lead.phone">
                  <i class="fa fa-phone text-muted"></i>
                  <a
                    [href]="'tel:' + lead.phone"
                    (click)="$event.stopPropagation()"
                    class="text-primary"
                  >
                    {{ lead.phone }}
                  </a>
                </div>

                <div class="card-info-row" *ngIf="lead.email">
                  <i class="fa fa-envelope text-muted"></i>
                  <a
                    [href]="'mailto:' + lead.email"
                    (click)="$event.stopPropagation()"
                    class="text-primary text-truncate"
                  >
                    {{ lead.email }}
                  </a>
                </div>

                <div class="card-info-row" *ngIf="lead.totalPrice">
                  <i class="fa fa-money text-muted"></i>
                  <span class="fw-semibold text-success">
                    {{ formatCurrency(lead.totalPrice) }}
                  </span>
                </div>
              </div>

              <div class="card-footer">
                <small class="text-muted">
                  <i class="fa fa-clock-o"></i>
                  {{ formatDate(lead.createdAt) }}
                </small>
                <div class="card-actions" (click)="$event.stopPropagation()">
                  <button
                    class="btn btn-sm btn-link"
                    tooltip="Chỉnh sửa"
                    placement="top"
                    container="body"
                    (click)="openLeadModal(lead.id)"
                  >
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-link text-danger"
                    tooltip="Xóa"
                    placement="top"
                    container="body"
                    (click)="handleDeleteMultiple([lead])"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Empty state for column -->
            <div
              class="kanban-column-empty"
              *ngIf="!(leadsByStatus.get(status.id) || []).length"
            >
              <i class="fa fa-inbox"></i>
              <p>Không có lead nào</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Loading state -->
      <div class="kanban-loading" *ngIf="item.loading">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <p>Đang tải...</p>
      </div>
    </div>
  </div>
</div>
