<app-header class="header">
  <div class="left d-flex flex-wrap">
    <app-input-checkbox
      [value]="checkbox.branchIds"
      [listItemSelect]="checkbox.listBranches"
      [enableRemove]="false"
      [isSelectAll]="true"
      [isValidPermissionCheckbox]="true"
      tooltipText="Chi nhánh"
      tooltipPlacement="right"
      customClass="h-sm"
      class="me-2 input-checkbox"
      placeholder="Chi nhánh"
      [enableSearch]="false"
      (onChange)="changeBranch({branchIds: $event})"
      [templateValue]="tempBranchValue"
      [icon]="checkbox.branchIcon"
    ></app-input-checkbox>
    <ng-template #tempBranchValue let-model="item">
      {{ checkbox.branchDisplayInputText }}
    </ng-template>
    <app-input-checkbox
      [value]="checkbox.roleIds"
      [listItemSelect]="checkbox.listRoles"
      [enableRemove]="false"
      tooltipText="Vai trò"
      tooltipPlacement="right"
      customClass="h-sm"
      class="me-2 input-checkbox"
      placeholder="Vai trò"
      [enableSearch]="false"
      (onChange)="changeRole($event)"
      [icon]="checkbox.roleIcon"
    ></app-input-checkbox>
    <app-input-checkbox
      [value]="checkbox.userIds"
      [listItemSelect]="checkbox.listUsers"
      [enableRemove]="false"
      [enableSearch]="checkbox.listUsers?.length > 10"
      tooltipText="Thành viên"
      tooltipPlacement="right"
      customClass="h-sm"
      class="me-2 input-checkbox"
      placeholder="Thành viên"
      (onChange)="changeUser($event)"
      [icon]="checkbox.userIcon"
    ></app-input-checkbox>
  </div>

  <div class="right">
    <ul class="nav flex-nowrap align-items-center">
      <div class="d-flex align-items-center">
        <ul
          class="d-flex align-items-center flex-wrap gap-2"
          style="list-style: none"
        >
          <li>
            <custom-input-search
              [className]="'input-medium ui-v2'"
              (searchEvent)="onSearch({term: $event, name: 'search'})"
              [placeholder]="'Tìm kiếm...'"
              [isCollapsible]="false"
            ></custom-input-search>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</app-header>

<div class="dashboard-site">
  <app-lead-folder-list
    (funnelSelected)="onFunnelSelected($event)"
    (folderReloaded)="onFolderReloaded()"
    [currentFunnel]="currentFunnel$ | async"
  ></app-lead-folder-list>

  <div class="main-content">
    <!-- View Mode Toggle -->
    <div class="list-btn">
      <div class="d-flex align-items-center gap-2">
        <div class="btn-group" dropdown>
          <button
            type="button"
            class="btn center-item button-filter-top button-fill secondary-color"
            (click)="handleAction('add_new')"
          >
            <img
              src="./assets/images/icon-plus-bold.svg"
              width="16"
              height="16"
            />
            Thêm Lead
          </button>

          <button
            type="button"
            class="btn btn-dropdown dropdown-toggle p-2 dropdown-toggle-split button-fill secondary-color"
            dropdownToggle
            aria-haspopup="true"
            aria-expanded="false"
            style="border-left: 1px solid #ffffff15"
          >
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
            role="menu"
          >
            <li role="menuitem" (click)="handleAction('create-bulk')">
              <div href="#" class="dropdown-item cursor-pointer">
                <i class="far fa-edit me-2"></i>
                Thêm hàng loạt
              </div>
            </li>
          </ul>
        </div>

        <app-filter-advanced
          (filterAdvanceEvent)="handleFilterAdvance($event)"
        ></app-filter-advanced>

        <div
          class="button-icon-wrapper"
          (click)="handleAction('reload')"
          [tooltip]="'Tải lại'"
        >
          <button class="button-icon">
            <img src="./assets/icons/reset.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center gap-2">
        <div class="view-mode-switch">
          <button
            type="button"
            class="switch-toggle"
            [ngClass]="{'switch-active': viewMode === 'kanban'}"
            (click)="viewMode = 'kanban'"
            [tooltip]="'Chế độ Kanban'"
          >
            <i class="fa fa-columns"></i>
          </button>
          <button
            type="button"
            class="switch-toggle"
            [ngClass]="{'switch-active': viewMode === 'list'}"
            (click)="viewMode = 'list'"
            [tooltip]="'Chế độ danh sách'"
          >
            <i class="fa fa-th-list"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="view-area">
      <!-- Lead Table -->
      <ng-container *ngIf="viewMode === 'list'">
        <app-lead-list-view
          [currentFunnel]="currentFunnel$ | async"
          [checkbox]="checkbox"
          [item]="item"
        ></app-lead-list-view>
      </ng-container>

      <!-- Kanban View -->
      <ng-container *ngIf="viewMode === 'kanban'">
        <app-lead-kanban-view
          [currentFunnel]="currentFunnel$ | async"
          [checkbox]="checkbox"
          [item]="item"
        ></app-lead-kanban-view>
      </ng-container>
    </div>
  </div>
</div>

@if (isOpenBackDrop) {
  <bs-modal-backdrop class="modal-backdrop fade in show"></bs-modal-backdrop>
}
