<aside class="sidebar">
  @if (!!biz) {
    <smaxapp-logo
      [bizAlias]="biz.alias"
      [currentModule]="biz.module"
      [modules]="biz.user.modules || []"
      [quickModules]="biz.user.quickModules"
      [menuPlacement]="'right'"
    ></smaxapp-logo>
  }
  <div class="sidebar__items mt-1">
    @for (item of sidebars; track $index) {
      <div
        class="item none"
        [ngClass]="{active: item.isActive, disabled: item.disabled}"
      >
        @if (item.children?.length) {
          <div class="item-link" [tooltip]="item.name">
            <img
              [src]="!item.isActive ? item.icon : item.iconActive"
              alt=""
              class="icon"
            />
          </div>
          <div class="item__child">
            @for (child of item.children; track $index) {
              <div class="item">
                <a [routerLink]="child.link" class="item-link">
                  {{ child.name }}
                </a>
              </div>
            }
          </div>
        } @else {
          <a [routerLink]="item.link" class="item-link">
            <img
              [src]="!item.isActive ? item.icon : item.iconActive"
              alt=""
              class="icon"
            />
          </a>
          <span class="tooltip">{{ item.name }}</span>
        }
      </div>
    }
  </div>
</aside>
