.sidebar {
  position: fixed;
  z-index: 1049;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: #1b3da1;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    padding: 9px;
    position: relative;
    margin-bottom: 4px;
    .logo {
      width: 32px;
      height: 32px;
      padding: 2px;
      background: #ffffff;
      border-radius: 10px;
      position: relative;
      .union {
        position: absolute;
        bottom: -4px;
        right: -4px;
        height: 20px;
        width: 20px;
        padding: 4px;
        background: #17234e;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .dropdown-li {
      padding: 0 8px;
    }
    .dropdown-item {
      line-height: 18px;
      padding: 12px 20px 12px 8px;
      border-radius: 8px;
      position: relative;
      &.active {
        font-weight: 600;
        background: #eef0f3;
        color: #212529;
        &::after {
          position: absolute;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.87597 7.18847C3.72685 7.18783 3.58388 7.12896 3.47754 7.02441L0.852538 4.39941C0.746866 4.29374 0.6875 4.15042 0.6875 4.00097C0.6875 3.85153 0.746866 3.70821 0.852538 3.60254C0.95821 3.49687 1.10153 3.4375 1.25098 3.4375C1.40042 3.4375 1.54374 3.49687 1.64941 3.60254L3.87597 5.8291L8.72754 0.977538C8.77986 0.925215 8.84198 0.883709 8.91034 0.855392C8.9787 0.827075 9.05198 0.8125 9.12597 0.8125C9.19997 0.8125 9.27324 0.827075 9.34161 0.855392C9.40997 0.883709 9.47209 0.925215 9.52441 0.977538C9.57673 1.02986 9.61824 1.09198 9.64656 1.16034C9.67487 1.22871 9.68945 1.30198 9.68945 1.37598C9.68945 1.44997 9.67487 1.52324 9.64656 1.59161C9.61824 1.65997 9.57673 1.72209 9.52441 1.77441L4.27441 7.02441C4.16807 7.12896 4.0251 7.18783 3.87597 7.18847Z' fill='%237EC964'/%3E%3C/svg%3E");
          width: 10px;
          height: 10px;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &:hover {
      color: red;
      .dropdown-menu {
        top: 0;
        left: 100%;
        display: block;
        margin: 0;
      }
    }
    &::after {
      position: absolute;
      content: '';
      width: 42px;
      height: 1px;
      background: #253362;
      bottom: 0;
      left: 4px;
    }
  }
  &__items {
    .disabled {
      cursor: not-allowed;
      pointer-events: none;
    }
    margin-top: 20px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .item {
      padding: 0 4px;
      margin-bottom: 9px;
      position: relative;
      > .item-link {
        background-color: transparent;
        border-radius: 8px;
        // padding: 4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        filter: brightness(0.8);
        .icon {
          width: 32px;
          height: 32px;
        }
      }
      &__child {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 150px;
        box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
        background: var(--bs-neutral);
        visibility: hidden;
        opacity: 0;
        display: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        .item {
          margin: 0;
          padding: 0;
          .item-link {
            color: #fff;
            text-decoration: none;
            width: 100%;
            border-radius: unset;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-left: 16px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          top: 20px;
          right: 0;
          left: -10px;
          border: 5px solid transparent;
          border-right-color: white;
        }
      }
      &:hover {
        .item__child {
          display: block;
          opacity: 1;
          visibility: visible;
          animation: len 0.5s forwards;
        }
        > .item-link {
          filter: brightness(1);
          transition: 0.4s all ease;
        }
      }
      &.active {
        > .item-link {
          filter: brightness(1);
          transition: 0.4s all ease;
        }
      }
      .tooltip {
        box-shadow: 0, 5px, 10px, rgba(0, 0, 0, 0.3);
        position: absolute;
        top: -20px;
        left: calc(100% + 5px);
        z-index: 4;
        background: var(--bs-neutral);
        color: var(--bs-white);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        opacity: 0;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
      }

      &:hover .tooltip {
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@keyframes len {
  from {
    transform: rotateY(20deg);
    opacity: 0;
    transform-origin: 100% 100%;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
