<div class="action-tab">
  <app-filter-top-table
    [configFilters]="configFilters"
    [configButtons]="configButtons"
  ></app-filter-top-table>
  <div class="table-responsive tableFixHead custom-scrollbar">
    <table class="table">
      <thead>
        <tr>
          <th>Tên hành động</th>
          <th>Loại hành động</th>
          <th>Ngày tạo</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="text-center"
          *ngIf="!dataSource.rows.length && !dataSource.loading"
        >
          <td colspan="12">
            <div>Không có dữ liệu</div>
          </td>
        </tr>
        <tr class="text-center" *ngIf="dataSource.loading">
          <td colspan="12">
            <div class="spinner-grow text-primary" role="status">
              <span class="visually-hidden">Loading</span>
            </div>
            <div>Loading</div>
          </td>
        </tr>
        <tr *ngFor="let item of dataSource.rows; index as i">
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td class="columns-action">
            <div class="d-flex">
              <span
                (click)="handleUpdate(item)"
                class="d-flex align-items-center btn-action-table"
              >
                <img src="./assets/images/icon/edit.svg" alt="" />
              </span>
              <span
                (click)="handleDelete(item)"
                class="d-flex align-items-center btn-action-table"
              >
                <img src="./assets/images/icon/remove.svg" alt="" />
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="right d-flex justify-content-between mt-3">
    <div class="d-flex align-items-center">
      <span class="text-secondary" style="width: auto">Hiển thị</span>
      <select
        class="form-select border-0 mx-2"
        [(ngModel)]="dataSource.paramsQuery!.limit"
        style="width: 100px"
        (change)="pageChanged({}, $event)"
      >
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
        <option [value]="100">100</option>
      </select>
      <span class="text-secondary">trong tổng số</span>
      <span class="text-secondary mx-1">{{ dataSource.total || 0 }}</span>
      <span class="text-secondary">bản ghi</span>
    </div>
    <pagination
      [boundaryLinks]="true"
      [totalItems]="dataSource.total! || 0"
      [itemsPerPage]="
        (dataSource.paramsQuery?.limit | convertType: 'number') || 10
      "
      [(ngModel)]="dataSource.paramsQuery!.page"
      (pageChanged)="pageChanged($event, null)"
      [rotate]="false"
      [maxSize]="4"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="Trang đầu"
      lastText="Trang cuối"
    ></pagination>
  </div>
</div>
