<div class="histories mt-2 overflow-x-hidden">
  <div class="filter">
    <app-filter-top-table
      [configFilters]="configFilters"
      [configButtons]="configButtons"
      (clickButtonEvent)="handleAction($event)"
      (selectEvent)="onSelectFilter($event)"
      (pickerDateEvent)="onPickerDateFilter($event)"
    ></app-filter-top-table>
  </div>
  <div
    class="table-responsive tableFixHead custom-scrollbar"
    style="min-height: 50vh"
  >
    <table class="table">
      <thead>
        <tr>
          <th>
            Thời gian cập nhật
            <span
              class="caret-wrapper justify-content-center"
              (click)="changeSort('createdAt')"
            >
              <i
                class="fa fa-caret-up asc"
                [ngClass]="{'text-primary': sort.createdAt === 1}"
              ></i>
              <i
                class="fa fa-caret-down desc"
                [ngClass]="{'text-primary': sort.createdAt === -1}"
              ></i>
            </span>
          </th>
          <th>Tab</th>
          <th>Nội dung thay đổi</th>
          <th>Nhân sự thực hiện</th>
        </tr>
      </thead>
      <tbody>
        @if (history.loading) {
          <tr class="text-center">
            <td colspan="12">
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading</span>
              </div>
              <div>Loading</div>
            </td>
          </tr>
        } @else {
          <tr *ngFor="let item of history.rows; index as i">
            <td>
              <div class="fw-normal">
                {{ item.createdAt | timeView }}
              </div>
            </td>
            <td>
              <div>
                <div class="fw-normal">
                  {{ getTabKey(item.tabKey) }}
                </div>
              </div>
            </td>
            <td>
              <div class="content-history">
                <ng-container [ngSwitch]="item.tabKey">
                  <ul *ngSwitchCase="ETabHistoryKey.ORDER_PRODUCT">
                    <li
                      *ngFor="
                        let contentHistory of item.content.orderProduct || []
                      "
                    >
                      {{ getActionContent(contentHistory.key) }}
                      <span class="text-link cursor-text">
                        {{ contentHistory.value }}
                      </span>
                      <div *ngIf="contentHistory.sub?.length" class="ms-4">
                        <ul>
                          <li *ngFor="let sub of contentHistory.sub">
                            {{ getActionContent(sub?.key) }}
                            <span class="text-link cursor-text">
                              {{ sub?.value }}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                  <ul *ngSwitchCase="ETabHistoryKey.NOTE">
                    <li *ngFor="let contentHistory of item.content.note || []">
                      {{ getActionContent(contentHistory.key) }}
                      <span class="text-link cursor-text">
                        {{ contentHistory.value }}
                      </span>
                    </li>
                  </ul>

                  <ul *ngSwitchCase="ETabHistoryKey.INFORMATION">
                    <li
                      *ngFor="
                        let contentHistory of item.content.information || []
                      "
                    >
                      <div class="d-flex align-items-center gap-2">
                        <div>
                          {{ getActionContent(contentHistory.key) }}
                        </div>
                        <div *ngIf="contentHistory.key == CALL_PHONE_ACTION">
                          <audio
                            controls
                            style="height: 35px"
                            *ngIf="contentHistory.value"
                          >
                            <source
                              [src]="contentHistory.value"
                              type="audio/ogg"
                            />
                          </audio>
                          <div *ngIf="!contentHistory.value">
                            ---Không có file ghi âm---
                          </div>
                        </div>
                        <div
                          class="text-link cursor-text"
                          *ngIf="contentHistory.key != CALL_PHONE_ACTION"
                        >
                          {{ contentHistory.value }}
                        </div>
                      </div>
                      <div *ngIf="contentHistory.sub?.length" class="ms-4">
                        <ul>
                          <li *ngFor="let sub of contentHistory.sub">
                            {{ getActionContent(sub?.key) }}
                            <span class="text-link cursor-text">
                              {{ sub?.value }}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </ng-container>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center gap-2">
                <div>
                  <img
                    *ngIf="item.actionBy?.picture"
                    width="30"
                    height="30"
                    class="rounded-pill"
                    [src]="item.actionBy?.picture"
                    alt="avatar"
                  />
                </div>
                <div class="fw-normal">
                  {{ item.actionBy?.name }}
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
