.roles-site {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-columns {
  column-count: 2;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}
.is-invalid {
  i {
    color: inherit;
  }
}