<ng-container>
  <div class="custom-modal modal-default {{ className }}">
    @if (type === 'standard') {
      <div class="modal-header">
        <span class="modal-title pull-left">
          <ng-content select="[modalTitle]"></ng-content>
        </span>
        <div class="d-flex align-items-center">
          <ng-content select="[modalTitleRight]"></ng-content>
          @if (showBtnClose) {
            <button
              (click)="onHideModal()"
              aria-label="Close"
              class="btn btn-close close"
              type="button"
            >
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          }
        </div>
      </div>
    }
    <div class="modal-body" [class.pb-0]="!hideFooter && type === 'standard'">
      <ng-content select="[modalBody]"></ng-content>
      @if (type === 'lack-center') {
        <div
          class="d-flex gap-2 justify-content-center mt-3"
          *ngIf="!hideFooter"
        >
          <button
            [style.min-width]="'100px'"
            (click)="onHideModal()"
            class="btn button-default-modal"
            type="button"
          >
            Hủy
          </button>
          <custom-button-loading
            (action)="!isSubmitting && onSubmit()"
            [isLoading]="isSubmitting"
            [type]="'button'"
            [textButton]="textOk"
            [className]="'button-submit-modal'"
            [style]="{minWidth: '100px'}"
          ></custom-button-loading>
        </div>
      }
    </div>
    @if (!hideFooter && type === 'standard') {
      <div class="modal-footer">
        <div class="w-100 m-0" #modalFooter>
          <ng-content select="[modalFooter]"></ng-content>
        </div>
        <div class="d-flex gap-2" *ngIf="!modalFooter.children.length">
          <button
            (click)="onHideModal()"
            class="btn button-default-modal"
            type="button"
          >
            Hủy
          </button>
          <custom-button-loading
            (action)="!isSubmitting && onSubmit()"
            [isLoading]="isSubmitting"
            [type]="'button'"
            [textButton]="textOk"
            [className]="'button-submit-modal'"
          ></custom-button-loading>
        </div>
      </div>
    }
  </div>
</ng-container>
