<ng-container>
  <div class="custom-modal modal-default {{ className }}">
    <div class="modal-header">
      <span class="modal-title pull-left">
        <ng-content select="[modalTitle]"></ng-content>
      </span>
      <span class="pull-right d-flex align-items-center">
        <ng-content select="[modalTitleRight]"></ng-content>
        <button
          (click)="onHideModal()"
          aria-label="Close"
          class="btn btn-close close"
          type="button"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </span>
    </div>
    <div class="modal-body">
      <ng-content select="[modalBody]"></ng-content>
    </div>
    <div class="modal-footer">
      <div class="w-100" #modalFooter>
        <ng-content select="[modalFooter]"></ng-content>
      </div>
      <div class="d-flex gap-2" *ngIf="!modalFooter.children.length">
        <button
          (click)="onHideModal()"
          class="btn button-default-modal"
          type="button"
        >
          Hủy
        </button>
        <custom-button-loading
          (action)="!isSubmitting && onSubmit()"
          [isLoading]="isSubmitting"
          [type]="'button'"
          [textButton]="textOk"
          [className]="'button-submit-modal'"
        ></custom-button-loading>
      </div>
    </div>
  </div>
</ng-container>
