<form [formGroup]="formGroup">
  <div class="information mt-2 overflow-x-hidden">
    <div style="padding-left: 1px" class="row mt-2">
      <div class="col-6">
        <label class="form-control-label" for="leadDeal.name">
          Tên liên hệ (Deal/Lead)
        </label>
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f['name'].errors
          }"
          [placeholder]="'Nhập Tên...'"
          formControlName="name"
          id="leadDeal.name"
          type="text"
        />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors?.['required']">
            Tên không được bỏ trống
          </div>
          <div *ngIf="f['name'].errors?.['maxlength']">Tên không hợp lệ</div>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.phone">
          Số điện thoại
        </label>
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f['phone'].errors
          }"
          [placeholder]="'Nhập Số điện thoại...'"
          formControlName="phone"
          id="leadDeal.phone"
          type="text"
        />
      </div>
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.email">Email</label>
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && f['email'].errors
          }"
          [placeholder]="'Nhập Email...'"
          formControlName="email"
          id="leadDeal.email"
          type="text"
        />
      </div>
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.gender">
          Giới tính
        </label>
        <div
          id="leadDeal.gender"
          class="d-flex align-items-center gap-4 input-medium"
        >
          <div class="basic-radio">
            <input
              formControlName="gender"
              type="radio"
              name="gender"
              class="check"
              id="male"
              [value]="'male'"
            />
            <label for="male">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Nam</span>
            </label>
          </div>
          <div class="basic-radio">
            <input
              formControlName="gender"
              [value]="'female'"
              type="radio"
              name="gender"
              class="check"
              id="female"
            />
            <label for="female">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Nữ</span>
            </label>
          </div>
          <div class="basic-radio">
            <input
              formControlName="gender"
              [value]="'other'"
              type="radio"
              name="gender"
              class="check"
              id="lead.other"
            />
            <label for="lead.other">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Khác</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.gender">
          Loại khách hàng
          <i
            class="fa-regular fa-circle-question ms-1"
            tooltip="Lead: Khách hàng tiềm năng, có khả năng sẽ mua hàng của doanh nghiệp sau khi được chăm sóc
Deal: Những khách hàng đã mua hàng hoặc khả năng cao là sẽ mua hàng (thường đã được chăm sóc hoặc lên hợp đồng)"
            placement="right"
          ></i>
        </label>
        <div class="d-flex align-items-center gap-4 input-medium">
          <div class="basic-radio">
            <input
              formControlName="type"
              type="radio"
              name="type"
              class="check"
              id="lead"
              [value]="'LEAD'"
            />
            <label for="lead">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Lead</span>
            </label>
          </div>
          <div class="basic-radio">
            <input
              formControlName="type"
              [value]="'DEAL'"
              type="radio"
              name="type"
              class="check"
              id="deal"
            />
            <label for="deal">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Deal</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <label class="form-control-label" for="leadDeal.address">Địa chỉ</label>
      <div id="leadDeal.address" class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <ng-select
            [clearable]="false"
            [ngClass]="{
              'is-invalid': submitted && f['provinceCode'].errors
            }"
            [placeholder]="'Chọn Tỉnh/Thành phố'"
            appearance="outline"
            formControlName="provinceCode"
            id="province"
            labelForId="province"
            (change)="handleChangeLocation($event, 'province')"
            appendTo=".modal"
          >
            <ng-container *ngIf="listProvince.length > 0; else selectNoData">
              <ng-option
                *ngFor="let item of listProvince; index as i"
                [value]="item?.provinceCode"
              >
                {{ item?.province }}
              </ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <ng-select
            [clearable]="false"
            [ngClass]="{
              'input-disabled': !f['provinceCode'].value
            }"
            [disabled]="!f['provinceCode'].value"
            [readonly]="!f['provinceCode'].value"
            [placeholder]="'Chọn Quận/Huyện'"
            appearance="outline"
            formControlName="districtCode"
            id="district"
            labelForId="district"
            (change)="handleChangeLocation($event, 'district')"
            appendTo=".modal"
          >
            <ng-container *ngIf="listDistrict.length > 0; else selectNoData">
              <ng-option
                *ngFor="let item of listDistrict; index as i"
                [value]="item?.districtCode"
              >
                {{ item?.district }}
              </ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <ng-select
            [clearable]="false"
            [ngClass]="{
              'input-disabled': !f['districtCode'].value
            }"
            [disabled]="!f['districtCode'].value"
            [readonly]="!f['districtCode'].value"
            [placeholder]="'Chọn Phường/Xã'"
            class="input-medium"
            appearance="outline"
            formControlName="wardCode"
            id="ward"
            labelForId="ward"
            (change)="handleChangeLocation($event, 'ward')"
            appendTo=".modal"
          >
            <ng-container *ngIf="listWard.length > 0; else selectNoData">
              <ng-option
                *ngFor="let item of listWard; index as i"
                [value]="item?.wardCode"
              >
                {{ item?.ward }}
              </ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f['street'].errors
            }"
            [placeholder]="'Nhập chi tiết (Số nhà, ngách, ngõ, đường)'"
            formControlName="street"
            id="street"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>

  <ng-template #selectNoData>
    <ng-option [value]="null">Không có dữ liệu</ng-option>
  </ng-template>
</form>
