<form
  [formGroup]="formGroup"
  class="custom-form"
  [class.disabled]="!hasUpdateTaskPer"
>
  <div class="information mt-2">
    @if (hasPermitCustomer && hasUpdateTaskPer) {
      <div class="mb-3">
        <app-input-suggest-customer
          id="input-search-customer"
          [uiType]="'search'"
          [inputId]="'input-search-customer'"
          [placeholder]="
            'Tìm kiếm khách trong Biz theo Họ tên, SĐT hoặc Email khách hàng'
          "
          (valueChange)="onChangeInputSuggestCustomer($event)"
          (selectCustomer)="handleChooseCustomer($event)"
        ></app-input-suggest-customer>
      </div>
    }

    @if (selectedCustomer && hasPermitCustomer) {
      <div class="corresponding-customer mt-3">
        <div class="d-flex align-items-center justify-content-between">
          <div class="subhead">
            Bản ghi Khách hàng tương ứng trong hệ thống
            @if (hasUpdateTaskPer) {
              <span
                (click)="handleUpdateCustomer()"
                class="btn-action-table ms-1"
              >
                <img src="./assets/images/icon/edit.svg" alt="" />
              </span>
            }
          </div>
          @if (hasUpdateTaskPer) {
            <div class="d-flex align-items-center gap-2">
              <button
                (click)="handleSyncCustomer()"
                class="btn button-medium button-sub-primary secondary-color d-flex align-items-center justify-content-center border"
                [tooltip]="'Cập nhật thông tin của sang module Khách hàng'"
              >
                <i
                  class="fa-solid fa-arrow-right-arrow-left fa-rotate-90 me-2"
                ></i>
                Cập nhật
              </button>

              <button
                (click)="handleClearSelectedCustomer()"
                class="btn button-medium button-sub-primary red-color"
                type="button"
              >
                Bỏ chọn
                <i class="fa-solid fa-circle-xmark ms-1"></i>
              </button>
            </div>
          }
        </div>
        @if (!loading.customer) {
          <div class="mt-1">
            <div
              class="person-info d-flex justify-content-between align-items-center"
            >
              <div
                class="d-flex justify-content-between align-items-center gap-3"
              >
                <img
                  class="avatar-selected"
                  alt=""
                  fallback="assets/images/avatar.svg"
                  src="{{ selectedCustomer?.picture }}"
                />
                <div>
                  <div class="d-flex gap-3">
                    <span
                      class="account-name fw-500 text-link"
                      (click)="handleViewCustomer(selectedCustomer?.id)"
                    >
                      {{ selectedCustomer?.name }}
                    </span>
                    @if (selectedCustomer?.phone) {
                      <span>
                        <span class="fw-500">SĐT:</span>
                        {{ selectedCustomer?.phone }}
                      </span>
                    }
                    @if (selectedCustomer?.email) {
                      <span>
                        <span class="fw-500">Email:</span>
                        {{ selectedCustomer?.email }}
                      </span>
                    }
                  </div>

                  @if (selectedCustomer?.address) {
                    <div>
                      <span class="fw-500">Địa chỉ:</span>
                      {{ selectedCustomer?.address }}
                    </div>
                  }
                </div>
              </div>
            </div>
            @if (selectedCustomer && !selectTag) {
              <div class="d-flex flex-row flex-wrap gap-2 mt-3">
                @for (tag of selectedCustomer?.tags; track $index) {
                  <span
                    class="tag-item"
                    [ngClass]="{nonBack: !tag.bgColor}"
                    [ngStyle]="{background: tag.bgColor}"
                  >
                    <span>{{ tag.name }}</span>
                  </span>
                }
              </div>
            }
            @if (selectedCustomer?.saleCenter) {
              <div class="mt-3 sale-info">
                <div
                  class="subhead cursor-pointer"
                  (click)="
                    viewBehavior = !viewBehavior; getBehaviorInfoCustomer()
                  "
                >
                  Hành vi mua hàng
                  @if (loading.customer) {
                    <span class="spinner-border spinner-border-sm ms-2"></span>
                  } @else {
                    <i
                      class="ms-1 fa-solid"
                      [style.color]="'#000'"
                      [class]="
                        viewBehavior ? 'fa-chevron-down' : 'fa-chevron-up'
                      "
                    ></i>
                  }
                </div>

                <div
                  class="mt-3 d-flex align-items-start"
                  *ngIf="viewBehavior && !loading.customer"
                >
                  <div
                    class="d-flex flex-column gap-3"
                    style="min-width: 420px"
                  >
                    <span class="fw-500 d-flex align-items-center gap-2">
                      <img
                        class="me-1"
                        src="assets/images/icon-detail/revenue.svg"
                        width="20"
                        height="20"
                      />
                      Tổng doanh thu:
                      <span class="text-danger">
                        {{
                          selectedCustomer?.saleCenter?.moneyCompleted ?? 0
                            | number
                        }}
                        VNĐ
                      </span>
                    </span>

                    <span class="fw-500 d-flex align-items-center gap-2">
                      <img
                        class="me-1"
                        src="assets/images/icon-detail/average-order.svg"
                        width="20"
                        height="20"
                      />
                      Giá trị đơn trung bình :
                      <span class="text-danger">
                        {{ getAverageOrder() | number }}
                        VNĐ
                      </span>
                    </span>

                    <span class="fw-500 d-flex align-items-center gap-2" *ngIf="hasPermitRfm && !loading.getInfoRfm">
                      <img
                        class="me-1"
                        src="assets/images/icon-detail/rfm-group.svg"
                        width="20"
                        height="20"
                      />
                      <ng-container *ngIf="rfmInFo.groupName">
                        Thuộc nhóm RFM:
                        <span class="text-danger">{{ rfmInFo.groupName }}</span>
                        <div class="separate"></div>
                      </ng-container>
                      Điểm RFM:
                      <span class="text-danger">
                        {{ rfmInFo.point ?? 0 | number }}
                      </span>
                    </span>

                    <span
                      class="fw-500 d-flex align-items-center gap-2"
                      *ngIf="selectedCustomer?.loyalty?.rankName"
                    >
                      <img
                        class="me-1"
                        src="assets/images/icon-detail/membership.svg"
                        width="20"
                        height="20"
                      />
                      Hạng thành viên:
                      <span class="text-danger">
                        {{ selectedCustomer?.loyalty?.rankName }}
                      </span>
                    </span>

                    <span
                      class="fw-500 d-flex align-items-center gap-2"
                      *ngIf="
                        selectedCustomer?.saleCenter?.lastCreatedOrder
                          ?.createdAt
                      "
                    >
                      <img
                        class="me-1"
                        src="assets/images/icon-detail/last-purchase.svg"
                        width="20"
                        height="20"
                      />
                      Thời gian mua gần nhất:
                      <span class="text-danger">
                        {{
                          selectedCustomer?.saleCenter?.lastCreatedOrder
                            ?.createdAt | timeView
                        }}
                      </span>
                    </span>
                  </div>

                  <div class="d-flex flex-column gap-3 behavior-order">
                    <div class="d-flex align-items-center gap-2">
                      <span
                        (click)="handleViewOrderType('completed')"
                        class="fw-500 text-success cursor-pointer"
                      >
                        {{
                          selectedCustomer?.saleCenter?.totalOrderCompleted ?? 0
                            | number
                        }}
                        đơn hàng thành công
                        <i
                          class="ms-1 fa-solid"
                          [style.color]="'#000'"
                          [class]="
                            viewOrderType === 'completed'
                              ? 'fa-chevron-down'
                              : 'fa-chevron-up'
                          "
                        ></i>
                      </span>
                      <div class="separate"></div>
                      <span
                        (click)="handleViewOrderType('cancelled')"
                        class="fw-500 text-danger cursor-pointer"
                      >
                        {{
                          selectedCustomer?.saleCenter?.totalOrderRefund ?? 0
                            | number
                        }}
                        đơn đã hoàn
                        <i
                          class="ms-1 fa-solid"
                          [style.color]="'#000'"
                          [class]="
                            viewOrderType === 'cancelled'
                              ? 'fa-chevron-down'
                              : 'fa-chevron-up'
                          "
                        ></i>
                      </span>
                      <div class="separate"></div>
                      <span
                        (click)="handleViewOrderType('trash')"
                        class="fw-500 text-dark cursor-pointer"
                      >
                        {{
                          selectedCustomer?.saleCenter?.totalOrderTrash ?? 0
                            | number
                        }}
                        đơn đã hủy
                        <i
                          class="ms-1 fa-solid"
                          [style.color]="'#000'"
                          [class]="
                            viewOrderType === 'trash'
                              ? 'fa-chevron-down'
                              : 'fa-chevron-up'
                          "
                        ></i>
                      </span>
                    </div>

                    <div class="list-order mt-2">
                      <div
                        class="custom-scrollbar"
                        [style.max-height]="'500px'"
                      >
                        <table class="table transparent">
                          <tbody>
                            @for (order of viewOrCustomerOrders; track $index) {
                              <tr>
                                <td>{{ order?.createdAt | timeView }}</td>
                                <td>
                                  <div
                                    class="fw-500 cursor-pointer text-link"
                                    (click)="handleViewOrder(order?.id)"
                                  >
                                    {{ order?.code || '-' }}
                                  </div>
                                </td>
                                <td
                                  class="d-flex flex-column"
                                  style="max-width: 300px"
                                >
                                  <ng-container *ngFor="let item of order.cart">
                                    <div class="d-flex align-items-center">
                                      <div class="text-truncate">
                                        <span>
                                          {{ item.name }}
                                        </span>
                                      </div>
                                      <div
                                        class="text-secondary"
                                        style="white-space: pre"
                                      >
                                        x{{ item.quantity }}
                                      </div>
                                    </div>
                                  </ng-container>
                                  <ng-container *ngIf="!order.cart?.length">
                                    -
                                  </ng-container>
                                </td>
                                <td class="text-end fw-500 text-danger">
                                  {{ order?.amount ?? 0 | number }} VNĐ
                                </td>
                              </tr>
                            }
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="text-center">
            <div class="spinner-grow text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <div>Loading...</div>
          </div>
        }
      </div>
    }

    <div style="padding-left: 1px" class="row mt-2">
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.name">
          Tên khách hàng
          <span class="required">*</span>
        </label>
        <input
          formControlName="name"
          type="text"
          name="leadDeal.name"
          id="leadDeal.name"
          placeholder="Nhập Tên khách hàng..."
          class="form-control"
          [class]="submitted && f['name'].errors ? 'is-invalid' : ''"
        />
        @if (submitted && f['name'].errors) {
          @if (f['name'].errors?.['required']) {
            <div class="invalid-feedback">Tên không được bỏ trống</div>
          }
          @if (f['name'].errors?.['maxlength']) {
            <div class="invalid-feedback">Tên không hợp lệ</div>
          }
        }
      </div>
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.gender">
          Loại khách hàng
          <i
            class="fa-regular fa-circle-question ms-1"
            [tooltip]="
              'Lead: Khách hàng tiềm năng, có khả năng sẽ mua hàng của doanh nghiệp sau khi được chăm sóc Deal: Những khách hàng đã mua hàng hoặc khả năng cao là sẽ mua hàng (thường đã được chăm sóc hoặc lên hợp đồng)'
            "
            placement="right"
          ></i>
        </label>
        <div class="d-flex align-items-center gap-4 input-medium">
          <div class="basic-radio">
            <input
              formControlName="type"
              type="radio"
              name="type"
              class="check"
              id="lead"
              [value]="'LEAD'"
            />
            <label for="lead">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Lead</span>
            </label>
          </div>
          <div class="basic-radio">
            <input
              formControlName="type"
              [value]="'DEAL'"
              type="radio"
              name="type"
              class="check"
              id="deal"
            />
            <label for="deal">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Deal</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.gender">
          Giới tính
        </label>
        <div
          id="leadDeal.gender"
          class="d-flex align-items-center gap-4 input-medium"
        >
          <div class="basic-radio">
            <input
              formControlName="gender"
              type="radio"
              name="gender"
              class="check"
              id="male"
              [value]="'male'"
            />
            <label for="male">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Nam</span>
            </label>
          </div>
          <div class="basic-radio">
            <input
              formControlName="gender"
              [value]="'female'"
              type="radio"
              name="gender"
              class="check"
              id="female"
            />
            <label for="female">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Nữ</span>
            </label>
          </div>
          <div class="basic-radio">
            <input
              formControlName="gender"
              [value]="'other'"
              type="radio"
              name="gender"
              class="check"
              id="lead.other"
            />
            <label for="lead.other">
              <div class="container">
                <div class="cRadioBtn">
                  <div class="overlay"></div>
                  <div class="drops xsDrop"></div>
                  <div class="drops mdDrop"></div>
                  <div class="drops lgDrop"></div>
                </div>
              </div>
              <span>Khác</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-3">
        <!-- @if (selectedCustomer && hasPermitCustomer && hasUpdateTaskPer) {
          <label class="form-control-label"></label>
          <button
            (click)="handleSyncCustomer()"
            class="w-100 btn button-medium button-sub-primary secondary-color d-flex align-items-center justify-content-center"
          >
            <i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90 me-2"></i>
            Cập nhật cho bản ghi Khách hàng
          </button>
        } -->
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.phone">
          Số điện thoại
        </label>
        <input
          formControlName="phone"
          type="text"
          name="leadDeal.phone"
          id="leadDeal.phone"
          placeholder="Nhập Số điện thoại..."
          class="form-control"
          [class]="submitted && f['phone'].errors ? 'is-invalid' : ''"
        />
      </div>
      <div class="col-3">
        <label class="form-control-label" for="leadDeal.email">Email</label>
        <input
          formControlName="email"
          type="text"
          name="leadDeal.email"
          id="leadDeal.email"
          placeholder="Nhập Email..."
          class="form-control"
          [class]="submitted && f['email'].errors ? 'is-invalid' : ''"
        />
      </div>
    </div>
    <div class="mt-2">
      <label class="form-control-label" for="leadDeal.address">Địa chỉ</label>
      <div id="leadDeal.address" class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <ng-select
            [clearable]="false"
            [ngClass]="{
              'is-invalid': submitted && f['provinceCode'].errors
            }"
            [placeholder]="'Chọn Tỉnh/Thành phố'"
            appearance="outline"
            formControlName="provinceCode"
            id="province"
            labelForId="province"
            (change)="handleChangeLocation($event, 'province')"
            appendTo=".modal"
          >
            @for (item of listProvince; track $index) {
              <ng-option [value]="item?.provinceCode">
                {{ item?.province }}
              </ng-option>
            } @empty {
              <ng-container [ngTemplateOutlet]="selectNoData"></ng-container>
            }
          </ng-select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <ng-select
            [clearable]="false"
            [ngClass]="{
              'input-disabled': !f['provinceCode'].value
            }"
            [disabled]="!f['provinceCode'].value"
            [readonly]="!f['provinceCode'].value"
            [placeholder]="'Chọn Quận/Huyện'"
            appearance="outline"
            formControlName="districtCode"
            id="district"
            labelForId="district"
            (change)="handleChangeLocation($event, 'district')"
            appendTo=".modal"
          >
            @for (item of listDistrict; track $index) {
              <ng-option [value]="item?.districtCode">
                {{ item?.district }}
              </ng-option>
            } @empty {
              <ng-container [ngTemplateOutlet]="selectNoData"></ng-container>
            }
          </ng-select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <ng-select
            [clearable]="false"
            [ngClass]="{
              'input-disabled': !f['districtCode'].value
            }"
            [disabled]="!f['districtCode'].value"
            [readonly]="!f['districtCode'].value"
            [placeholder]="'Chọn Phường/Xã'"
            class="input-medium"
            appearance="outline"
            formControlName="wardCode"
            id="ward"
            labelForId="ward"
            (change)="handleChangeLocation($event, 'ward')"
            appendTo=".modal"
          >
            @for (item of listWard; track $index) {
              <ng-option [value]="item?.wardCode">
                {{ item?.ward }}
              </ng-option>
            } @empty {
              <ng-container [ngTemplateOutlet]="selectNoData"></ng-container>
            }
          </ng-select>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <input
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f['street'].errors
            }"
            (change)="handleCombineAddress()"
            [placeholder]="'Nhập chi tiết (Số nhà, ngách, ngõ, đường)'"
            formControlName="street"
            id="street"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>

  <ng-template #selectNoData>
    <ng-option [value]="null">Không có dữ liệu</ng-option>
  </ng-template>
</form>
