<app-custom-modal
  [isSubmitting]="loading.submit"
  [textOk]="dataSource ? 'Cập nhật' : 'Tạo'"
  (hideModal)="onCancel()"
  (submitModal)="onSubmit()"
>
  <div modalTitle>
    <div class="d-flex align-items-center gap-2">
      <img
        src="./assets/icons/icon-lead/folder.svg"
        alt="Folder"
        width="24"
        height="24"
      />
      <h5 class="modal-title text-neutral">
        {{ dataSource ? 'Cập nhật' : 'Thêm' }} {{ nameTitle }}
      </h5>
    </div>
  </div>

  <div modalBody>
    <form [formGroup]="folderForm">
      <div class="mb-3">
        <label for="folderName" class="text-neutral fw-500">
          Tên {{ nameTitle }}
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          id="folderName"
          class="form-control"
          formControlName="name"
          placeholder="Nhập tên {{ nameTitle }}"
          [class.is-invalid]="submitted && f['name'].errors"
        />
        <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
          Vui lòng nhập tên {{ nameTitle }}
        </div>
      </div>

      <ng-container *ngIf="type === 'group'">
        <div class="mb-3">
          <label for="folderId" class="text-neutral fw-500">
            Thư mục
            <span class="text-danger">*</span>
          </label>
          <ng-select
            formControlName="folderId"
            [items]="folder.rows"
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            [searchable]="false"
            placeholder="Chọn thư mục"
            [class.is-invalid]="submitted && f['folderId'].errors"
            appendTo=".modal"
            [loading]="folder.loading"
            (change)="handleChangeFolder($event)"
          ></ng-select>
          <div
            class="invalid-feedback d-block"
            *ngIf="submitted && f['folderId'].errors"
          >
            Vui lòng chọn thư mục
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="type === 'funnel'">
        <div class="mb-3">
          <label for="funnelGroupId" class="text-neutral fw-500">
            Thư mục - Nhóm phễu
            <span class="text-danger">*</span>
          </label>
          <ng-select
            formControlName="funnelGroupId"
            [items]="funnelGroupOptions"
            [groupBy]="groupByFolder"
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            [searchable]="false"
            placeholder="Chọn nhóm phễu"
            [class.is-invalid]="submitted && f['funnelGroupId'].errors"
            (change)="handleChangeFunnelGroup($event)"
          >
            <ng-template ng-label-tmp let-item="item">
              <span>{{ item.name }} ({{ item.folderName }})</span>
            </ng-template>
          </ng-select>

          <div
            class="invalid-feedback d-block"
            *ngIf="submitted && f['funnelGroupId'].errors"
          >
            Vui lòng chọn nhóm phễu
          </div>
        </div>
      </ng-container>

      <div class="mb-3">
        <label for="funnelGroup" class="text-neutral fw-500">
          Nhóm trạng thái lead
          <span class="text-danger">*</span>
        </label>

        <ng-select
          formControlName="statusGroupId"
          [items]="statusGroups.rows"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          [searchable]="false"
          placeholder="Chọn nhóm trạng thái lead"
          [class.is-invalid]="submitted && f['statusGroupId'].errors"
          appendTo=".modal"
          [loading]="statusGroups.loading"
          [readonly]="!!dataSource"
        >
          <ng-template ng-option-tmp let-item="item">
            <span>{{ item.name }}</span>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <span>{{ item.name }}</span>
          </ng-template>
        </ng-select>

        <div
          class="form-status mt-4"
          *ngIf="folderForm.get('statusGroupId')?.value"
        >
          <span class="text-neutral fw-500">Trạng thái</span>
          <div class="form-status-list">
            <ng-container>
              <div
                *ngFor="let status of statusesByGroupId"
                class="lead-badge"
                [ngStyle]="{
                  'background-color': status.bgColor | hex2rgb,
                  color: status.bgColor
                }"
              >
                {{ status.name }}
              </div>
            </ng-container>
            <ng-container *ngIf="statusesByGroupId.length === 0">
              <div class="text-neutral">Không có trạng thái</div>
            </ng-container>
          </div>
        </div>
      </div>

      <ng-container *ngIf="type === 'funnel'">
        <div class="form-check form-switch mt-2 mb-3">
          <input
            formControlName="isAutoCreateTask"
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="isAutoCreateTask"
          />
          <label
            class="form-check-label text-neutral fw-500 mb-0"
            for="isAutoCreateTask"
          >
            Tự động tạo tác vụ
          </label>
        </div>
      </ng-container>

      <ng-container *ngIf="type === 'funnel'">
        <div class="mb-3">
          <label for="addChainActIds" class="text-neutral fw-500">
            Chuỗi hành động
          </label>
          <ng-select
            formControlName="addChainActIds"
            [items]="actionChains.rows"
            bindLabel="name"
            bindValue="id"
            [clearable]="true"
            [searchable]="false"
            [multiple]="true"
            placeholder="Chọn chuỗi hành động"
            [class.is-invalid]="
              folderForm.get('addChainActIds')?.invalid &&
              folderForm.get('addChainActIds')?.touched
            "
            [dropdownPosition]="'top'"
            [loading]="actionChains.loading"
          ></ng-select>
        </div>
      </ng-container>
    </form>
  </div>
</app-custom-modal>
