.preview-section {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;

  .table {
    margin-bottom: 0;

    tr {
      &:hover {
        .action-add-row {
          width: 20px;
          .btn {
            display: block !important;
          }
          .text {
            display: none;
          }
        }
      }
    }

    .table-success {
      background-color: #d1f2eb !important;

      td {
        border-color: #a3e4d7;
      }
    }

    .table-warning {
      background-color: #fef9e7 !important;

      td {
        border-color: #f7dc6f;
      }
    }
  }
}
